
@mixin GilroyLight() {
    font-family: $Gilroy;
    font-weight: 300;
    font-style: normal;
}

@mixin GilroyReg() {
    font-family: $Gilroy;
    font-weight: 400;
    font-style: normal;
}
  
@mixin GilroyMedium() {
    font-family: $Gilroy;
    font-weight: 500;
    font-style: normal;
}

// @mixin GilroyMediumIt() {
//     font-family: $Gilroy;
//     font-weight: 500;
//     font-style: italic;
// }

@mixin GilroySemibold() {
    font-family: $Gilroy;
    font-weight: 600;
    font-style: normal;
}

@mixin GilroyBold() {
    font-family: $Gilroy;
    font-weight: 700;
    font-style: normal;
}

@mixin GilroyExtrabold() {
    font-family: $Gilroy;
    font-weight: 800;
    font-style: normal;
}

// @mixin GilroyExtraboldIt() {
//     font-family: $Gilroy;
//     font-weight: 800;
//     font-style: italic;
// }

@mixin GilroyHeavy() {
    font-family: $Gilroy;
    font-weight: 900;
    font-style: normal;
}

@mixin GilroyHeavyIt() {
    font-family: $Gilroy;
    font-weight: 900;
    font-style: italic;
}

@mixin NutmegLight() {
    font-family: $Nutmeg;
    font-weight: 200;
    font-style: normal;
}

@mixin NutmegReg() {
    font-family: $Nutmeg;
    font-weight: normal;
    font-style: normal;
}

@mixin NutmegRegIt() {
    font-family: $Nutmeg;
    font-weight: normal;
    font-style: italic;
}

@mixin NutmegBold() {
    font-family: $Nutmeg;
    font-weight: 600;
    font-style: normal;
}

@mixin NutmegBoldIt() {
    font-family: $Nutmeg;
    font-weight: 600;
    font-style: italic;
}

@mixin icon(){
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}