//Configuraciones
/**
 * @license
 * MyFonts Webfont Build ID 3715802, 2019-02-06T03:49:20-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Gilroy-Thin by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/thin/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-UltraLightItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/ultra-light-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-ThinItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/thin-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-SemiBoldItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-SemiBold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-UltraLight by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/ultra-light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Regular by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-RegularItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-MediumItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Medium by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-LightItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Light by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-HeavyItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/heavy-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Heavy by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/heavy/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-ExtraBoldItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-ExtraBold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-BoldItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Bold by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-BlackItalic by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/black-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 * 
 * Webfont: Gilroy-Black by Radomir Tinkov
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/black/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3715802
 * Licensed pageviews: 10,000
 * 
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/38b2da");

//VARIABLES

$Gilroy: 'Gilroy', Helvetica, Arial, sans-serif;
$Nutmeg: 'Nutmeg', Helvetica, Arial, sans-serif;

$default-browser-font-size: 16px !global;

$primary-color: #0FB7CD;
$secondary-color: #143649;
$lightgrey: #f4f4f4;
$palegrey: #DCE3E5;
$linegrey: #B3C1C4;
$linedarkgrey: #92A2A5;
$p-grey: #738080;
$tabs-bg-grey: #A5B3B6; 
$tabs-sel-bg-grey: #DBE2E4;
$tabs-text-grey: #E9EDEE; 
$line-vehicle-grey: #A6B4B7;
$bullet-grey: #8a9ba4;
$tags-bg-grey: $tabs-sel-bg-grey;
$tabs-grey: #DAD7E3;
$tabs-bg-blue: #2B4857;
$text-bg-blue: #15333D;
$form-bg-grey: #DAE1E3;

$black:#000000;
$grey: #7f7f7f;
$white: #FFFFFF;
$dark-blue: #2B4857;
$yellow: #FFC000;
$purple: #925BED;
$bluemarine: #0FC4DA;
$green: #07D15E;
$dark-green: #3d995b;
$red: #F92444;


$img-path: '../img/';
$large-wrap: 1170px;

$menu-break: 1000px;
$menu-break-mobile: $menu-break - 1px;

$menu-mobile-height: 90px;

$tablet: 768px;
$desktop: 1240px;
$bigdesk: 1440px;

$breakpoints: (
  xsmall: 0px,
  small: 320px,
  medium: 768px,
  large: 1024px,
  xlarge: 1400px
);
