.m-group-values{
    input{
        display: none;
        padding: 0px;
    }

    .mgv-wrap{
        display: inline-block;
        background-color: rgba($white, 0.7);
        max-width: 100%;
        border-radius: 5px;
        padding-left: 5px;

        .mgv-option{
            display: inline-block;
            padding: 10px 0px;
            min-width: 26px;
            width: calc((100% - 3px) / 7);
            margin-left: -4px;
            text-align: center;
            position: relative;
            @include NutmegReg();
            font-size: 14px;
            color: $p-grey;

            &:hover{
                background-color: rgba($white, 0.7);
            }

            &::after{
                content: '';
                position: absolute;
                right: 0px;
                top: 3px;
                bottom: 3px;
                display: block;
                width: 1px;
                background-color: #A6B4B7;
            }
            
            &:first-of-type{   
                width: calc(((100% - 3px) / 7) + 3px);     
                padding-left: 3px;
            }

            &:last-of-type{        
                &::after{
                    content: none;
                }
            }

            &.active{
                color: $primary-color;
                font-weight: 600;
                font-size: 14px;
            }
        
        }
            
        &.items2{
            width: 57px;
            .mgv-option{
                width: calc((100% - 3px) / 2);

                &:first-of-type{   
                    width: calc(((100% - 3px) / 2) + 3px);
                }     
            }
        }
        &.items3{
            width: 86px;
            .mgv-option{
                width: calc((100% - 3px) / 3);

                &:first-of-type{   
                    width: calc(((100% - 3px) / 3) + 3px);
                } 
            }
        }
        &.items4{
            width: 109px;
            .mgv-option{
                width: calc((100% - 3px) / 4);
                &:first-of-type{   
                    width: calc(((100% - 3px) / 4) + 3px);
                } 
            }
        }
        &.items5{
            width: 135px;
            .mgv-option{
                width: calc((100% - 3px) / 5);

                &:first-of-type{   
                    width: calc(((100% - 3px) / 5) + 3px);
                } 
            }
        }
        &.items6{
            width: 161px;
            .mgv-option{
                width: calc((100% - 3px) / 6);
                &:first-of-type{   
                    width: calc(((100% - 3px) / 6) + 3px);
                } 
            }
        }
        &.items7{
            width: 187px;
            .mgv-option{
                width: calc((100% - 3px) / 7);
                &:first-of-type{   
                    width: calc(((100% - 3px) / 7) + 3px);
                } 
            }
        }
        &.items8{
            width: 213px;
            .mgv-option{
                width: calc((100% - 3px) / 8);
                &:first-of-type{   
                    width: calc(((100% - 3px) / 8) + 3px);
                } 
            }
        }
        &.items9{
            width: 239px;
            .mgv-option{
                width: calc((100% - 3px) / 9);
                &:first-of-type{   
                    width: calc(((100% - 3px) / 9) + 3px);
                } 
            }
        }
        &.items10{
            width: 265px;
            .mgv-option{
                width: calc((100% - 3px) / 10);

                &:first-of-type{   
                    width: calc(((100% - 3px) / 10) + 3px);
                } 
            }
        }
        &.items11{
            width: 291px;
            .mgv-option{            
                width: calc((100% - 3px) / 11);

                &:first-of-type{   
                    width: calc(((100% - 3px) / 11) + 3px);
                } 
            }
        }




    }
}