%popup{
    position: absolute;
    z-index: 10; 
    display: none;
    
    .wrap{
        width: 100%;
        background-color: rgba($secondary-color, 0.8);
        border-radius: 15px;
        position: relative;
        text-align: center;

        &:before{
            content: " ";
            top: -60px;
            border: solid transparent;
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: rgba($secondary-color,0.8);
            border-width: 30px;
            margin-left: -30px;
        }
    }
}

.m-popup--vehicle-item{
    @extend %popup;
    top: 47px;
    right: -141px;
    width: 300px;
    
    .wrap{
        padding: 45px 33px;

        &:before{
            top: -60px;
            left: 200px;
            
            @include breakpoints($tablet){
                left: 50%;
            }
        }

        p{
            @include GilroyMedium();
        }
    }
}

.m-popup--share{
    @extend %popup;
    top: 40px;
    right: -240px;
    width: 300px;
    
    @include breakpoints(1000px){
        right: -140px;
    }
    

    .wrap{
        padding: 15px 33px;

        &:before{
            top: -20px;
            left: 50px;
            border-width: 10px;
            margin-left: -10px;

            @include breakpoints(1000px){
                left: 50%;
            }
        }

        @include all-class('icon-'){
            border-radius: 50%;
            display: inline-block;
            width: 35px;
            height: 35px;
            position: relative;
            margin: 2px;
            &:before{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 2;
            }

            &:after{
                content: '';
                display: inline-block;
                background-color: $white;
                position: absolute;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                top: 3px;
                left: 3px;

            }
        }

        p{
            @include GilroyMedium();
            color: white;
            text-align: center;
        }
    }
}