.o-about-us-module{
    background-color: $primary-color;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 0px 30px;

    @include breakpoints($tablet){
        padding: 79px;
    }

    @include breakpoints($desktop){
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        max-height: 600px;
        padding: 95px 75px 40px;

    }

    .m-video-item{
        width: 100%;
        
        @include breakpoints($tablet){
            width: 610px;
            margin: 0 auto;
        }
        
        @include breakpoints($desktop){
            margin: 0px;
        }
    }

    .oau-content{
        width: 300px;
        margin: 0 auto;
        text-align: center;

        @include breakpoints($tablet){
            width: 610px;
        }

        @include breakpoints($desktop){
            width: 465px;
            text-align: left;
        }

        .body{
            padding: 20px 0px 30px;

            @include breakpoints($tablet){
                padding: 32px 0px 40px;
            }
    
            @include breakpoints($desktop){
                padding: 25px 0px 30px;
            }
        }

        h4{
            padding-top:55px;

            @include breakpoints($tablet){
                padding-top:50px;
            }
    
            @include breakpoints($desktop){
                padding-top:0px;
            }
        }
    }

}