.o-flota-selec-module{
    margin: 0 auto;
    position: relative;

    .msi-select{
        background-color: $primary-color;
        border-radius: 20px;
        padding: 5px 10px;
        position: relative;
        
        .selected{
            display: inline-block;
            color: $white;
            @include NutmegBold();
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: calc(100% - 20px);
            @include all-class("icon-"){
                font-size: 40px;
                vertical-align: -10px;
            };
        }

        .icon-down{
            position: absolute;
            color: $secondary-color;
            font-size: 20px;
            right: 15px;
            top: 15px;

            .wrap{
                position: relative;
            }
        }
    }
    .m-menu--dropdown{
        position: absolute;
        display: none;
        width: 220px;
        z-index: 100;
        right: -60px;
        
        @include breakpoints($tablet){
            right: -85px;
        }

        ul{
            li:first-of-type:before{
                left: 64%;

                @include breakpoints($tablet){
                    left: 50%;
                }
            }
        }
    }
}