.o-keygonline-module{
    padding: 30px 0px;
    background-color: $primary-color;
    margin-bottom: 60px;


    @include breakpoints(large){
        padding: 60px 0px;
    }
    .kgo-header{
        padding-bottom: 30px;

        h2.blue{
            color: $secondary-color;
            text-align: center;
            margin-bottom: 30px;
        }
        h4{
            color: $white;
            font-size: 21px;
            width: 280px;
            margin: 0 auto;
            text-align: center;

            @include breakpoints(medium){
                width: 600px;
            }
            @include breakpoints(large){
                width: 900px;
            }
        }
    }

    .o-swiper--keygonline{
        h4{
            color: $secondary-color;
            font-size: 21px;
        }
    }

    .kgo-tag{
        color: $secondary-color;
    }

    .swiper-pagination-bullet-active{
        background-color: $white;
    }
}