html, body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    position: relative; }

/* Grid */
.grid-row {
    *zoom: 1; }
    .grid-row:before, .grid-row:after {
      content: " ";
      display: table; }
    .grid-row:after {
      clear: both; }
  
  .grid-xs-1 {
    float: left;
    width: 8.33333%; }
  
  .grid-xs-2 {
    float: left;
    width: 16.66667%; }
  
  .grid-xs-3 {
    float: left;
    width: 25%; }
  
  .grid-xs-4 {
    float: left;
    width: 33.33333%; }
  
  .grid-xs-5 {
    float: left;
    width: 41.66667%; }
  
  .grid-xs-6 {
    float: left;
    width: 50%; }
  
  .grid-xs-7 {
    float: left;
    width: 58.33333%; }
  
  .grid-xs-8 {
    float: left;
    width: 66.66667%; }
  
  .grid-xs-9 {
    float: left;
    width: 75%; }
  
  .grid-xs-10 {
    float: left;
    width: 83.33333%; }
  
  .grid-xs-11 {
    float: left;
    width: 91.66667%; }
  
  .grid-xs-12 {
    float: left;
    width: 100%; }
  
  @media only screen and (min-width: 320px) {
    .grid-sm-1 {
      float: left;
      width: 8.33333%; }
    .grid-sm-2 {
      float: left;
      width: 16.66667%; }
    .grid-sm-3 {
      float: left;
      width: 25%; }
    .grid-sm-4 {
      float: left;
      width: 33.33333%; }
    .grid-sm-5 {
      float: left;
      width: 41.66667%; }
    .grid-sm-6 {
      float: left;
      width: 50%; }
    .grid-sm-7 {
      float: left;
      width: 58.33333%; }
    .grid-sm-8 {
      float: left;
      width: 66.66667%; }
    .grid-sm-9 {
      float: left;
      width: 75%; }
    .grid-sm-10 {
      float: left;
      width: 83.33333%; }
    .grid-sm-11 {
      float: left;
      width: 91.66667%; }
    .grid-sm-12 {
      float: left;
      width: 100%; } }
  
  @media only screen and (min-width: 768px) {
    .grid-md-1 {
      float: left;
      width: 8.33333%; }
    .grid-md-2 {
      float: left;
      width: 16.66667%; }
    .grid-md-3 {
      float: left;
      width: 25%; }
    .grid-md-4 {
      float: left;
      width: 33.33333%; }
    .grid-md-5 {
      float: left;
      width: 41.66667%; }
    .grid-md-6 {
      float: left;
      width: 50%; }
    .grid-md-7 {
      float: left;
      width: 58.33333%; }
    .grid-md-8 {
      float: left;
      width: 66.66667%; }
    .grid-md-9 {
      float: left;
      width: 75%; }
    .grid-md-10 {
      float: left;
      width: 83.33333%; }
    .grid-md-11 {
      float: left;
      width: 91.66667%; }
    .grid-md-12 {
      float: left;
      width: 100%; } }
  
  @media only screen and (min-width: 1024px) {
    .grid-lg-1 {
      float: left;
      width: 8.33333%; }
    .grid-lg-2 {
      float: left;
      width: 16.66667%; }
    .grid-lg-3 {
      float: left;
      width: 25%; }
    .grid-lg-4 {
      float: left;
      width: 33.33333%; }
    .grid-lg-5 {
      float: left;
      width: 41.66667%; }
    .grid-lg-6 {
      float: left;
      width: 50%; }
    .grid-lg-7 {
      float: left;
      width: 58.33333%; }
    .grid-lg-8 {
      float: left;
      width: 66.66667%; }
    .grid-lg-9 {
      float: left;
      width: 75%; }
    .grid-lg-10 {
      float: left;
      width: 83.33333%; }
    .grid-lg-11 {
      float: left;
      width: 91.66667%; }
    .grid-lg-12 {
      float: left;
      width: 100%; } }
  
  @media only screen and (min-width: 1400px) {
    .grid-xl-1 {
      float: left;
      width: 8.33333%; }
    .grid-xl-2 {
      float: left;
      width: 16.66667%; }
    .grid-xl-3 {
      float: left;
      width: 25%; }
    .grid-xl-4 {
      float: left;
      width: 33.33333%; }
    .grid-xl-5 {
      float: left;
      width: 41.66667%; }
    .grid-xl-6 {
      float: left;
      width: 50%; }
    .grid-xl-7 {
      float: left;
      width: 58.33333%; }
    .grid-xl-8 {
      float: left;
      width: 66.66667%; }
    .grid-xl-9 {
      float: left;
      width: 75%; }
    .grid-xl-10 {
      float: left;
      width: 83.33333%; }
    .grid-xl-11 {
      float: left;
      width: 91.66667%; }
    .grid-xl-12 {
      float: left;
      width: 100%; } }


      .pd-10 {
        padding: 10px; }
      
      .pdt-10 {
        padding-top: 10px; }
      
      .pdr-10 {
        padding-right: 10px; }
      
      .pdb-10 {
        padding-bottom: 10px; }
      
      .pdl-10 {
        padding-left: 10px; }
      
      .pd-20 {
        padding: 20px; }
      
      .pdt-20 {
        padding-top: 20px; }
      
      .pdr-20 {
        padding-right: 20px; }
      
      .pdb-20 {
        padding-bottom: 20px; }
      
      .pdl-20 {
        padding-left: 20px; }
      
      .pd-30 {
        padding: 30px; }
      
      .pdt-30 {
        padding-top: 30px; }
      
      .pdr-30 {
        padding-right: 30px; }
      
      .pdb-30 {
        padding-bottom: 30px; }
      
      .pdl-30 {
        padding-left: 30px; }
      
      .pd-40 {
        padding: 40px; }
      
      .pdt-40 {
        padding-top: 40px; }
      
      .pdr-40 {
        padding-right: 40px; }
      
      .pdb-40 {
        padding-bottom: 40px; }
      
      .pdl-40 {
        padding-left: 40px; }
      
      .pd-50 {
        padding: 50px; }
      
      .pdt-50 {
        padding-top: 50px; }
      
      .pdr-50 {
        padding-right: 50px; }
      
      .pdb-50 {
        padding-bottom: 50px; }
      
      .pdl-50 {
        padding-left: 50px; }
      
      .pd-60 {
        padding: 60px; }
      
      .pdt-60 {
        padding-top: 60px; }
      
      .pdr-60 {
        padding-right: 60px; }
      
      .pdb-60 {
        padding-bottom: 60px; }
      
      .pdl-60 {
        padding-left: 60px; }
      
      .pd-70 {
        padding: 70px; }
      
      .pdt-70 {
        padding-top: 70px; }
      
      .pdr-70 {
        padding-right: 70px; }
      
      .pdb-70 {
        padding-bottom: 70px; }
      
      .pdl-70 {
        padding-left: 70px; }
      
      .pd-80 {
        padding: 80px; }
      
      .pdt-80 {
        padding-top: 80px; }
      
      .pdr-80 {
        padding-right: 80px; }
      
      .pdb-80 {
        padding-bottom: 80px; }
      
      .pdl-80 {
        padding-left: 80px; }
      
      .pd-90 {
        padding: 90px; }
      
      .pdt-90 {
        padding-top: 90px; }
      
      .pdr-90 {
        padding-right: 90px; }
      
      .pdb-90 {
        padding-bottom: 90px; }
      
      .pdl-90 {
        padding-left: 90px; }
      
      @media only screen and (min-width: 320px) {
        .pd-sm-10 {
          padding: 10px; }
        .pdt-sm-10 {
          padding-top: 10px; }
        .pdr-sm-10 {
          padding-right: 10px; }
        .pdb-sm-10 {
          padding-bottom: 10px; }
        .pdl-sm-10 {
          padding-left: 10px; }
        .pd-sm-20 {
          padding: 20px; }
        .pdt-sm-20 {
          padding-top: 20px; }
        .pdr-sm-20 {
          padding-right: 20px; }
        .pdb-sm-20 {
          padding-bottom: 20px; }
        .pdl-sm-20 {
          padding-left: 20px; }
        .pd-sm-30 {
          padding: 30px; }
        .pdt-sm-30 {
          padding-top: 30px; }
        .pdr-sm-30 {
          padding-right: 30px; }
        .pdb-sm-30 {
          padding-bottom: 30px; }
        .pdl-sm-30 {
          padding-left: 30px; }
        .pd-sm-40 {
          padding: 40px; }
        .pdt-sm-40 {
          padding-top: 40px; }
        .pdr-sm-40 {
          padding-right: 40px; }
        .pdb-sm-40 {
          padding-bottom: 40px; }
        .pdl-sm-40 {
          padding-left: 40px; }
        .pd-sm-50 {
          padding: 50px; }
        .pdt-sm-50 {
          padding-top: 50px; }
        .pdr-sm-50 {
          padding-right: 50px; }
        .pdb-sm-50 {
          padding-bottom: 50px; }
        .pdl-sm-50 {
          padding-left: 50px; }
        .pd-sm-60 {
          padding: 60px; }
        .pdt-sm-60 {
          padding-top: 60px; }
        .pdr-sm-60 {
          padding-right: 60px; }
        .pdb-sm-60 {
          padding-bottom: 60px; }
        .pdl-sm-60 {
          padding-left: 60px; }
        .pd-sm-70 {
          padding: 70px; }
        .pdt-sm-70 {
          padding-top: 70px; }
        .pdr-sm-70 {
          padding-right: 70px; }
        .pdb-sm-70 {
          padding-bottom: 70px; }
        .pdl-sm-70 {
          padding-left: 70px; }
        .pd-sm-80 {
          padding: 80px; }
        .pdt-sm-80 {
          padding-top: 80px; }
        .pdr-sm-80 {
          padding-right: 80px; }
        .pdb-sm-80 {
          padding-bottom: 80px; }
        .pdl-sm-80 {
          padding-left: 80px; }
        .pd-sm-90 {
          padding: 90px; }
        .pdt-sm-90 {
          padding-top: 90px; }
        .pdr-sm-90 {
          padding-right: 90px; }
        .pdb-sm-90 {
          padding-bottom: 90px; }
        .pdl-sm-90 {
          padding-left: 90px; } }
      
      @media only screen and (min-width: 768px) {
        .pd-md-10 {
          padding: 10px; }
        .pdt-md-10 {
          padding-top: 10px; }
        .pdr-md-10 {
          padding-right: 10px; }
        .pdb-md-10 {
          padding-bottom: 10px; }
        .pdl-md-10 {
          padding-left: 10px; }
        .pd-md-20 {
          padding: 20px; }
        .pdt-md-20 {
          padding-top: 20px; }
        .pdr-md-20 {
          padding-right: 20px; }
        .pdb-md-20 {
          padding-bottom: 20px; }
        .pdl-md-20 {
          padding-left: 20px; }
        .pd-md-30 {
          padding: 30px; }
        .pdt-md-30 {
          padding-top: 30px; }
        .pdr-md-30 {
          padding-right: 30px; }
        .pdb-md-30 {
          padding-bottom: 30px; }
        .pdl-md-30 {
          padding-left: 30px; }
        .pd-md-40 {
          padding: 40px; }
        .pdt-md-40 {
          padding-top: 40px; }
        .pdr-md-40 {
          padding-right: 40px; }
        .pdb-md-40 {
          padding-bottom: 40px; }
        .pdl-md-40 {
          padding-left: 40px; }
        .pd-md-50 {
          padding: 50px; }
        .pdt-md-50 {
          padding-top: 50px; }
        .pdr-md-50 {
          padding-right: 50px; }
        .pdb-md-50 {
          padding-bottom: 50px; }
        .pdl-md-50 {
          padding-left: 50px; }
        .pd-md-60 {
          padding: 60px; }
        .pdt-md-60 {
          padding-top: 60px; }
        .pdr-md-60 {
          padding-right: 60px; }
        .pdb-md-60 {
          padding-bottom: 60px; }
        .pdl-md-60 {
          padding-left: 60px; }
        .pd-md-70 {
          padding: 70px; }
        .pdt-md-70 {
          padding-top: 70px; }
        .pdr-md-70 {
          padding-right: 70px; }
        .pdb-md-70 {
          padding-bottom: 70px; }
        .pdl-md-70 {
          padding-left: 70px; }
        .pd-md-80 {
          padding: 80px; }
        .pdt-md-80 {
          padding-top: 80px; }
        .pdr-md-80 {
          padding-right: 80px; }
        .pdb-md-80 {
          padding-bottom: 80px; }
        .pdl-md-80 {
          padding-left: 80px; }
        .pd-md-90 {
          padding: 90px; }
        .pdt-md-90 {
          padding-top: 90px; }
        .pdr-md-90 {
          padding-right: 90px; }
        .pdb-md-90 {
          padding-bottom: 90px; }
        .pdl-md-90 {
          padding-left: 90px; } }
      
      @media only screen and (min-width: 1024px) {
        .pd-lg-10 {
          padding: 10px; }
        .pdt-lg-10 {
          padding-top: 10px; }
        .pdr-lg-10 {
          padding-right: 10px; }
        .pdb-lg-10 {
          padding-bottom: 10px; }
        .pdl-lg-10 {
          padding-left: 10px; }
        .pd-lg-20 {
          padding: 20px; }
        .pdt-lg-20 {
          padding-top: 20px; }
        .pdr-lg-20 {
          padding-right: 20px; }
        .pdb-lg-20 {
          padding-bottom: 20px; }
        .pdl-lg-20 {
          padding-left: 20px; }
        .pd-lg-30 {
          padding: 30px; }
        .pdt-lg-30 {
          padding-top: 30px; }
        .pdr-lg-30 {
          padding-right: 30px; }
        .pdb-lg-30 {
          padding-bottom: 30px; }
        .pdl-lg-30 {
          padding-left: 30px; }
        .pd-lg-40 {
          padding: 40px; }
        .pdt-lg-40 {
          padding-top: 40px; }
        .pdr-lg-40 {
          padding-right: 40px; }
        .pdb-lg-40 {
          padding-bottom: 40px; }
        .pdl-lg-40 {
          padding-left: 40px; }
        .pd-lg-50 {
          padding: 50px; }
        .pdt-lg-50 {
          padding-top: 50px; }
        .pdr-lg-50 {
          padding-right: 50px; }
        .pdb-lg-50 {
          padding-bottom: 50px; }
        .pdl-lg-50 {
          padding-left: 50px; }
        .pd-lg-60 {
          padding: 60px; }
        .pdt-lg-60 {
          padding-top: 60px; }
        .pdr-lg-60 {
          padding-right: 60px; }
        .pdb-lg-60 {
          padding-bottom: 60px; }
        .pdl-lg-60 {
          padding-left: 60px; }
        .pd-lg-70 {
          padding: 70px; }
        .pdt-lg-70 {
          padding-top: 70px; }
        .pdr-lg-70 {
          padding-right: 70px; }
        .pdb-lg-70 {
          padding-bottom: 70px; }
        .pdl-lg-70 {
          padding-left: 70px; }
        .pd-lg-80 {
          padding: 80px; }
        .pdt-lg-80 {
          padding-top: 80px; }
        .pdr-lg-80 {
          padding-right: 80px; }
        .pdb-lg-80 {
          padding-bottom: 80px; }
        .pdl-lg-80 {
          padding-left: 80px; }
        .pd-lg-90 {
          padding: 90px; }
        .pdt-lg-90 {
          padding-top: 90px; }
        .pdr-lg-90 {
          padding-right: 90px; }
        .pdb-lg-90 {
          padding-bottom: 90px; }
        .pdl-lg-90 {
          padding-left: 90px; } }
      
      @media only screen and (min-width: 1400px) {
        .pd-xl-10 {
          padding: 10px; }
        .pdt-xl-10 {
          padding-top: 10px; }
        .pdr-xl-10 {
          padding-right: 10px; }
        .pdb-xl-10 {
          padding-bottom: 10px; }
        .pdl-xl-10 {
          padding-left: 10px; }
        .pd-xl-20 {
          padding: 20px; }
        .pdt-xl-20 {
          padding-top: 20px; }
        .pdr-xl-20 {
          padding-right: 20px; }
        .pdb-xl-20 {
          padding-bottom: 20px; }
        .pdl-xl-20 {
          padding-left: 20px; }
        .pd-xl-30 {
          padding: 30px; }
        .pdt-xl-30 {
          padding-top: 30px; }
        .pdr-xl-30 {
          padding-right: 30px; }
        .pdb-xl-30 {
          padding-bottom: 30px; }
        .pdl-xl-30 {
          padding-left: 30px; }
        .pd-xl-40 {
          padding: 40px; }
        .pdt-xl-40 {
          padding-top: 40px; }
        .pdr-xl-40 {
          padding-right: 40px; }
        .pdb-xl-40 {
          padding-bottom: 40px; }
        .pdl-xl-40 {
          padding-left: 40px; }
        .pd-xl-50 {
          padding: 50px; }
        .pdt-xl-50 {
          padding-top: 50px; }
        .pdr-xl-50 {
          padding-right: 50px; }
        .pdb-xl-50 {
          padding-bottom: 50px; }
        .pdl-xl-50 {
          padding-left: 50px; }
        .pd-xl-60 {
          padding: 60px; }
        .pdt-xl-60 {
          padding-top: 60px; }
        .pdr-xl-60 {
          padding-right: 60px; }
        .pdb-xl-60 {
          padding-bottom: 60px; }
        .pdl-xl-60 {
          padding-left: 60px; }
        .pd-xl-70 {
          padding: 70px; }
        .pdt-xl-70 {
          padding-top: 70px; }
        .pdr-xl-70 {
          padding-right: 70px; }
        .pdb-xl-70 {
          padding-bottom: 70px; }
        .pdl-xl-70 {
          padding-left: 70px; }
        .pd-xl-80 {
          padding: 80px; }
        .pdt-xl-80 {
          padding-top: 80px; }
        .pdr-xl-80 {
          padding-right: 80px; }
        .pdb-xl-80 {
          padding-bottom: 80px; }
        .pdl-xl-80 {
          padding-left: 80px; }
        .pd-xl-90 {
          padding: 90px; }
        .pdt-xl-90 {
          padding-top: 90px; }
        .pdr-xl-90 {
          padding-right: 90px; }
        .pdb-xl-90 {
          padding-bottom: 90px; }
        .pdl-xl-90 {
          padding-left: 90px; } }
      


/* Custom File Upload */

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1; }

.inputfile + label {
width: 100%;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
cursor: pointer;
display: inline-block;
overflow: hidden; }

.inputfile:focus + label,
.inputfile.has-focus + label {
outline: 1px dotted #000;
outline: -webkit-focus-ring-color auto 5px; }

.inputfile + label svg {
width: 1em;
height: 1em;
vertical-align: middle;
fill: currentColor;
margin-top: -0.25em;
/* 4px */
margin-right: 0.25em;
/* 4px */ }

/* style 6 */
.inputfile-6 + label {
color: #5b5b5f; }

.inputfile-6 + label {
border: 1px solid #dadbdf;
background-color: #FFFFFF;
padding: 0;
height: 40px;
font-weight: normal;
position: relative;
padding-top: 0px !important; }

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
*zoom: 1;
border-color: #dadbdf; }
.inputfile-6:focus + label:before, .inputfile-6:focus + label:after,
.inputfile-6.has-focus + label:before,
.inputfile-6.has-focus + label:after,
.inputfile-6 + label:hover:before,
.inputfile-6 + label:hover:after {
    content: " ";
    display: table; }
.inputfile-6:focus + label:after,
.inputfile-6.has-focus + label:after,
.inputfile-6 + label:hover:after {
    clear: both; }

.inputfile-6 + label span,
.inputfile-6 + label strong {
padding: 10px 10px;
line-height: 20px;
/* 10px 20px */ }

.inputfile-6 + label span {
width: 200px;
min-height: 1.5em;
display: inline-block;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
vertical-align: top;
font-size: 1rem;
font-family: "Lato", Arial, Helvetica, sans-serif;
color: #5b5b5f; }

.inputfile-6 + label strong {
height: 100%;
font-size: 0.875rem;
font-family: "Lato", Arial, Helvetica, sans-serif;
color: #FFFFFF;
background-color: #7c8e9e;
display: inline-block;
font-weight: 300;
line-height: 16px;
padding: 10px 20px 9px;
position: absolute;
top: 0;
right: 0; }

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
background-color: #7c8e9e; }

@media screen and (max-width: 50em) {
.inputfile-6 + label strong {
    display: block; } }


/* Maquetació taules GRID */

.flexigrid {
    max-width: 95%;
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

.flexigrid div.mDiv, .flexigrid div.tDiv {
    background: white;
    border: 0px;
    padding: 5px 12px;
}

.flexigrid table tr.hDiv th div, .flexigrid div.bDiv td div, div.colCopy div {
    padding: 15px 20px;
}

.flexigrid table tr.hDiv th, .flexigrid div.bDiv td {
    border: 1px solid transparent;
    border: 1px solid transparent;
}

.flexigrid div.btnseparator {
    display: none;
}


.flexigrid div.fbutton, input[type="button"], input[type="reset"], input[type="submit"], select {
    padding: 10px 24px;
    border-radius: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    box-shadow: 0 1px 2px #c8d1d3;
    margin-bottom: 5px;
    border-color: #e7edee;
    background-color: #FFF;
    color: #333;
    position: relative;
    z-index: 99;
    top:  0;
}
.flexigrid div.fbutton:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    padding: 10px 18px 10px 24px;
    border-radius: 4px;
    border-style: solid;
    box-shadow:  0 2px 2px #c8d1d3;
    color: #333;
    opacity: 0.9;
}

select {
    padding: 50px;
    height: 42px;
    width: 140px;
}



.flexigrid table tr.hDiv {
    background: #fafafa;
    position: relative;
    border: 1px solid #ececec;
    border-bottom: 0px;
    border-left: 0px;
    overflow: hidden;
    border-right: 0px;
}


.flexigrid div.sDiv {
    background: #ffffff;
    position: relative;
    border: 1px solid #fff;
    border-top: 0px;
    overflow: hidden;
    padding: 10px 14px;
}


/* /Flexigrid */

.datatables {
    margin: 0 auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background: #ffffff;
    border: 0;
    border-radius: 3px !important;
    overflow: hidden;
    box-shadow: 0 1px 2px #c8d1d3;
}

.datatables div.form-div {
  font-family: 'Open Sans', sans-serif;
}


.datatables-add-button {
    padding-top: 10px;
    padding-left: 0;
    margin-left: 0;
    z-index: 5;
}

.ui-button, input[type="button"], input[type="reset"], input[type="submit"], select, .ui-state-default, .ui-widget-content .ui-state-default, .qq-upload-button, .qq-upload-button:hover {
    padding: 10px 18px 10px 24px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    box-shadow: 0 1px 0px #c8d1d3;
    margin-bottom: 5px;
    border-color: #e7edee;
    background: #FFF;
    color: #333;
    position: relative;
    z-index: 99;
    top:  0;
}
table .ui-button, table input[type="button"], table input[type="reset"] {
    padding: 5px 5px 5px 10px;
}

.report-div p {
  background-size:  16px !important;
}

.report-div.success a {
  color: #446950;
}

.datatables-add-button .ui-button:hover, .fileinput-button:hover {
    top:  -2px;
    opacity: 0.9;
    box-shadow:  0 2px 2px #c8d1d3;
}

.clear-filtering, .refresh-data {
  padding:  5px 10px;
}
.clear-filtering .ui-button-icon-primary {
  left: 0.4em !important;
  }

.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: 1.2em;
}

table .ui-button-text-icon-primary .ui-button-icon-primary, table .ui-button-text-icons .ui-button-icon-primary, table .ui-button-icons-only .ui-button-icon-primary {
    left: 0.6em;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 0.4em .4em 1em;
}

.dataTables_wrapper .ui-toolbar {
    padding: 10px 20px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-widget-header {
    border-top: 0px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    border-left: 0px solid #eaeaea;
    border-right: 0px solid #eaeaea;
    background: #ffffff;
    color: #222;
}

div.dataTables_wrapper div.dataTables_filter input, .groceryCrudTable tfoot tr th input[type=text], .datatables div.form-div input[type=text], .datatables div.form-div textarea, .readonly_label {
    width: auto;
    border-radius: 1px;
    border: 1px solid #d4d4d4;
    padding: 6px 8px;
    -webkit-box-shadow: inset 1px 1px 5px -2px rgba(0,0,0,0.14);
    -moz-box-shadow: inset 1px 1px 5px -2px rgba(0,0,0,0.14);
    box-shadow: inset 1px 1px 5px -2px rgba(0,0,0,0.14);

}

.readonly_label {
  cursor:  not-allowed;
}

.groceryCrudTable tfoot tr th input[type=text], .datatables div.form-div input[type=text], .datatables div.form-div textarea  {
  width:  100%;
  overflow-x: hidden;
}

.grocerycrud-container {
    font-size: 11px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
  font-size: 11px;
}

.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
  word-break:  break-word;
}

select {
    padding: 5px;
}



table.dataTable tfoot th {
    padding: 5px 18px 5px 10px;
    
    font-weight: bold;
    border: 0px solid #d3d3d3;
    background:  #ffffff;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #ececec;

}


table.dataTable thead th {
  background: #fff;
  border: 0px;
  padding: 10px 8px;
  border-bottom: 0px solid black;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
   font-size: 12px;
}

table.dataTable td {
    padding: 5px 8px;
}

table.dataTable tr.odd {
    background-color: #f9f9f9;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #f9f9f9;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #ffffff;
}

div.dataTables_wrapper div.dataTables_length select, div.dataTables_wrapper div.dataTables_length label, td .ui-button {
    margin-bottom: 0;
}

div.dataTables_wrapper {
  overflow-x: auto;
}

.fa-file {
      background-position: 0px -97px;
}


#fancybox-wrap {
  z-index: 999999;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -30px;
}

.dataTable{
    width: 100% !important;
}

.error,
.validation_error_message {
  font-size: 12px;
  color: #d0011b;
  font-style: italic;
}

/* Forms */
input[type="text"], input[type="email"], input[type="password"], textarea{
    border-radius: 2px;
    padding: 10px 15px;
    height: auto;
    font-size: 1em;
    line-height: auto;
    border: 1px solid #c8d1d3;
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 15px; 
    width: 100%;
    background-color: rgb(250, 250, 250);
}

input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, textarea:hover{
    background-color: #fff;
}

label{
    font-weight: 400;
    font-size: 1em;
    text-align: left; 
}

.field-comment {
  display: none;
  font-size: 13px;
  font-style: italic;
  color: #d0011b;
  padding: 5px; }
  .field-comment.active {
    display: block; }

.form-display-as-box {
    float: none;
    width: 100%;
    padding-top: 7px;
}

.form-field-box.even {
    background: #ffffff;
}

.form-input-box {
    float: none;
    width: 100%;
    max-width: 85%;
}

 .datatables div.form-div input[type=text] {
    padding: 10px 15px;
    min-height: 40px;
    border-radius: 2px;
}

.form-field-box {
    padding: 15px 25px 5px 25px;
    margin-right: 0;
}

.form-title{
    border: 0px !important;
    padding: 10px 20px 10px !important;
    background: #ffffff !important;
    font-size: 24px;
    font-weight: normal !important;
    color: #555;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cacaca;
  font-weight: normal;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cacaca;
  font-weight: normal;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cacaca;
  font-weight: normal;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cacaca;
  font-weight: normal;
}

#form-button-save {
  background: rgb(59,146,204); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(59,146,204,1) 1%, rgba(34,97,173,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(59,146,204,1) 1%,rgba(34,97,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(59,146,204,1) 1%,rgba(34,97,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b92cc', endColorstr='#2261ad',GradientType=0 ); /* IE6-9 */
  color: #fff;
  padding-left:  40px;
  padding-right:  40px;
}

.buttons-box {
    padding-left: 25px;
}

div.form-button-box {
    margin-right: 15px;
    margin-left: 0;
}

aside.app-sidebar .sidebar-header .sidebar-brand {
    padding: 20px;
}
aside.app-sidebar {
  min-height: 100% !important;
  height: auto;
}

body .app-container {
  min-height: auto;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active{
    border-bottom: 1px solid #eaeaea;
}

/* Sidebar buttons */
aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a {
    padding: 1rem 20px;
    position: relative;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon {
    background-color: transparent;
    border: 1px solid #eaeaea;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon i.fa, aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon i.ion {
    font-size: 1.4em;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .icon{
  margin-top: 3px;
  width: 10px;
  height: 10px;
  float:  left;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a:hover .icon i.fa, aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a:hover .icon i.ion{
    transform: scale(1);
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li.active > a .icon {
    background-color: transparent;
    color: rgba(67, 169, 208, 0.45);
    border: 0px solid rgb(67, 169, 208);
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .title {
    color: #5d6e71;
    text-transform: none;
    padding-left: 20px;
    text-align: left;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav > li > a .total{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 10px;
    padding-top: 7px;
    background-color: #7c8e9e;
    color: white;
    border-radius: 50px;
    top: 5px;
    right: 5px;
    text-align: center;
}

.line-1px {
    margin-top: 11px;
    border-top: 1px solid #e2e2e2;
    height: 1px;
    margin-bottom: 9px;
}

.footer-copyright {
  display: none;
}

.app-footer {
  height: 50px;
}

#ui-datepicker-div {
    z-index: 9999 !important;
    width: auto;
    border: 0;
    padding: 12px 15px;
    -webkit-box-shadow: 4px 5px 48px -6px rgba(0,0,0,0.33);
    -moz-box-shadow: 4px 5px 48px -6px rgba(0,0,0,0.33);
    box-shadow: 4px 5px 48px -6px rgba(0,0,0,0.33);
}

#ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-state-default{
      padding: 12px 18px;
    text-align: center;
}


#ui-datepicker-div .ui-priority-primary, .ui-widget-content .ui-priority-primary {
  font-weight: normal;
}

.ui-slider-handle.ui-state-default {
    padding: 0px 9px !important;
    top: -5px;
}
.ui-slider-handle.ui-state-default:hover {
  top:  -5px;
  opacity: 1;
  border-radius:  3px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
    height: 35px;
    margin: 0 2%;
    margin-bottom: 4px;
}

aside.app-sidebar .sidebar-menu ul.sidebar-nav {
    padding: 30px 0 0;
}

#field-fecha {
  min-width: 170px;
}

.ui-state-default.ui-state-highlight {
  background-color: #53a9b0;
  color: #fff;
}

.ui-state-default.ui-state-active {
  background-color: #ffffff;
  color: #FF9800;
}


.body-crud{
      padding-left: 30px;
    padding-right: 30px;
}


.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow-y: hidden;
    padding: 7px 0 0 8px;
    height: 40px;
    border: 1px solid #dedede;
    border-radius: 2px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #6b6b6b;
    line-height: 27px;
}

.chosen-container-single .chosen-single div b {
    background-position: 0px 11px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b{
  background-position: -17px 10px;
  background-repeat:  no-repeat;
}

.chosen-container {
      width: 100% !important;
    max-width: 300px;
}


/* Reports */

.report-div.success {
    border-color: #57da96;
    background-color: #57da96;
    color: #ffffff;
}

/* dashboard */

body .app-container > div.row{
    display: table;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.card.card-banner .card-body .content .value {
  font-size: 2em;
  color: #667479;
}

.card.card-banner .card-body .icon {
    font-size: 3em;
    color: #667479;
}

.card.card-banner:hover {
    top: -3px;
    box-shadow:  0 8px 22px #c8d1d3;
}

.card.card-banner {
    transition: all 0.2s ease-out;
    top: 0;

}

.card-body .title{
    position: relative;
} 

.card-body .title .total{
    position: absolute;
    left: -35px;
    top: -5px;
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: white;
    background-color: #7c8e9e;;
    border-radius: 50px;
    text-align: center;
    padding-top: 7px;
} 


.card.card-green-light:hover .card-body .icon {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotate(43deg);
    background: transparent;
    top: 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 15px;
}

.bola_urgente {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #d0011b; }


.table-rwd td{
  padding: 2px 20px;
}


/* FIX WORD WRAP */

table.dataTable td {
    word-break: break-all;
}

/* Fix block text */

.form-input-box .panel-body {
  height: 280px !important;
}

@media (min-width: 1200px) {
  #crudForm .container {
      width: 100%;
  }

  .panel-footer {
      padding: 5px 15px;
      color: transparent;
  }

  .panel.panel-primary {
      border-color: #e0e0e0;
  }
}

@media (min-width: 992px) {
  #crudForm .container {
      width: 100%;
  }
}

@media (min-width: 768px) {
  #crudForm .container {
      width: 100%;
  }
}

  @media (max-width: 1280px) {
    .form-input-box {
      float: none;
      width: 100%;
      max-width: 100% !important; 
  }
}


/* SWEETALERT 2 CSS */
body.swal2-in {
  overflow-y: hidden; }

body.swal2-iosfix {
  position: fixed;
  left: 0;
  right: 0; }

.swal2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: transparent;
  z-index: 1060; }

.swal2-container:not(.swal2-in) {
  pointer-events: none; }

.swal2-container.swal2-fade {
  -webkit-transition: background-color .1s;
  -o-transition: background-color .1s;
  transition: background-color .1s; }

.swal2-container.swal2-in {
  background-color: rgba(0, 0, 0, 0.4); }

.swal2-modal {
  background-color: #fff;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
  position: relative; }

.swal2-modal:focus {
  outline: none; }

.swal2-modal.swal2-loading {
  overflow-y: hidden; }

.swal2-modal .swal2-title {
  color: #595959;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 60px;
  display: block; }

.swal2-modal .swal2-spacer {
  height: 10px;
  color: transparent;
  border: 0; }

.swal2-modal .swal2-styled {
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 0 5px;
  padding: 10px 32px;
  background-color: #7c8e9e !important; }

.swal2-modal .swal2-styled:not(.swal2-loading)[disabled] {
  opacity: .4;
  cursor: no-drop; }

.swal2-modal .swal2-styled.swal2-loading {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-color: transparent;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: -2px 30px;
  vertical-align: top;
  background-color: transparent !important;
  color: transparent;
  cursor: default;
  border-radius: 100%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.swal2-modal :not(.swal2-styled).swal2-loading::after {
  display: inline-block;
  content: '';
  margin-left: 5px;
  vertical-align: -1px;
  height: 6px;
  width: 6px;
  border: 3px solid #999999;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
  animation: rotate-loading 1.5s linear 0s infinite normal; }

.swal2-modal .swal2-image {
  margin: 20px auto;
  max-width: 100%; }

.swal2-modal .swal2-close {
  font-size: 36px;
  line-height: 36px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 5px;
  right: 13px;
  cursor: pointer;
  color: #cccccc;
  -webkit-transition: color .1s ease;
  -o-transition: color .1s ease;
  transition: color .1s ease; }

.swal2-modal .swal2-close:hover {
  color: #d55; }

.swal2-modal > .swal2-input,
.swal2-modal > .swal2-file,
.swal2-modal > .swal2-textarea,
.swal2-modal > .swal2-select,
.swal2-modal > .swal2-radio,
.swal2-modal > .swal2-checkbox {
  display: none; }

.swal2-modal .swal2-content {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  position: relative;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #545454; }

.swal2-modal .swal2-input,
.swal2-modal .swal2-file,
.swal2-modal .swal2-textarea,
.swal2-modal .swal2-select,
.swal2-modal .swal2-radio,
.swal2-modal .swal2-checkbox {
  margin: 20px auto; }

.swal2-modal .swal2-input,
.swal2-modal .swal2-file,
.swal2-modal .swal2-textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  font-size: 18px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-transition: border-color box-shadow .3s;
  -o-transition: border-color box-shadow .3s;
  transition: border-color box-shadow .3s; }

.swal2-modal .swal2-input.swal2-inputerror,
.swal2-modal .swal2-file.swal2-inputerror,
.swal2-modal .swal2-textarea.swal2-inputerror {
  border-color: #f06e57; }

.swal2-modal .swal2-input:focus,
.swal2-modal .swal2-file:focus,
.swal2-modal .swal2-textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px #c4e6f5;
  box-shadow: 0 0 3px #c4e6f5;
  border: 1px solid #b4dbed; }

.swal2-modal .swal2-input:focus::-webkit-input-placeholder,
.swal2-modal .swal2-file:focus::-webkit-input-placeholder,
.swal2-modal .swal2-textarea:focus::-webkit-input-placeholder {
  -webkit-transition: opacity .3s .03s ease;
  -o-transition: opacity .3s .03s ease;
  transition: opacity .3s .03s ease;
  opacity: .8; }

.swal2-modal .swal2-input:focus::-moz-placeholder,
.swal2-modal .swal2-file:focus::-moz-placeholder,
.swal2-modal .swal2-textarea:focus::-moz-placeholder {
  -webkit-transition: opacity .3s .03s ease;
  -o-transition: opacity .3s .03s ease;
  transition: opacity .3s .03s ease;
  opacity: .8; }

.swal2-modal .swal2-input:focus:-ms-input-placeholder,
.swal2-modal .swal2-file:focus:-ms-input-placeholder,
.swal2-modal .swal2-textarea:focus:-ms-input-placeholder {
  -webkit-transition: opacity .3s .03s ease;
  -o-transition: opacity .3s .03s ease;
  transition: opacity .3s .03s ease;
  opacity: .8; }

.swal2-modal .swal2-input:focus::-ms-input-placeholder,
.swal2-modal .swal2-file:focus::-ms-input-placeholder,
.swal2-modal .swal2-textarea:focus::-ms-input-placeholder {
  -webkit-transition: opacity .3s .03s ease;
  -o-transition: opacity .3s .03s ease;
  transition: opacity .3s .03s ease;
  opacity: .8; }

.swal2-modal .swal2-input:focus::placeholder,
.swal2-modal .swal2-file:focus::placeholder,
.swal2-modal .swal2-textarea:focus::placeholder {
  -webkit-transition: opacity .3s .03s ease;
  -o-transition: opacity .3s .03s ease;
  transition: opacity .3s .03s ease;
  opacity: .8; }

.swal2-modal .swal2-input::-webkit-input-placeholder,
.swal2-modal .swal2-file::-webkit-input-placeholder,
.swal2-modal .swal2-textarea::-webkit-input-placeholder {
  color: #e6e6e6; }

.swal2-modal .swal2-input::-moz-placeholder,
.swal2-modal .swal2-file::-moz-placeholder,
.swal2-modal .swal2-textarea::-moz-placeholder {
  color: #e6e6e6; }

.swal2-modal .swal2-input:-ms-input-placeholder,
.swal2-modal .swal2-file:-ms-input-placeholder,
.swal2-modal .swal2-textarea:-ms-input-placeholder {
  color: #e6e6e6; }

.swal2-modal .swal2-input::-ms-input-placeholder,
.swal2-modal .swal2-file::-ms-input-placeholder,
.swal2-modal .swal2-textarea::-ms-input-placeholder {
  color: #e6e6e6; }

.swal2-modal .swal2-input::placeholder,
.swal2-modal .swal2-file::placeholder,
.swal2-modal .swal2-textarea::placeholder {
  color: #e6e6e6; }

.swal2-modal .swal2-range input {
  float: left;
  width: 80%; }

.swal2-modal .swal2-range output {
  float: right;
  width: 20%;
  font-size: 20px;
  font-weight: 600;
  text-align: center; }

.swal2-modal .swal2-range input,
.swal2-modal .swal2-range output {
  height: 43px;
  line-height: 43px;
  vertical-align: middle;
  margin: 20px auto;
  padding: 0; }

.swal2-modal .swal2-input {
  height: 43px;
  padding: 0 12px; }

.swal2-modal .swal2-input[type='number'] {
  max-width: 150px; }

.swal2-modal .swal2-file {
  font-size: 20px; }

.swal2-modal .swal2-textarea {
  height: 108px;
  padding: 12px; }

.swal2-modal .swal2-select {
  color: #545454;
  font-size: inherit;
  padding: 5px 10px;
  min-width: 40%;
  max-width: 100%; }

.swal2-modal .swal2-radio {
  border: 0; }

.swal2-modal .swal2-radio label:not(:first-child) {
  margin-left: 20px; }

.swal2-modal .swal2-radio input,
.swal2-modal .swal2-radio span {
  vertical-align: middle; }

.swal2-modal .swal2-radio input {
  margin: 0 3px 0 0; }

.swal2-modal .swal2-checkbox {
  color: #545454; }

.swal2-modal .swal2-checkbox input,
.swal2-modal .swal2-checkbox span {
  vertical-align: middle; }

.swal2-modal .swal2-validationerror {
  background-color: #f0f0f0;
  margin: 0 -20px;
  overflow: hidden;
  padding: 10px;
  color: gray;
  font-size: 16px;
  font-weight: 300;
  display: none; }

.swal2-modal .swal2-validationerror::before {
  content: '!';
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: #fff;
  line-height: 24px;
  text-align: center;
  margin-right: 10px; }

@supports (-ms-accelerator: true) {
  .swal2-range input {
    width: 100% !important; }
  .swal2-range output {
    display: none; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .swal2-range input {
    width: 100% !important; }
  .swal2-range output {
    display: none; } }

.swal2-icon {
  width: 80px;
  height: 80px;
  border: 4px solid transparent;
  border-radius: 50%;
  margin: 20px auto 30px;
  padding: 0;
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.swal2-icon.swal2-error {
  border-color: #f27474; }

.swal2-icon.swal2-error .x-mark {
  position: relative;
  display: block; }

.swal2-icon.swal2-error .line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #f27474;
  display: block;
  top: 37px;
  border-radius: 2px; }

.swal2-icon.swal2-error .line.left {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px; }

.swal2-icon.swal2-error .line.right {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px; }

.swal2-icon.swal2-warning {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #f8bb86;
  border-color: #facea8;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-info {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #3fc3ee;
  border-color: #9de0f6;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-question {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #87adbd;
  border-color: #c9dae1;
  font-size: 60px;
  line-height: 80px;
  text-align: center; }

.swal2-icon.swal2-success {
  border-color: #a5dc86; }

.swal2-icon.swal2-success::before, .swal2-icon.swal2-success::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.swal2-icon.swal2-success::before {
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  transform-origin: 60px 60px; }

.swal2-icon.swal2-success::after {
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 60px;
  -ms-transform-origin: 0 60px;
  transform-origin: 0 60px; }

.swal2-icon.swal2-success .placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2; }

.swal2-icon.swal2-success .fix {
  width: 7px;
  height: 90px;
  background-color: #fff;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.swal2-icon.swal2-success .line {
  height: 5px;
  background-color: #a5dc86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2; }

.swal2-icon.swal2-success .line.tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.swal2-icon.swal2-success .line.long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.swal2-progresssteps {
  font-weight: 600;
  margin: 0 0 20px;
  padding: 0; }

.swal2-progresssteps li {
  display: inline-block;
  position: relative; }

.swal2-progresssteps .swal2-progresscircle {
  background: #3085d6;
  border-radius: 2em;
  color: #fff;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  z-index: 20; }

.swal2-progresssteps .swal2-progresscircle:first-child {
  margin-left: 0; }

.swal2-progresssteps .swal2-progresscircle:last-child {
  margin-right: 0; }

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep {
  background: #3085d6; }

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progresscircle {
  background: #add8e6; }

.swal2-progresssteps .swal2-progresscircle.swal2-activeprogressstep ~ .swal2-progressline {
  background: #add8e6; }

.swal2-progresssteps .swal2-progressline {
  background: #3085d6;
  height: .4em;
  margin: 0 -1px;
  z-index: 10; }

[class^='swal2'] {
  -webkit-tap-highlight-color: transparent; }

@-webkit-keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes showSweetAlert {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7); }
  45% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  80% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

@keyframes hideSweetAlert {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0; } }

.swal2-show {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s; }

.swal2-show.swal2-noanimation {
  -webkit-animation: none;
  animation: none; }

.swal2-hide {
  -webkit-animation: hideSweetAlert 0.15s forwards;
  animation: hideSweetAlert 0.15s forwards; }

.swal2-hide.swal2-noanimation {
  -webkit-animation: none;
  animation: none; }

@-webkit-keyframes animate-success-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animate-success-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px; }
  54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animate-success-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animate-success-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px; }
  65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@-webkit-keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); }
  100% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }

.animate-success-tip {
  -webkit-animation: animate-success-tip 0.75s;
  animation: animate-success-tip 0.75s; }

.animate-success-long {
  -webkit-animation: animate-success-long 0.75s;
  animation: animate-success-long 0.75s; }

.swal2-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animate-error-icon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animate-error-icon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

.animate-error-icon {
  -webkit-animation: animate-error-icon 0.5s;
  animation: animate-error-icon 0.5s; }

@-webkit-keyframes animate-x-mark {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

@keyframes animate-x-mark {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  50% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    margin-top: 26px;
    opacity: 0; }
  80% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    margin-top: -6px; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    margin-top: 0;
    opacity: 1; } }

.animate-x-mark {
  -webkit-animation: animate-x-mark 0.5s;
  animation: animate-x-mark 0.5s; }

@-webkit-keyframes pulse-warning {
  0% {
    border-color: #f8d486; }
  100% {
    border-color: #f8bb86; } }

@keyframes pulse-warning {
  0% {
    border-color: #f8d486; }
  100% {
    border-color: #f8bb86; } }

.pulse-warning {
  -webkit-animation: pulse-warning 0.75s infinite alternate;
  animation: pulse-warning 0.75s infinite alternate; }

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* SWEETALERT 2 CSS */