%m-menu--options{
    text-align: center;

    ul{
        display: inline-block;
        background-color: #DBE2E4;
        border-radius: 20px;
    }

    li{
        display: inline-block;
    }
    
    .icon-prev:before,
    .icon-next:before{
        color: $primary-color;
        font-size: 18px;
        cursor: pointer;
        @include breakpoints($tablet){
            display: none;
            padding: 0px;
        }
    }

    .icon-prev:before{
        padding: 20px 5px 20px 20px;
    }

    .icon-next:before{
        padding: 20px 15px 20px 5px;
    }


    .mmo-option{
        position: relative;

        span{
            display: none;
            width: 148px;
            text-align: center;
            @include NutmegBold;
            font-size: 18px;
            color: #92A2A5;
            text-transform: uppercase;
            padding: 20px 0px;
            transition: all 0.25s ease-in-out;
            cursor: pointer;
            @include breakpoints($tablet){
                display: inline-block;
                width: 168px;
            }
        }
        
        &:after{
            @include breakpoints($tablet){
                content: '';
                display: block;
                width: 2px;
                height: 24px;
                border-radius: 5px;
                position: absolute;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $primary-color;
            }
        }


        &.active,
        &:hover{
            span{
                color: $secondary-color;
            }
        }
        &.init{
            span{
                display: inline-block;
            }
        }

        &.last{
            &:after{
                @include breakpoints($tablet){
                    content: none;
                }
            }
        }
    }
}