// BURGUER MENU ICON
.m-menu--burger{
  width: 70px;
  height: 50px;
  border-radius: 15px;
  padding: 15px;
  opacity: 0.7;
  cursor: pointer;
  float: right;
  z-index: 30;
  transition: all 0.25s ease-in-out;
  
  &:hover{
    opacity: 1;
  }

  span {
    display: block;
    height: 1px;
    width: 100%;
    background: $white;
    border-radius: 0px;
    opacity: 1;

    &:nth-child(2) {
      margin-top: 7px;
    }

    &:nth-child(3) {
      margin-top: 7px;
    }
  }

  &.cross{
    text-align: center;
    opacity: 1;
    &:before{
      content:'\e924';
      @include icon();
      font-size: 21px;
      color: $primary-color;
    }
  }
}
