.m-menu--lang{
    &>ul>li{
        list-style: none;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        &>a{
            display: inline-block;
            text-align: center;
            transition: all 0.25s ease-in-out;
            @include NutmegReg;
            font-size: 13px;
            color: $white;
            vertical-align: 3px;

            @include breakpoints($tablet){
                color: #92A2A5;
            }

            &:before{
                content: '\e914';
                font-size: 17px;
                font-family: 'icomoon';
                color: $secondary-color;
                vertical-align: -3px;
                margin-right: 3px;
                @include breakpoints($tablet){
                    color: $primary-color;
                }
            }
        }

        .arrow{
            display: inline-block;
            position: relative;

            &:before{
                content: '\e904';
                font-size: 17px;
                font-family: 'icomoon';
                color: $secondary-color;
                vertical-align: 0px;
                @include breakpoints($tablet){
                    color: $primary-color;
                }
            }

            .m-menu--dropdown{
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    a{
        text-decoration: none;
    }
}