.m-menu--footer{

    li{
        padding-left: 23px;
        padding-bottom: 18px;
    }

    a{
        @include NutmegReg;
        font-size: 15px;
        color: $white;
        opacity: 0.6;
        display: block;
        text-decoration: none;

        &:hover,
        &.active{
            opacity: 1;
            position: relative;
            &::before{
                content:'\e909';
                @include icon();
                font-size: 17px;
                color: $primary-color;
                position: absolute;
                top:-2px;
                left: -19px;
            }
        }

        &.inactive{
            opacity: 0.3;
            
            &::before{
                content: '';
            }

        }

        &.bgw{
            color: $primary-color;

            &:hover, &.active{
                color: $primary-color;
            }
        }
    }

    .btn-menu-vehiculos{
        cursor: pointer;
    }
}