%tab-menu{


    .wrap{
            @include clearfix;
            padding: 0px;
    }

    li{
        list-style: none;
        float: left;
    }
    
    a{
        display: block;
        padding: 14px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 23px;
        cursor: pointer;
    }
}


.m-menu--tabs--two{
    @extend %tab-menu;
    a{
        font-size: 19px;
    }

    li{
        width: 50%;
    }

    @include breakpoints($menu-break){
        a{
            font-size: 14px;
        }
    }

    @include breakpoints(large){
        a{
            font-size: 19px;
        }
    }
}

.m-menu--tabs--three{
    @extend %tab-menu;
    a{
        font-size: 19px;
    }

    @include breakpoints($menu-break){
        a{
            font-size: 14px;
        }
        
        li{
            width: 33.33%;
        }
    }

    @include breakpoints(large){
        a{
            font-size: 19px;
        }
    }
}


.m-menu--tabs--four{
    @extend %tab-menu;
    a{
        font-size: 19px;
    }

    @include breakpoints($menu-break){
        a{
            font-size: 14px;
        }
        
        li{
            width: 25%;
        }
    }

    @include breakpoints(large){
        a{
            font-size: 19px;
        }
    }
}


.o-equipment-tabs{
    a{
        background-color: $tabs-bg-blue;       
        color: $white;
        @include GilroyReg();
        opacity: 0.5;
        font-size: 18px;

        @include breakpoints($tablet){
            font-size: 20px; 
        }

        &.active{    
            opacity: 1;
        }
    }

    .tabs-section{
        background-color: $tabs-bg-blue;
        display: none;

        &.active{
            display: block;
        }
    }

    .a-list--dot{
        li{
            color: $white;
            @include NutmegReg();
            font-size: 13px;
            line-height: 18px;

            @include breakpoints($tablet){
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    .content{
        color: $white;
        @include NutmegReg();
        font-size: 13px;
        line-height: 23px;

        @include breakpoints($tablet){
            font-size: 15px;
            line-height: 25px;
        }
    }
}