

.pagination{
    ul{
        list-style: none;
        display: inline-block;
        vertical-align: bottom;
    }

    li{
        list-style: none;
        display: inline-block;
        vertical-align: bottom;
        @include NutmegReg();
        font-size: 20px;
        color: $secondary-color;
        position: relative;

        a{
            display: block;
            transition: all 0.25s ease-in-out;
            opacity: 0.7;
            @include NutmegReg();
            font-size: 20px;
            color: $secondary-color;
            padding: 0px 5px;
            width: 32px;
            text-align: center;
            line-height: 18px;
            text-decoration: none;
            &:hover{
               opacity: 1;
            }
        }

        &.selected{
            a{
                @include GilroyHeavyIt();
                font-size: 30px;
                position: relative;
                padding: 0px 5px;
                width: 42px;
                text-align: center;
                opacity: 1;
                line-height: 23px;
            }

            &:before{
                content:'';
                display: block;
                background-color: $primary-color;
                width: 42px;
                height: 1px;
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    @include all-class('icon-'){
        color: $secondary-color;
        font-size: 17px;
    }
}