.m-menu--social{
    li{
        list-style: none;
        display: inline-block;
        vertical-align: top;

        a{
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: $secondary-color;
            text-align: center;
            transition: all 0.25s ease-in-out;
            position: relative;
            opacity: 0.7;

            &:after{
                content: '';
                @include icon();
                font-size: 18px;
                position: absolute;
                color: $white;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }

            &:not(.inactive):hover{
               opacity: 1;
            }

            &.inactive{
                opacity:0.5;
                cursor: default;
            }

            &.facebook{
                &:after{
                    content: '\e90a';
                }
            }
    
            &.instagram{
                &:after{
                    content: '\e90c';
                }
            }
    
            &.twitter{
                &:after{
                    content: '\e90b';
                }
            }
        }

        
    }
}

.m-menu--social--share{
    li{
        list-style: none;
        display: inline-block;
        vertical-align: top;

        a{
            transition: all 0.25s ease-in-out;
            opacity: 0.7;
            font-size: 40px;
            text-decoration: none;

            &:hover,
            &:active{
                opacity: 1;
            }
        }

        .icon-facebook-share{
            color: #063DC7;
        }

        .icon-twitter-share{
            color: #26C0F6;
        }

        .icon-whatssap-share{
            color: #4DC353;
        }

        .icon-linkedin-share{
            color: #22459F;
        }

        .icon-email-share{
            color: #143649;
        }

    }
}