.m-menu--single-vehicle{
    background-color: $secondary-color;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 20;

    @include breakpoints($desktop){
        display:none;
    }


    .wrap{
        @include clearfix();
        width: 100%;
    }

    .mmsv-price{
        width: 50%;
        height: 50px;
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @include GilroyHeavyIt();
        color: $primary-color;
        font-size: 30px;
        background-color: $tabs-grey;
    }

    .a-button--contactar{
        width: 50%;        
        float: left;
        height: 50px;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}