.m-menu--dropdown{
    display: none;
    background-color: $secondary-color;
    border-radius: 10px;
    padding: 20px;

    li{
        list-style: none;
        
        &:first-of-type{
            position: relative;
    
            &:before {
                top: -30px;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: $secondary-color;
                border-width: 5px;
                margin-left: -5px;
            }
        }
    }

    a{
        @include NutmegReg;
        font-size: 13px;
        color: $white;
        display: block;
        background: transparent;
    }

    .a-button--ok{
        margin: 15px auto 0px;
    }
}