.m-menu--socket{
    width: 240px;
    margin: 0 auto;
    text-align: center;
    @include breakpoints($tablet){
        width: 450px;
    }
    @include breakpoints($desktop){
        width: 750px;
        text-align: right;
    }

    li{
        display: inline-block;
        padding: 13px 9px;

        &:nth-of-type(1){
            @include breakpoints($tablet){
                padding-bottom: 13px;
                position: relative;
    
                &::after{
                    content:'·';
                    color: $white;
                    position: absolute;
                    right: -4px;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }

        &:nth-of-type(2){
            position: relative;
            @include breakpoints($tablet){
                &::after{
                    content:'·';
                    color: $white;
                    position: absolute;
                    right: -4px;
                    top:50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    a{
        @include NutmegReg;
        font-size: 15px;
        color: $secondary-color;
        opacity: 0.7;
        display: block;
        text-decoration: none;

        &:hover,
        &.active{
            opacity: 1;
        }
    }
}