.m-menu--primary{
    ul>li{
        padding: 10px 0px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        &>a{
            padding: 0px 17px;
            font-size: 18px;
            @include  NutmegBold();
            color: $secondary-color;
            text-decoration: none;
            text-transform: lowercase;
            
            &:hover, &.active{
                color: $white;
            }

            &.inactive{
                opacity: 0.6;
                &:hover, &.active{
                    color: $secondary-color;
                    cursor: default;
                }
            }

            &.bgw{
                background-color: rgba($white, 0.60);
                padding: 3px 10px;
                margin: 0px 8px 0px 15px;
                border-radius: 10px;
                transition: all 0.25s ease-in-out;

                &:hover, &.active{
                    color: $secondary-color;
                    background-color: rgba($white, 1);
                }
            }
        }

        &:after{
            content: '';
            display: block;
            background-color: $white;
            position: absolute;
            width: 2px;
            height: 18px;
            left: 0px;
            top: 10px;
        }

        &:first-of-type{
            &>a{
                padding-left: 0px;
            }

            &:after{
                content: none;
            }
        }
    }

    
    .btn-menu-vehiculos{
        cursor: pointer;
    }
}

.m-menu--primary--mobile{
    text-align: center;
    padding: 20px 0vw;
    li{
        padding: 10px 0px;

        a{
            font-size: 20px;
            line-height: 25px;
            @include  NutmegBold();
            color: rgba($white, 0.7);
            text-decoration: none;

            @include breakpoints($tablet){
                font-size: 25px;
                line-height: 30px;
            }

            &:hover, &.active{
                color: rgba($white, 1);
            }

            
            &.inactive{
                opacity: 0.6;
                &:hover, &.active{
                    color: rgba($white, 0.7);
                    cursor: default;
                }
            }

            &.bgw{
                background-color: rgba($white, 0.60);
                color: $primary-color;
                padding: 3px 10px;
                border-radius: 10px;
                transition: all 0.25s ease-in-out;

                &:hover, &.active{
                    color: $primary-color;
                    background-color: rgba($white, 1);
                }
            }
        }
    }

    .icon-Point{
        display: none;
        font-size: 40px;
        color: $white;
        
        @include breakpoints($tablet){
            display: inline-block;
        }
    }

    
    .btn-menu-vehiculos{
        cursor: pointer;
    }

}