.m-menu--centros{
    li{
        display: inline-block;
        vertical-align: bottom;
    }

    .mm-centro-dropdown{
        display: block;
        @include GilroyExtrabold();
        font-size: 22px;
        background-color: $tabs-sel-bg-grey;
        color: $secondary-color;
        width: 260px;
        height: 75px;
        line-height: 75px;
        margin-top: 10px;
        text-align: center;
        text-transform: capitalize;
        border-radius: 10px 10px 0px 0px;
        cursor: pointer;
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        align-items: center;


        &::before{
            content: "\e90e";
            @include icon();
            color: $primary-color;
            font-size: 34px;
            margin-right: 5px;
            vertical-align: -6px;
        }

        .arrow{
            position:relative;
            display: inline-block;
            margin-left: auto;
            &:before{
                color: $primary-color;        
            }

            .m-menu--dropdown{
                position: absolute;
                z-index: 10;
                left: 50%;
                transform: translateX(-50%);
                background-color: rgba($secondary-color, 0.7);

                li:first-of-type:before{
                    border-bottom-color: rgba($secondary-color, 0.7);
                }

                .mm-centro-item-drop{
                    @include GilroyExtrabold();
                    font-size: 22px;
                    color: $white;
                    opacity: 0.7;
        
                    &.active{
                        opacity: 1;
                    }
                }
            }
        }

        @include breakpoints($desktop){
            display: none;   
        }
    }

    .mm-centro-tab{
        padding-left: 5px;
    }

    .mm-centro-item{
        display: none;

        @include breakpoints($desktop){
            display: block;
            @include GilroyExtrabold();
            font-size: 22px;
            background-color: $tabs-bg-grey;
            color: $tabs-text-grey;
            width: 185px;
            height: 65px;
            line-height: 65px;
            margin-top: 10px;
            text-align: center;
            border-radius: 10px 10px 0px 0px;
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            &:first-of-type{
                margin-left: -5px;
                margin-right: 5px;
            }

            &.active{
                background-color: $tabs-sel-bg-grey;
                color: $secondary-color;
                width: 275px;
                height: 75px;
                line-height: 75px;
                margin-top: 0px;

                &::before{
                    content: "\e90e";
                    @include icon();
                    color: $primary-color;
                    font-size: 34px;
                    margin-right: 5px;
                    vertical-align: -6px;

                }
            }
        }
    }
}