#m-menu--sales--home{
    @extend %m-menu--options;

    .mmo-option{
        span{
            width: 134px;
        }
    }

    @include breakpoints($tablet){

        .ocasion span{
            width: 180px;
        }

        .km0 span{
            width: 128px;
        }

        .seminuevo span{
            width: 212px;
        }
    }
}

#m-menu--sales--flota{
    @extend #m-menu--sales--home;
}