.o-form--mobile,
.o-menu--mobile{
    background: $primary-color;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:none;
    overflow-y: auto;

    &.menu-open{
        display: block;
    }

    @media screen and (orientation : portrait) and (min-width : 375px){
        &.menu-open{
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    @include breakpoints($tablet){
        &.menu-open{
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    @include breakpoints($desktop){
        display: none;
    }

    .omm-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 25px 0px;
        width: 100%;

        @include breakpoints($tablet){
            justify-content: space-between;
        }
        .logo{
            display:none;

            @include breakpoints($tablet){
                @include inline-block;
            }
            
            img{
                width: 275px;
            }
        }
        .m-menu--burger{
            background: rgba($white, 0.7);

            &:hover{
                background: rgba($white, 1);
            }

            @include breakpoints($tablet){
                
            }
        }
    }

    .icon-point{
        display: none;
        
        @include breakpoints($tablet){
            font-size: 38px;
            color: $secondary-color;
            display: block;  
        }
    }

    .a-center{
        .a-button--search-form-growing{
            margin: 25px 0px;

            @include breakpoints($tablet){
                margin: 45px 0px;
            }
        }
    }

    .contact{
        width: 100%;
        text-align: center;
        
        a{
            display: block;
            text-align: center;
            @include breakpoints($desktop){
                display: inline-block;
            }


            &:before{
                color: $secondary-color;
            }
            span{
                color: $white;
            }
        }
    }
}