.keygonline_modal{

    padding: 10px 0px 20px;
    .kgo-header{
        text-align: center;

        h2{
            color: $white;


            @include breakpoints(large, no){
                font-size: 30px;
                line-height: 34px;
            }

            .dashed_animation{
                &::after{
                    animation-delay: 4s;
                    background-color: $primary-color;
                }
            }
        }

        h4{
            color: $primary-color;
            margin: 10px auto;
            max-width: 900px;
            
            @include breakpoints(large, no){
                font-size: 15px;
                line-height: 20px;
            }
            @include breakpoints(large){
                margin: 30px auto;
            }
        }

    }

    .m-nos-veh-item--compressed{
        margin-bottom: 0px;

        @include breakpoints(large, no){
            padding-bottom: 0px;
            width: 280px;
        }
        .image{
            @include breakpoints(large, no){
                padding-bottom: 0px;
                width: 100%;

                img{
                    width: 50px
                }
            }

        }

        .content.online h4,
        h4{
            color: $white;
            width: 100%;
            @include breakpoints(large, no){
                padding: 5px 0px;
                margin-bottom: 20px;
                font-size: 20px;
            }
        }
        p{
            color: $primary-color;
            padding: 0px 10px;

            @include breakpoints(large, no){
                display: none;
            }
        }
    }

    .kgo-tag{
        color: $white;

        @include breakpoints(large, no){
            font-size: 12px;
            line-height: 16px;
        }
    }

    &.off{
        .keygonline-pagination{
            display: none;
        }
    }

    .a-button--video-cita .btn{
        background-color: $primary-color;
    }

    .swiper-pagination-bullets{
        text-align: center;
    }
}

.bluePopup{
    .sm-button{
        &:before,    
        &:after{
            background: $primary-color !important;
        }

    }
}