.m-form--reserve{
    position: fixed;
    z-index: 500;
    top: 0px; 
    right: -320px;
    bottom: 0px;
    background-color: $tabs-sel-bg-grey;
    width: 100%;
    max-width: 320px;
    transition: all 0.25s ease-in-out;
    overflow-y: auto;

    @include breakpoints(375px){
        right: -375px;
    }

    &.menu-open{
        right: 0px;
        max-width: 375px;
        @include breakpoints(375px){
            right: 0px;
        }
    }

  .wrap{
    padding: 0px 20px;   
    @include breakpoints(375px){
        padding: 0px 30px;   
    }
  }
  .mfr-header{
    background-color: $secondary-color;

    .wrap{
        height: 40px; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h2{
         @include GilroyReg();
         color: $primary-color;
         text-shadow: none;
         font-size: 24px;
    }

    .icon-close{
         color: $primary-color;
         font-size: 22px;
         cursor: pointer;
    }
  }

  .mfr-info{
    background-color: $white;
    padding: 20px 0px;
    @include breakpoints(375px){
        padding: 30px 0px;   
    }
    .mfr-model{
        padding-bottom: 20px;

        .model{
            @include GilroySemibold();  
            color: $secondary-color;
            text-shadow: none;
            font-size: 24px;
        }
        .version{
            @include GilroyReg();  
            color: $primary-color;
            text-shadow: none;
            font-size: 16px;
        }
        .ref{
            @include GilroyMedium();  
            color: $secondary-color;
            text-shadow: none;
            font-size: 13px;
        }
    }
  }

.a-divider--primary{
    margin: 20px 0px;
}

  .mfr-form{
    background-color: $form-bg-grey;
    padding: 20px 0px;

    @include breakpoints(375px){
        padding: 30px 0px;   
    }

    input[type="text"], 
    input[type="tel"], 
    input[type="email"]{
        margin-bottom: 10px;
    }

    textarea{
        margin-bottom: 10px;
        height: 100px;
    }    

    .a-one-line-checkbox{
        display: block;
        margin-bottom: 10px;
    }

    .a-button--contactar{
        width: 280px;
    }

    h3{
        @include GilroyHeavyIt();
        color: $secondary-color;
        font-size: 24px;
    }

    p.grey{
        margin-top: 6px;
        margin-bottom: 20px;
    }

    .a-input-total-import{
        margin-bottom: 30px;
    }

    .a-ic-info{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .ico{
        color: $primary-color;
        font-size: 15px;
        width: 15px;
        }

        .text{
        color: $secondary-color;
        width: calc(100% - 20px);
        font-size: 12px;
        line-height: 15px;
        }
    }
  }
}
.m-form--reserve-bg{
    @extend .m-form--watch-price-bg;
}

