.m-form--quick-search{
    position: relative;
    width: 281px;
    margin: 20px auto;

    @include breakpoints($tablet){
       width:  381px;
    }

    input[type="text"]{
        padding: 14px 50px 14px 20px;
        border-radius: 10px;
        font-size: 16px;

        &::placeholder{
            color: $secondary-color;
        }
    }

    .icon-search{
        position: absolute;
        top: 10px;
        right: 22px;
        cursor: pointer;
        
        &:before{
            font-size: 24px;
            color: $primary-color;

        }
    }
}