.m-form--reservas{
    background-color: $primary-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    display: none;


    @include breakpoints($desktop){
        margin-top: 240px;
        background-color: transparent;
        position: relative;
        display: inline-block;
        z-index: 100;
        width: 375px;  
    }
    

    .form{
        width: 300px;
        background-color: rgba(#DCE3E5, 0.7);
        padding: 50px 40px;

        @include breakpoints(375px){
            width: 335px;
        }

        @include breakpoints($desktop){
            width: 365px;
            height: 530px;
            margin-top: 20px;
            border-radius: 20px;
            background-color: rgba(#DCE3E5, 0.7);
        }

        @include breakpoints($bigdesk){
            margin-top: 80px;
            height: 550px;
        }


        h3{
            @include GilroyHeavyIt;
            color: $secondary-color;
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 10px;
            @include breakpoints(1280px){
                font-size: 21px;
            }
        }

        p{
            @include NutmegReg();
            font-size: 15px;
            color: $secondary-color;
            padding-bottom: 10px;
            padding-top: 20px;
        }

        .a-one-line-checkbox{
            margin: 15px 0px;
            display: inline-block;
            font-size: 13px;
        }
    }
}