%form-flota{
    width: 320px;
    margin: 0 auto;
    background: rgba(#DBE2E4 , 0.8);
    padding: 36px 21px;
    border-radius: 20px;
    @include breakpoints($tablet){
        width: 610px;
        padding: 50px 55px;
    }

    @include breakpoints($desktop){
        width: 1120px;
    }

    .form-header{
        @include GilroyHeavyIt();
        font-size: 20px;
        color: $secondary-color;
        text-align: center;

        @include breakpoints($tablet){
            font-size: 24px;
            text-align: left;
        }

    }

    .a-divider--primary{
        width: 240px;
        margin: 30px auto;

        @include breakpoints($tablet){
            width: 100%;
            margin: 30px 0px;
        }

    }


    .mff-container-swiper{
        width: 290px;
        margin: 0 auto;
        padding:  0px 25px;
        overflow: hidden;

        @include breakpoints($tablet){
            width: 506px;
        }

        @include breakpoints($desktop){
            width: 950px;
        }
    }


    .mff-content-container{
        width: 240px;
        margin: 0 auto;

        @include breakpoints($tablet){
            width: 506px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include breakpoints($desktop){
            width: 950px;
        }
 
        label{
            display: block;
            @include NutmegReg();
            font-size: 15px;
            color: #143649;
            margin-top: 22px;
        }

        .mobile-inactive{
            display: block;
            
            @include breakpoints($tablet){
                display:none;
            }
        }
    
        .mobile-active{
            display: none;
    
            @include breakpoints($tablet){
                display:block;
            }
        }

        .mff-container-seats,
        .mff-container-doors{
            label{
                @include breakpoints($tablet){
                    margin-top: 12px;   
                }
    
                @include breakpoints($desktop){
                    margin-top: 22px;   
                }
            }
        }
    }

    .mff-container-inactive{
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.4s linear, height 0.4s step-start;
    }

    .desktop-hide{
        @include breakpoints($desktop){
            display: none;
        }
    }

    .select{
        width: 240px;

        @include breakpoints($tablet){
            width: 246px;
        }

        @include breakpoints($desktop){
            width: 300px;
        }
    }

    .mff-container{
        width: 240px;

        @include breakpoints($tablet){
            width: 246px;
        }

        @include breakpoints($desktop){
            width: auto;
        }
    }
    
    .mff-selects{
        padding-top: 5px;
    }

    .select,
    .m-group-values{
        margin-top: 5px;
        @include breakpoints($tablet){
            margin-top: 10px;
        }
    }


    .mff-container-tb2cols{
        @include breakpoints($tablet){
            width: 506px;
        }
    
        @include breakpoints($desktop){
            width: 300px;
        }

        .mff-selects{
            @include breakpoints($tablet){
                width: 506px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
    
            @include breakpoints($desktop){
                width: 300px;
                display: block;
            }
        }
    }

    .mff-container-triple{
        @include breakpoints($tablet){
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        @include breakpoints($desktop){
            //width: 100%;
            // display: flex;
            // flex-direction: row;
            // justify-content: flex-start;
            // flex-wrap: wrap;
            width: 300px;
        }

        .selects,
        .m-group-values{
            margin-top: 5px;
            @include breakpoints($tablet){
                margin-top: 6px;
            }
            @include breakpoints($desktop){
                margin-top: 10px;
            }
        }

        .mff-container-location,
        //.m-group-values,
        .mff-container-seats,
        .mff-container-doors{
            @include breakpoints($desktop){
                //display: none;

                label{
                    width: 100px;
                    height: 10px;
                    //padding-top: 0px;
                    margin-top: 0px;
                }

                .mff-selects,
                .m-group-values{
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
        }
    }

    .mmf-buttons{
        text-align: center;
        margin-top: 20px;
        @include breakpoints($desktop){
            text-align: left;
        }


        .a-button--remove-filters,
        .a-checkbox--sales,
        .a-button--filters{
            display: inline-block;
            margin-top: 10px;
        }
    }

    .mmf-submit{
        text-align: center;
        padding-top: 20px;

        @include breakpoints($desktop){
            padding-top: 10px;
            margin-right: -7px;
        }
    }

    .mmf-all-buttons{
        @include breakpoints($tablet){
            width: 506px;
            margin: 0 auto;
        }

        @include breakpoints($desktop){
            width: 950px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &.active{
        .mff-content-container{
            .mobile-inactive{
                display: none;
            }

            .mobile-active{
                display: block;
            }
        }
        .mff-container-inactive{
            height: auto;
            opacity: 1;
            transition-timing-function: linear, step-end;
        }

        .mff-container-triple{
            @include breakpoints($desktop){
                padding-top: 40px;
            }
        }

        .mff-container-doors,
        .mff-container-seats{
            margin-top: 10px;
            @include breakpoints($desktop){
                height: 34px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .mmf-buttons{
            .a-checkbox--sales{
                display: block;

                @include breakpoints($tablet){
                    display: inline-block;
                }
            }

            button[type='button']{
                display: block;
                margin: 10px auto 0px;
                
                @include breakpoints($tablet){
                    display: inline-block;
                }
            }
        }
    
    }
}

.m-form--flota--home{
    @extend %form-flota;

    background: rgba($secondary-color , 0.8);

    .form-header,
    .a-button--remove-filters,
    .a-checkbox--sales,
    .a-button--filters .on,
    .a-button--filters .off{
        color: $primary-color;
    }


    .m-flota-pick-item .mfpi-img,
    .m-flota-pick-item .mfpi-name{
        color: $white;
    }

    .a-button--search .btn{
        background-color: $primary-color;
    }

    .mff-content-container{
        label{
            color: $white;
        }
    }
    

    .o-flota-pick-container{
        display:none;

        @include breakpoints($tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 436px;
            margin: 0 auto;
        }

        @include breakpoints($desktop){
            width: 850px;
        }
        
    }


    .o-flota-selec-module{
        display: block;
        width: 240px;
        margin-top: 20px;
        @include breakpoints($tablet){
            display: none;
        }
    }
}

.m-form--flota--mobile{
    @extend %form-flota;

    .o-flota-selec-module{
        display: block;
        width: 240px;
        margin-top: 30px;
        @include breakpoints($tablet){
            width: 500px;
        }
        @include breakpoints($desktop){
            width: 1010px;
        }
    }
}

.m-form--flota--reduced{
    width: 100%;
    margin: 0 auto;
    background: rgba(#DBE2E4 , 0.8);
    padding: 36px 21px;

    .form-header{
        @include GilroyHeavyIt();
        font-size: 30px;
        line-height: 40px;
        color: $secondary-color;
        text-align: center;
        width: 200px;
        margin: 0 auto 20px;
    }

    .a-divider--primary{
        width: 240px;
        margin: 20px auto;
    }

    .mff-selects{
        padding-top: 5px;
    }

    .o-flota-pick-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 240px;
        margin: 0 auto;
    }

    .a-input-search{
        width: 240px;
        margin: 0 auto;
    }

    .mff-content-container{
        width: 240px;
        margin: 0 auto;
 
        label{
            display: block;
            @include NutmegReg();
            font-size: 15px;
            color: #143649;
            margin-top: 15px;

            &.mobile-inactive{
                display: none;
            }
        }
    }

    .mff-container,
    .select{
        width: 240px;
    }

    .select,
    .m-group-values{
        margin-top: 5px;
    }

    .mff-container-triple{
        display: block;
        .mff-container-location{
            width: 100%;
        }
        .mff-container-seats,
        .mff-container-doors{
            width: auto;
            display: inline-block;
            padding-right: 20px;
        }

        .mff-selects{
            width: auto;
            display: inline-block;
        }
    }

    .a-button--remove-filters,
    .a-checkbox--sales,
    .a-button--filters{
        display: block;
        margin-top: 5px;
    }

    .mmf-buttons{
        padding: 10px 30px;  
    }

    .mmf-submit{
        text-align: center;
        padding-top: 20px;
        display: none;
    }
}