.m-form--watch-price{
    position: fixed;
    z-index: 500;
    top: 0px; 
    right: -320px;
    bottom: 0px;
    background-color: $tabs-sel-bg-grey;
    width: 100%;
    max-width: 320px;
    padding: 15px;
    transition: all 0.25s ease-in-out;
    
    &.menu-open{
        right: 0px;
    }

    .wrap{
        width: 100%;
        padding: 40px 10px 15px;
    }

    h3, p, input[name="watch-price"], button{
        margin-bottom: 20px;
    }
    h3{
        @include GilroyHeavyIt();
        color: $secondary-color;
        font-size: 23px;


    }
    p{
        color: $p-grey;
    }
    .watch-cross{
        width: 35px;
        height: 35px;
        opacity: 0.7;
        cursor: pointer;
        float: right;
        z-index: 30;
        transition: all 0.25s ease-in-out;
        text-align: center;
        opacity: 0.7;
      
        &:hover{
          opacity: 1;
        }
      
        &:before{
          content:'\e924';
          @include icon();
          font-size: 21px;
          color: $primary-color;
        }
      }

}

.m-form--watch-price-bg{
    &.menu-open{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 499;
        background-color: rgba($lightgrey,0.5);
    }
}