.m-blog-item--compact{
    width: 320px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #E9EDEE;
    transition: all 0.25s ease-in-out;

    &:hover{
        background-color: #DBE2E4;
    }

    .mbi-img{
        height: 240px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mbi-content{
        padding: 37px 45px;

        h4{
            margin-top: 30px;
            margin-bottom: 25px;
            height: 86px;
            overflow: hidden;
        }

        p{
            margin-bottom: 25px;
            height: 100px;
            overflow: hidden;
        }
    }

    .mbi-tag{
        display: table-cell;
        width: 160px;
        height: 34px;
        background-color: $primary-color;
        @include NutmegReg();
        color: $white;
        font-size: 15px;
        vertical-align: middle;
        text-align: center;
        border-radius: 20px;   
    }


}