.m-confirmacion-item{
    background-color: $palegrey;
    padding: 30px;
    border-radius: 30px;
    max-width: 880px;
    margin: 0 auto;
    text-align: left;
    position: relative;

    @include breakpoints($tablet){
        padding: 40px;
        max-width: 880px;
    }

    @include breakpoints($desktop){
        padding: 50px;
        border-radius: 30px;
    }

    h3{
        @include GilroyExtrabold;
        font-size: 21px;
        line-height: 30px;
        color: $secondary-color;

        &.primary,
        & .primary,
        &.blue .primary{
            color: $primary-color;
        }
    }

    p{
        color: $p-grey;
        .blue{
            color: $secondary-color;
        }
        .price{
            @include NutmegBold;
            color: $secondary-color;
            font-size: 15px;
        }
    }

    .a-divider--grey{
        margin: 15px 0px;
    }

    .mci-header{
        @include breakpoints($tablet){
            position: relative;
        }

        .logo{
            width: 120px;
            margin-top: 30px;
            @include breakpoints($tablet){
                position: absolute;
                bottom: -100px;
                right: 50px;
                z-index: 3;
            }
            @include breakpoints($desktop){
                width: 160px            
            }
        }

        .serial-number{
            @include GilroyExtrabold;
            font-size: 25px;
            line-height: 30px;
            color: $primary-color;
        }

        .rejected {
            color: $red;
        }
    
        .confirm{
            @include GilroyExtrabold;
            font-size: 25px;
            line-height: 30px;
            color: $dark-green;
        }

    }

    .mci-body{
        padding: 30px 0px;
    }

    .mci-footer{
        @include breakpoints($tablet){
            width: 80%;
        }
        h3.primary{
            margin-top: 20px;
        }
    }

    .logo{
        width: 180px;
        margin: 30px auto 0px;
    }
}