%m-centros-item{
    width: 320px;
    margin: 0 auto;
    background-color: #E9EDEE;

    @include breakpoints($tablet){
        width: 620px;
    }

    @include breakpoints($desktop){
        width: 1180px;
        padding: 68px 70px 48px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .mci-slider{
        width: 100%;
        overflow: hidden;
        @include breakpoints($desktop){
            width: 610px;
        }

        .swiper-slide{
            height: 214px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            @include breakpoints($tablet){
                height: 416px;
            }

            @include breakpoints($desktop){
                height: 410px;
            }
        }

        .swiper--centros-pagination{
            text-align: center;
            padding: 30px 0px;
        }
    }

    .mci-content{
        padding: 0px 24px 36px;
        text-align: center;
        
        @include breakpoints($tablet){
            padding: 20px 60px 40px;
            text-align: left;
        }
        
        @include breakpoints($desktop){
            width: 390px;
            padding: 0px;
        }

        .mci-info{
            .it-primary{
                display: block;
            }
        }
        .mci-town{
            font-size: 25px;
            margin-bottom: 10px;
        }

        .mci-province{
            @include GilroySemibold();
            font-size: 22px;
            line-height: 26px; 
            color: $secondary-color;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        .a-center{
            @include breakpoints($desktop){
                text-align: left;
            }
        }
    }

    .mci-info{
        margin-bottom: 32px;
    
        @include breakpoints($tablet){
            margin-bottom: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        @include all-class('icon-'){
            display: block;
            text-align: center;
    
            &:before{
                color: $primary-color;
                font-size: 27px;
            }
    
            @include breakpoints($tablet){
                display: inline-block;
                width: 35px;
            }
        }

        .icon-point-line{
            &:before{
                font-size: 36px;
            }
        }
    
        .icon-email{
            &:before{
                font-size: 24px;
            }
        }

        &.phone{
            @include breakpoints($tablet){
                br{
                    display:none;
                }
            }
        }

        .body{
            color: $p-grey;
            
            @include breakpoints($tablet){
                width: calc(100% - 45px);
            }

            p, 
            a:not(.it-primary){
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

.m-centros-item--left{
    @extend %m-centros-item;
    @include breakpoints($desktop){
        flex-direction: row;
    }
}

.m-centros-item--right{
    @extend %m-centros-item;
    @include breakpoints($desktop){
        flex-direction: row-reverse;
    }
}