    .m-caracteristics-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include all-class('icon-'){
        color: #0FB7CD;
        font-size: 25px;
        width: 29px; 
    }
    .body {
      width: calc(100% - 29px);
        h4 {
            font-family: "Gilroy", Helvetica, Arial, sans-serif;
            font-weight: 500;
            font-style: normal;
            color: #0FB7CD;
            font-size: 13px;
            line-height: 18px; 
        }
        p {
            font-family: "Nutmeg", Helvetica, Arial, sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #FFFFFF;
            font-size: 15px;
            line-height: 20px; 
        }
    }
}