%m-contact-item{
    background-color: $tabs-sel-bg-grey;
    border-radius: 20px;
}

.m-contact-item{
    @extend %m-contact-item;
    width: 320px;
    height: 313px;
    text-align: center;
    @include breakpoints($tablet){
        width: 435px;
        height: 400px;
    };
}

.m-contact-item--full{
    @extend %m-contact-item;
    width: 100%;
}

.m-contact-item--login{
    @extend %m-contact-item;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
    label{
        display: block;
        margin-bottom: 5px;
    }
}