.m-flota-pick-item{
    text-align: center;
    width: 106px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &.active,
    &:hover{
        opacity: 1;
    }
 
    input[type="checkbox"]{
        display: none;
        padding: 0px;
    }

    .mfpi-img{
        font-size: 50px;
        color: $secondary-color;
    }

    .mfpi-name{
        @include GilroySemibold();
        font-size: 15px;
        color: $secondary-color;
    }

}