.m-flota-selec-item{
    @include GilroySemibold();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 15px;
    color: $white;
    opacity: 0.5;
    cursor: pointer;
    &.active,
    &:hover{
        color: $primary-color;
        opacity: 1;
    }

    input[type="checkbox"]{
        display: none;
        padding: 0px;
    }


    @include all-class("icon-"){
        font-size: 35px;
        width: 75px;
        vertical-align: -5px;
    }

    .body{
        width: calc(100% - 75px);
        padding-top: 14px;
    }
}