.m-keygonline-item{
    width: 300px;

    .koi-img{
        width: 80px;
        margin: 0 auto;
        padding: 2px;
    }

    .koi-content{
        h4{
            color: $secondary-color;
            margin: 20px 0px;
        }

        p{
            color: $white;
        }
    }
}