.m-marcas-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 130px;

    @include breakpoints($tablet){
        height: 180px;
    }

    @include breakpoints($desktop){
        height: 180px;
    }



    img{
        width: 110px;
        height: auto;
        transition: all 0.25s ease-in-out;

        @include breakpoints($tablet){
            width: 150px;
        }

        @include breakpoints($desktop){   
            opacity: 0.7;
            &:hover{
                opacity: 1;
            }
        }
    }
}