%m-nos-veh-item{
    text-align: center;

    .image{
        margin: 0 auto;

        &.volante{
            img{
                width: 115px;
            }
        }
        &.anyos{
            img{
                width: 130px;
            }
        }
        &.compra{
            img{
                width: 110px;
            }
        }
        &.financiacion{
            img{
                width: 101px;
            }
        }
        &.peritacion{
            img{
                width: 101px;
            }
        }

        &.general_svg{
            img{
                width: 105px;
            }
        }

        &.online{
            img{
                width: 135px;
            }
        }

        &.casa{
            img{
                width: 120px;
            }
        }
    }





    h4{
        color: $primary-color;
        font-size: 25px;
        padding: 20px 0px;
        @include breakpoints($tablet){
            font-size: 22px;
            padding: 0px;
            margin-bottom: 14px;
        }
        @include breakpoints($desktop){
            font-size: 25px;
        }
    }
    p{
        color: $p-grey;
    }
}

.m-nos-veh-item{
    @extend %m-nos-veh-item;
    width: 240px;
    @include breakpoints($tablet){
        width: 680px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    @include breakpoints($desktop){
        width: 725px;
    }

    .new-icon-wrapper{
        position: relative;
        padding-left: 30px;

        .new-icon{
            width: 44px;
            margin-left: -22px;
            @include breakpoints(medium){
                position: absolute;
                margin-left: 0px;
                top: -8px;
                left: -18px;
            }
        }
    }

    .content{
        
        @include breakpoints($tablet){
            width: calc(100% - 170px);
        }
    }
}

.m-nos-veh-item--compressed{
    @extend %m-nos-veh-item;
    width: 300px;
    margin-bottom: 30px;
    @include breakpoints($tablet){
        margin-bottom: 60px;
        width: 556px;
    }

    @include breakpoints($desktop){
        margin-bottom: 30px;
        width: 370px;
    }

    .image{
        position: relative;
        width: 300px;

        &.peritacion{
            img{
                width: 101px;
            }
        }

        &.online{
            img{
                width: 111px;
            }
        }
        
        .new-icon-wrapper{
            position: absolute;
            left: 50px;
            bottom: 0px;

            .new-icon{
                width: 44px;
            }
        }
    }


    .content{
        position: relative;
        &.anyos{
            h4{
                @include breakpoints($desktop){
                    width: 300px;
                }
            }
        }

        &.peritacion{
            h4{
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &.online{
            h4{
                width: 320px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    h4{
        @include breakpoints($desktop){
            width: 260px;
            margin: 0 auto;
        }
    }

}