.m-flota-item{
    width: 320px;
    height: 534px;
    background-color: #EAEEEF;
    border-radius: 15px;
    overflow: hidden;

    @include breakpoints($tablet){
        width: 380px;
    }

    @include breakpoints($desktop){
        width: 320px;
        height: 554px;
    }

    .mfi-img{
        height: 218px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $white;

        @include breakpoints($tablet){
            height: 245px;    
        }
        
    }

    .mfi-content{
        position: relative;
        padding: 45px 35px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        height: 315px;

        @include breakpoints($tablet){
            padding: 30px 35px;
            height: 293px;
        }

        @include breakpoints($desktop){
            padding: 45px 35px;
            height: 315px;
        }
    }

    .mfi-badge{
        position: absolute;
        top: -80px;
        right: 30px;
        width: 150px;
        height: 150px;
        background-color: rgba($secondary-color, 0.8);
        border-radius: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        .from{
            @include GilroySemibold;
            font-size: 15px;
            color: $primary-color;
            align-self: flex-start;
        }
        h2{
            font-size: 44px;
            text-shadow: 0px 0px 0px transparent;
        }
        h3{
            @include GilroyHeavyIt;
            font-size: 28px;
            color: $white;
            align-self: flex-end;
            .red{
                color: $primary-color;
            }
        }
    }

    .mfi-carname{
        font-size:25px;
        color: $primary-color;
        text-shadow: 0px 0px 0px transparent;
    }

    .mfi-family{
        @include GilroySemibold;
        color: $secondary-color;
        font-size: 22px;


        .sigles{
            @include GilroyReg;
            color: #59595B;
            font-size: 15px;
        }
    }
    
    .mfi-description{
        color: #738284;
        max-width: 175px;
            
        @include breakpoints($tablet){
            max-width: 100%;
        }

        @include breakpoints($desktop){
            max-width: 175px;
        }
    }
}