.m-tag-item{
    display: inline-block;
    background-color: $tags-bg-grey;
    color: $p-grey;
    @include NutmegReg();
    font-size: 11px;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    @include breakpoints($tablet){
        font-size: 14px;
        padding: 15px 0px 15px 15px;
        margin-right: 10px;
    }

    .close{
        color: $primary-color;
        margin-left: 5px;
        padding: 10px;
        vertical-align: -1px;
        cursor: pointer;
        @include breakpoints($tablet){
            padding: 15px 15px 15px 10px;
        }
    }
}