.m-team-item{
    text-align: center;
    width: 300px;

    .img{
        width: 275px;
        height: 275px;
        margin: 0 auto 25px;
    }

    h3{
        @include GilroyExtrabold();
        color: $primary-color;
        font-size: 25px;
        margin-bottom: 5px;
    }

    p{
        @include NutmegReg();
        color: $secondary-color;
        font-size: 16px;
    }
}