%m-vehicles-item{
    width: 320px;
    height: 650px;
    background-color: $tabs-sel-bg-grey;
    background-clip: padding-box;
    border: 1px solid rgba($primary-color,0.0);
    border-radius: 15px;
    transition: all 0.15s ease-in-out;
    
    .svi-images{
        border-radius: 15px 15px 0px 0px;
        -khtml-border-radius: 15px 15px 0px 0px;
        width: 318px;
        overflow: hidden;
    }

    .svi-content{
        padding: 26px 30px;
        position: relative;
    }



    .svi-sale-info{
        height:128px;
    }

    .swiper-navigation{
        opacity: 0;
        transition: all 0.15s ease-in-out;
    }

    .svi-model-info{
        height: 150px;
    }
    
    .svi-button{
        text-align: center;
    }

    .svi-model{
        @include GilroySemibold();
        font-size: 22px;
        color: $secondary-color;
        margin-bottom: 9px;

    }

    .svi-version{
        @include GilroyReg();
        font-size: 15px;
        color: $secondary-color;
        margin-bottom: 22px;
    }

    .svi-carac{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .svi-c-item{
        flex-basis: 50%;
        @include NutmegReg();
        color: $p-grey;
        font-size: 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: flex-start;
        flex-wrap: wrap;

        @include all-class('icon-'){
            display: inline-block;
            width: 25px;
            &:before{
                color: $primary-color;
                font-size: 23px;
                margin-top: -4px;
            }
        }

        .body{
            width: calc(100% - 25px);
            padding-top: 5px;
        }
    }

    &:hover{
        border:1px solid rgba($primary-color,1);
        .swiper-navigation{
            opacity: 1;
        }
    }
}

.m-vehicles-sale-info{
    .r1{
        height:30px;
        margin-bottom: 10px;
    }

    .r2{
        margin-bottom: 6px;
    }

    .r3{

    }
    
    .line{
        height:30px;
        padding: 15px 0px 14px;

        &:after{
            content: '';
            display: block;
            width: 200px;
            height: 1px;
            background-color: $line-vehicle-grey;
        }

    }
    
    .svi-price--final{
        @include GilroyHeavyIt();
        color: $primary-color;
        font-size: 40px;

    }

    .svi-des-init{
        display: flex;
        
    }

    .svi-discount{
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background-color: $secondary-color;
        color: $white;
        @include GilroyBold();
        font-size: 11px;
        text-align: center;
        line-height: 30px;
        margin-right: 5px;
    }

    .svi-price--pvp{
        @include GilroyBold();
        color: $p-grey;
        font-size: 15px;
        line-height: 30px;
        margin-right: 5px;
    }


    .svi-price--erased{
        @include GilroyBold();
        color: $p-grey;
        font-size: 15px;
        line-height: 30px;
        text-decoration: line-through;
    }

    .svi-price--initial{
        @include GilroyHeavy();
        font-size: 35px;
        color: $secondary-color;
    }

    .svi-fee{
        .svi-from{
            @include GilroyBold();
            font-size: 12px;
            color: $secondary-color;
        }

        .svi-price-fee{
            @include GilroyHeavyIt();
            font-size: 20px;


            &.quota,
            &.month{
                color: $secondary-color;
            }

            &.divider{
                color: $primary-color;
                margin: 0px -3px;
            }


            &.comment{
                font-size: 15px;
                color: $secondary-color;
                margin-left: -4px;
            }
        }

        .icon-info{
            &:before{
                color: $primary-color;
            }

            position: relative;
        }
    }

    .svi-sale-badget{
        position: absolute;
        right: 24px;
        top: 23px;
        width: 80px;
        height: 80px;
        border-radius: 80px;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 70px;
        }
    }

    .svi-sale-badget--big{
        @extend .svi-sale-badget;
        right: 0px;
        top: 0px;
        width: 100px;
        height: 100px;
        border-radius: 100px;

        img{
            width: 85px;
        }
    }

}

.m-vehicles-sale-info--bg-prim{
    @extend .m-vehicles-sale-info;
    
    .svi-price--final{
        color: $white;
    }

    .svi-price--pvp{
        color: $secondary-color;   
    }


    .svi-price--erased{
        color: $secondary-color;
    }

    .svi-fee{
        &.divider{
            color: $secondary-color;
        }
    }
}

.m-vehicle-item{
    @extend %m-vehicles-item;
}

.m-vehicle-item--base{
    @extend %m-vehicles-item;
    @extend .m-vehicles-sale-info;
}

.m-vehicle-item--oferta{
    @extend %m-vehicles-item;
    @extend .m-vehicles-sale-info;
}

.m-vehicle-item--double{
    @extend %m-vehicles-item;
    @extend .m-vehicles-sale-info;
}

.m-vehicle-item--funded{
    @extend %m-vehicles-item;
    @extend .m-vehicles-sale-info;
}

.m-vehicle-item--full{
    @extend %m-vehicles-item;
    @extend .m-vehicles-sale-info;
}