/**
 * Slick Modals - HTML5 and CSS3 Powered Modal Popups
 * ---------------------------------------------------
 * @file      Defines plugin styles
 * @author    Capelle @ Codecanyon
 * @copyright @author
 * @version   5.0
 * @url       https://codecanyon.net/item/slick-modal-css3-powered-popups/12335988
 */

/*
   Reset and basics
   ------------------------------ */

/* Reset */
.sm-wrapper * {
    box-sizing: border-box;
}

/* Basics */
[data-sm-init="true"] {
    display: none;
}
.sm-wrapper,
.sm-wrapper .sm-overlay,
.sm-wrapper .sm-popup {
    position: fixed;
    top: 0;
    left: 0;
}
.sm-wrapper {
    display: none;
    z-index: 99999997;
}
.sm-wrapper .sm-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 99999998;
}
.sm-wrapper .sm-popup {
    z-index: 99999999;
}
.sm-sticky-button {
    position: fixed;
    top: 30px;
    left: 30px;
    background: #333;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 8px 20px;
    cursor: pointer;
    z-index: 99999996;
}
.sm-sticky-button:hover {
    opacity: .8;
}
.sm-wrapper .sm-popup .sm-draggable {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: transparent;
    cursor: move;
    -webkit-user-select: none;
    user-select: none;
    z-index: 998;
}
.sm-wrapper [data-sm-close="true"] {
    cursor: pointer;
}
body.sm-pageAnimated > *:not(.sm-wrapper) {
    pointer-events: none;
}
.sm-wrapper .sm-popup > div:after {
    content: '';
    display: block;
    clear: both;
}

/*
   Popup positions
   ------------------------------ */

.sm-wrapper .sm-popup[data-sm-position*="enter"] {
    left: 0;
    right: 0;
}
.sm-wrapper .sm-popup[data-sm-position*="eft"] {
    left: 0;
    right: auto;
}
.sm-wrapper .sm-popup[data-sm-position*="ight"] {
    left: auto;
    right: 0;
}
.sm-wrapper .sm-popup[data-sm-position*="top"] {
    top: 0;
    bottom: auto;
}
.sm-wrapper .sm-popup[data-sm-position*="bottom"] {
    top: auto;
    bottom: 0;
}
.sm-wrapper .sm-popup[data-sm-position="center"],
.sm-wrapper .sm-popup[data-sm-position="left"],
.sm-wrapper .sm-popup[data-sm-position="right"] {
    top: 0;
    bottom: 0;
}

/*
   Popup transitions
   ------------------------------ */

.sm-wrapper div[data-sm-animated="true"] {
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-direction: normal;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

/* ZoomIn */
.sm-wrapper.sm-active div[data-sm-effect="zoomIn"] {
    animation-name: sm-zoomIn;
}
.sm-wrapper div[data-sm-effect="zoomIn"] {
    animation-name: sm-zoomIn-out;
}
@keyframes sm-zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-zoomIn-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: scale(0.7);
    }
}

/* zoomOut */
.sm-wrapper.sm-active div[data-sm-effect="zoomOut"] {
    animation-name: sm-zoomOut;
}
.sm-wrapper div[data-sm-effect="zoomOut"] {
    animation-name: sm-zoomOut-out;
}
@keyframes sm-zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-zoomOut-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

/* slideTop */
.sm-wrapper.sm-active div[data-sm-effect="slideTop"] {
    animation-name: sm-slideTop;
}
.sm-wrapper div[data-sm-effect="slideTop"] {
    animation-name: sm-slideTop-out;
}
@keyframes sm-slideTop {
    0% {
        opacity: 0;
        transform: translateY(-25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideTop-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(-25%);
    }
}

/* slideBottom */
.sm-wrapper.sm-active div[data-sm-effect="slideBottom"] {
    animation-name: sm-slideBottom;
}
.sm-wrapper div[data-sm-effect="slideBottom"] {
    animation-name: sm-slideBottom-out;
}
@keyframes sm-slideBottom {
    0% {
        opacity: 0;
        transform: translateY(25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideBottom-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateY(25%);
    }
}

/* slideRight */
.sm-wrapper.sm-active div[data-sm-effect="slideRight"] {
    animation-name: sm-slideRight;
}
.sm-wrapper div[data-sm-effect="slideRight"] {
    animation-name: sm-slideRight-out;
}
@keyframes sm-slideRight {
    0% {
        opacity: 0;
        transform: translateX(25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideRight-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateX(25%);
    }
}

/* slideLeft */
.sm-wrapper.sm-active div[data-sm-effect="slideLeft"] {
    animation-name: sm-slideLeft;
}
.sm-wrapper div[data-sm-effect="slideLeft"] {
    animation-name: sm-slideLeft-out;
}
@keyframes sm-slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-25%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideLeft-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: translateX(-25%);
    }
}

/* slideInTop */
.sm-wrapper.sm-active div[data-sm-effect="slideInTop"] {
    animation-name: sm-slideInTop;
}
.sm-wrapper div[data-sm-effect="slideInTop"] {
    animation-name: sm-slideInTop-out;
}
@keyframes sm-slideInTop {
    0% {
        opacity: 0;
        transform: scale(.8) translateY(-30%);
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateY(0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideInTop-out {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(.8) translateY(-30%);
    }
}

/* slideInBottom */
.sm-wrapper.sm-active div[data-sm-effect="slideInBottom"] {
    animation-name: sm-slideInBottom;
}
.sm-wrapper div[data-sm-effect="slideInBottom"] {
    animation-name: sm-slideInBottom-out;
}
@keyframes sm-slideInBottom {
    0% {
        opacity: 0;
        transform: scale(.8) translateY(30%);
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateY(0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideInBottom-out {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateY(0);
    }
    100% {
        opacity: 0;
        transform: scale(.8) translateY(30%);
    }
}

/* slideInRight */
.sm-wrapper.sm-active div[data-sm-effect="slideInRight"] {
    animation-name: sm-slideInRight;
}
.sm-wrapper div[data-sm-effect="slideInRight"] {
    animation-name: sm-slideInRight-out;
}
@keyframes sm-slideInRight {
    0% {
        opacity: 0;
        transform: scale(.8) translateX(30%);
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateX(0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideInRight-out {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateX(0);
    }
    100% {
        opacity: 0;
        transform: scale(.8) translateX(30%);
    }
}

/* slideInLeft */
.sm-wrapper.sm-active div[data-sm-effect="slideInLeft"] {
    animation-name: sm-slideInLeft;
}
.sm-wrapper div[data-sm-effect="slideInLeft"] {
    animation-name: sm-slideInLeft-out;
}
@keyframes sm-slideInLeft {
    0% {
        opacity: 0;
        transform: scale(.8) translateX(-30%);
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateX(0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-slideInLeft-out {
    0% {
        opacity: 1;
        transform: none;
    }
    50% {
        opacity: 1;
        transform: scale(.8) translateX(0);
    }
    100% {
        opacity: 0;
        transform: scale(.8) translateX(-30%);
    }
}

/* rotateIn */
.sm-wrapper.sm-active div[data-sm-effect="rotateIn"] {
    animation-name: sm-rotateIn;
}
.sm-wrapper div[data-sm-effect="rotateIn"] {
    animation-name: sm-rotateIn-out;
}
@keyframes sm-rotateIn {
    0% {
        opacity: 0;
        transform: rotate(720deg) scale(0.5);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-rotateIn-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: rotate(720deg) scale(0.5);
    }
}

/* rotateOut */
.sm-wrapper.sm-active div[data-sm-effect="rotateOut"] {
    animation-name: sm-rotateOut;
}
.sm-wrapper div[data-sm-effect="rotateOut"] {
    animation-name: sm-rotateOut-out;
}
@keyframes sm-rotateOut {
    0% {
        opacity: 0;
        transform: rotate(720deg) scale(1.4);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-rotateOut-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: rotate(720deg) scale(1.4);
    }
}

/* flipInX */
.sm-wrapper.sm-active div[data-sm-effect="flipInX"] {
    animation-name: sm-flipInX;
}
.sm-wrapper div[data-sm-effect="flipInX"] {
    animation-name: sm-flipInX-out;
}
@keyframes sm-flipInX {
    0% {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
    }
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
@keyframes sm-flipInX-out {
    0% {
        transform: perspective(400px);
    }
    20% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    40% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }
    100% {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
    }
}

/* flipInY */
.sm-wrapper.sm-active div[data-sm-effect="flipInY"] {
    animation-name: sm-flipInY;
}
.sm-wrapper div[data-sm-effect="flipInY"] {
    animation-name: sm-flipInY-out;
}
@keyframes sm-flipInY {
    0% {
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transition-timing-function: ease-in;
    }
    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transition-timing-function: ease-in;
    }
    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }
    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    100% {
        transform: perspective(400px);
    }
}
@keyframes sm-flipInY-out {
    0% {
        transform: perspective(400px);
    }
    20% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }
    40% {
        opacity: 1;
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    }
    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transition-timing-function: ease-in;
    }
    100% {
        opacity: 0;
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transition-timing-function: ease-in;
    }
}

/* swingTop */
.sm-wrapper.sm-active div[data-sm-effect="swingTop"] {
    animation-name: sm-swingTop;
}
.sm-wrapper div[data-sm-effect="swingTop"] {
    animation-name: sm-swingTop-out;
    transform-origin: top center;
}
@keyframes sm-swingTop {
    0% {
        opacity: 0;
        transform: perspective(300px) rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-swingTop-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: perspective(300px) rotateX(-90deg);
    }
}

/* swingBottom */
.sm-wrapper.sm-active div[data-sm-effect="swingBottom"] {
    animation-name: sm-swingBottom;
}
.sm-wrapper div[data-sm-effect="swingBottom"] {
    animation-name: sm-swingBottom-out;
    transform-origin: bottom center;
}
@keyframes sm-swingBottom {
    0% {
        opacity: 0;
        transform: perspective(300px) rotateX(90deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-swingBottom-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: perspective(300px) rotateX(90deg);
    }
}

/* swingRight */
.sm-wrapper.sm-active div[data-sm-effect="swingRight"] {
    animation-name: sm-swingRight;
}
.sm-wrapper div[data-sm-effect="swingRight"] {
    animation-name: sm-swingRight-out;
    transform-origin: center right;
}
@keyframes sm-swingRight {
    0% {
        opacity: 0;
        transform: perspective(200px) rotateY(-90deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-swingRight-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: perspective(200px) rotateY(-90deg);
    }
}

/* swingLeft */
.sm-wrapper.sm-active div[data-sm-effect="swingLeft"] {
    animation-name: sm-swingLeft;
}
.sm-wrapper div[data-sm-effect="swingLeft"] {
    animation-name: sm-swingLeft-out;
    transform-origin: center left;
}
@keyframes sm-swingLeft {
    0% {
        opacity: 0;
        transform: perspective(200px) rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes sm-swingLeft-out {
    0% {
        opacity: 1;
        transform: none;
    }
    100% {
        opacity: 0;
        transform: perspective(200px) rotateY(90deg);
    }
}

/* Flash */
.sm-wrapper.sm-active div[data-sm-effect="flash"] {
    animation-name: sm-flash;
}
@keyframes sm-flash {
    0%, 40%, 80% {
        opacity: 0;
    }
    20%, 60%, 100% {
        opacity: 1;
    }
}

/* Pulse */
.sm-wrapper.sm-active div[data-sm-effect="pulse"] {
    animation-name: sm-pulse;
}
@keyframes sm-pulse {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    25%, 75% {
        transform: scale(1.05);
    }
    0%, 50%, 100% {
        transform: none;
    }
}

/* RubberBand */
.sm-wrapper.sm-active div[data-sm-effect="rubberBand"] {
    animation-name: sm-rubberBand;
}
@keyframes sm-rubberBand {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    30% {
        opacity: 1;
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Shake */
.sm-wrapper.sm-active div[data-sm-effect="shake"] {
    animation-name: sm-shake;
}
@keyframes sm-shake {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    0%, 100% {
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}

/* Swing */
.sm-wrapper.sm-active div[data-sm-effect="swing"] {
    animation-name: sm-swing;
    transform-origin: top center;
}
@keyframes sm-swing {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

/* Tada */
.sm-wrapper.sm-active div[data-sm-effect="tada"] {
    animation-name: sm-tada;
}
@keyframes sm-tada {
    0% {
        opacity: 0;
        transform: scale3d(1, 1, 1);
    }
    10% {
        opacity: 1;
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* wobble */
.sm-wrapper.sm-active div[data-sm-effect="wobble"] {
    animation-name: sm-wobble;
}
@keyframes sm-wobble {
    0% {
        opacity: 0;
        transform: none;
    }
    15% {
        opacity: 1;
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    100% {
        transform: none;
    }
}

/* Bounce */
.sm-wrapper.sm-active div[data-sm-effect="bounce"] {
    animation-name: sm-bounce;
    transform-origin: center bottom;
}
@keyframes sm-bounce {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    0%, 20%, 53%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    40%, 43% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0,-4px,0);
    }
}

/* BounceIn */
.sm-wrapper.sm-active div[data-sm-effect="bounceIn"] {
    animation-name: sm-bounceIn;
}
@keyframes sm-bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/* BounceInUp */
.sm-wrapper.sm-active div[data-sm-effect="bounceInUp"] {
    animation-name: sm-bounceInUp;
}
@keyframes sm-bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -20px, 0);
    }
    75% {
        transform: translate3d(0, 10px, 0);
    }
    90% {
        transform: translate3d(0, -5px, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

/* BounceInDown */
.sm-wrapper.sm-active div[data-sm-effect="bounceInDown"] {
    animation-name: sm-bounceInDown;
}
@keyframes sm-bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    100% {
        transform: none;
    }
}

/* BounceInRight */
.sm-wrapper.sm-active div[data-sm-effect="bounceInRight"] {
    animation-name: sm-bounceInRight;
}
@keyframes sm-bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        transform: translate3d(10px, 0, 0);
    }
    90% {
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

/* BounceInLeft */
.sm-wrapper.sm-active div[data-sm-effect="bounceInLeft"] {
    animation-name: sm-bounceInLeft;
}
@keyframes sm-bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

/* unFold */
.sm-wrapper.sm-active div[data-sm-effect="unFold"] {
    animation-name: sm-unFold;
}
.sm-wrapper div[data-sm-effect="unFold"] {
    animation-name: sm-unFold-out;
}
@keyframes sm-unFold {
    0% {
        transform: scaleY(.01) scaleX(0);
    }
    50% {
        transform: scaleY(.01) scaleX(1);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes sm-unFold-out {
    0% {
        transform: scaleY(1) scaleX(1);
    }
    50% {
        transform: scaleY(.01) scaleX(1);
    }
    100% {
        transform: scaleY(.01) scaleX(0);
    }
}

/* flowIn */
.sm-wrapper.sm-active div[data-sm-effect="flowIn"] {
    animation-name: sm-flowIn;
}
.sm-wrapper div[data-sm-effect="flowIn"] {
    animation-name: sm-flowIn-out;
}
@keyframes sm-flowIn {
    0% {
        opacity: 0;
        border-radius: 200px;
        transform: scale(0.6);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
@keyframes sm-flowIn-out {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        border-radius: 200px;
        transform: scale(0.6);
    }
}

/* fadeIn */
.sm-wrapper.sm-active div[data-sm-effect="fadeIn"] {
    animation-name: sm-fadeIn;
}
@keyframes sm-fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* fadeOut (used for effects which don't have a specific backwards transition defined) */
.sm-wrapper div[data-sm-effect="fadeIn"],
.sm-wrapper div[data-sm-effect="flash"],
.sm-wrapper div[data-sm-effect="pulse"],
.sm-wrapper div[data-sm-effect="rubberBand"],
.sm-wrapper div[data-sm-effect="shake"],
.sm-wrapper div[data-sm-effect="swing"],
.sm-wrapper div[data-sm-effect="tada"],
.sm-wrapper div[data-sm-effect="wobble"],
.sm-wrapper div[data-sm-effect*="bounce"] {
    animation-name: sm-fadeIn-out;
}
@keyframes sm-fadeIn-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*
   Close buttons
   ------------------------------ */

/* Basic */
.sm-wrapper .sm-button {
    position: absolute;
    z-index: 999;
}
.sm-wrapper .sm-button,
.sm-wrapper .sm-button:before,
.sm-wrapper .sm-button:after {
    transition: all .1s ease;
}
.sm-wrapper .sm-button[data-sm-button-align="right"][data-sm-button-place="inside"] {
    right: 12px;
}
.sm-wrapper .sm-button[data-sm-button-align="right"][data-sm-button-place="outside"] {
    right: 0;
}
.sm-wrapper .sm-button[data-sm-button-align="left"][data-sm-button-place="inside"] {
    left: 12px;
}
.sm-wrapper .sm-button[data-sm-button-align="left"][data-sm-button-place="outside"] {
    left: 0;
}
.sm-wrapper .sm-button[data-sm-button-place="inside"] {
    top: 12px;
}
.sm-wrapper .sm-button[data-sm-button-place="outside"] {
    top: -28px;
}

/* Common */
.sm-wrapper .sm-button[data-sm-button-style*="cancel"] {
    width: 44px;
    height: 44px;
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel"][data-sm-button-place="outside"] {
    margin-top: -6px;
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel"]:before,
.sm-wrapper .sm-button[data-sm-button-style*="cancel"]:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 2px;
    margin: auto;
    transform-origin: center;
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel"]:before {
    transform: rotate(45deg);
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel"]:after {
    transform: rotate(-45deg);
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel simple"][data-sm-button-place="inside"]:before,
.sm-wrapper .sm-button[data-sm-button-style*="cancel simple"][data-sm-button-place="inside"]:after,
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="inside"],
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="outside"]:before,
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="outside"]:after {
    background: #111;
}
.sm-wrapper .sm-button[data-sm-button-style*="cancel simple"][data-sm-button-place="outside"]:before,
.sm-wrapper .sm-button[data-sm-button-style*="cancel simple"][data-sm-button-place="outside"]:after,
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="outside"],
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="inside"]:before,
.sm-wrapper .sm-button:not([data-sm-button-style*="simple"])[data-sm-button-style*="cancel"][data-sm-button-place="inside"]:after {
    background: #fff;
}
.sm-wrapper .sm-button:not([data-sm-button-style*="label"]) {
    opacity: .5;
}
.sm-wrapper .sm-button:not([data-sm-button-style*="label"]):hover {
    opacity: 1;
}
.sm-wrapper .sm-button[data-sm-button-style*="text"]:after {
    content: attr(data-sm-button-text);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

/* Circle */
.sm-wrapper .sm-button[data-sm-button-style*="circle"] {
    border-radius: 50%;
}

/* Text */
.sm-wrapper .sm-button[data-sm-button-style*="text simple"] {
    font-size: 11px;
}
.sm-wrapper .sm-button[data-sm-button-style*="text simple"][data-sm-button-place="inside"]:after {
    color: #111;
}
.sm-wrapper .sm-button[data-sm-button-style*="text simple"][data-sm-button-place="outside"]:after {
    color: #fff;
}

/* Label */
.sm-wrapper .sm-button[data-sm-button-style*="label"] {
    font-size: 9px;
    color: #fff;
    padding: 6px 12px;
    background: #111;
    background: linear-gradient(to right, #cc3434 50%, #111 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.sm-wrapper .sm-button[data-sm-button-style*="label"]:hover {
    background-position: left bottom;
}