.p-about-us-section{
    padding-top: 85px;

    @include breakpoints($tablet){
        padding-top: 112px;
    }

    @include breakpoints($desktop){
        padding-top: 130px;
    }


    .wrapper{
        max-width: 100%;
    }

    .pms-header,
    .pms-subheader{
        width: 280px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        @include breakpoints($tablet){
            width: 575px;
        }

        @include breakpoints($desktop){
            width: 900px;
        }
    }

    .pms-subheader{
        margin-bottom: 57px;
    }


}