.p-blog-section--home{
    padding-top: 85px;

    @include breakpoints($tablet){
        padding-top: 112px;
    }

    @include breakpoints($desktop){
        padding-top: 130px;
    }


    .pbs-header,
    .pbs-subheader{
        width: 280px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        @include breakpoints($tablet){
            width: 480px;
        }

        @include breakpoints($desktop){
            width: 750px;
        }
    }

    .pbs-subheader{
        margin-bottom: 57px;
    }

    .wrapper{
        width: 320px;
        overflow: hidden;
        @include breakpoints($tablet){
            width: 670px;
        }        
        
        @include breakpoints($desktop){
            width: 1074px;
        }
    }

    .m-blog-item--compact{
        @include breakpoints($desktop){
            margin-right: 57px;
        }
    }

    .blog-home-pagination{
        text-align: center;
        padding: 40px 0px;

        @include breakpoints($desktop){
            opacity: 0;
        }
    }
}