.p-centros-section{


    .pcs-header,
    .pcs-subheader{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }

    .pcs-header{
        width: 280px;
        margin-top: 75px;
        @include breakpoints($tablet){
            margin-top: 105px;
            width: 100%;
        }
    }

    .pcs-subheader{
        width: 250px;

        @include breakpoints($tablet){
            width: 100%;
        }
    }

    .w-content{
        width: 320px; 
        margin: 0 auto;  
        @include breakpoints($tablet){
            width: 620px;
        }

        @include breakpoints($desktop){
            width: 1180px;
        } 
    }

    .pcs-content{
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            bottom: 160px;
            background-color: $primary-color;

            @include breakpoints($tablet){
                bottom: 74px;
            }

            @include breakpoints($desktop){
                bottom: 79px;
            }
        }

        .pcs-container{
            position: relative;
            z-index: 2;
        }
    }

    .m-centros-item--left,
    .m-centros-item--right{
        display: none;

        &.active{
            display: block;
            
            @include breakpoints($desktop){
                display: flex;
            }
        }
    }
}