.p-home--sales{
    position: relative;
    padding-top: 75px;

    @include breakpoints($tablet){
        padding-top: 80px;
    }

    @include breakpoints($desktop){
        padding-top: 90px;
    }    

    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 411px;
        background-color: $secondary-color;
    }

    .w-content{
        position: relative;
        z-index: 10;

        h2.blue{
            text-align: center;
            width: 250px;
            margin: 0 auto;
            @include breakpoints($tablet){
                width: 100%;
            }
        }
    
        &>h4{
            text-align: center;
            margin: 30px auto;
            width: 250px;
    
            @include breakpoints($tablet){
                width: 575px;
            }
    
            @include breakpoints($desktop){
                width: 700px;
            }    
        }

        .phs-container{
            width: 320px;
            margin: 0 auto;

            @include breakpoints($desktop){
                width: 1075px;
            }
        }

        #m-menu--home-sales{
            padding-top: 15px;
        }

        .home-sales-navigation{
            padding: 40px 0px;

            .home-sales-pagination{
                text-align: center;
                @include breakpoints($desktop){
                    opacity: 0;
                }
            }
        }
    }
}

.p-home--sales--secondary{
    @extend .p-home--sales;

    &::after{
        background-color: $primary-color;
    }

    .w-content{
        h2.blue{
            color: $secondary-color;
        }

        & > h4{
            margin-bottom: 0px;
        }
        .home-sales-navigation{
            padding: 40px 0px 40px;
        }
    }
}