.p-marcas-section{
    .pms-header{
        width: 280px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        @include breakpoints($tablet){
            width: 100%;
        }
    }

    .pms-subheader{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        width: 280px;
        
        @include breakpoints($tablet){
            width: 575px;
        }

        @include breakpoints(900px){
            width: 860px;
        }
    }



    .pms-container{
        background-color: #E9EDEE;
        position: relative;
        .w-content{
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 320px;
            padding: 20px;
            @include breakpoints($tablet){
                width: 660px;
                padding: 30px;
            }

            @include breakpoints($desktop){
                width: 1260px;
                padding: 55px;
            }
        }
    }

    .swiper-button-prev{
        width: 20px;
        background-size: 20px 44px;
        margin-left: 0px;
        left: 10px;
        @include breakpoints(375px){
            margin-left: 10px;
        }

        @include breakpoints($tablet){
            width: 27px;
            background-size: 27px 44px;
            margin-left: 20px;
            left: 20px;
        }

        @include breakpoints($desktop){
            margin-left: 30px;
            left: 30px;
        }
    }

    .swiper-button-next {
        width: 20px;
        background-size: 20px 44px;
        margin-right: 0px;
        right: 10px;

        @include breakpoints(375px){
            margin-right: 10px;
        }

        @include breakpoints($tablet){
            width: 27px;
            background-size: 27px 44px;
            margin-right: 20px;
            right: 20px;
        }

        @include breakpoints($desktop){
            margin-right: 30px;
            right: 30px;
        }
    }
}

.p-marcas-section--home{
    padding-top: 80px;
    
    @include breakpoints($tablet){
        padding-top: 125px;
    }
    
    @include breakpoints($desktop){
        padding-top: 150px;
    }
}