.p-newsletter-section{
    background-color: $tags-bg-grey;
    margin-bottom: 80px;
    .wrap{
        position: relative;
        width: 320px;
        margin: 0 auto;
        
        @include breakpoints($tablet){
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        @include breakpoints($desktop){
            width: 1240px;
        }

        @include breakpoints(1300px){
            width: 1300px;
        }
    }

    .pns-img{
        width: 350px;
        display: none;

        @include breakpoints($desktop){
            display: block;
        }

        @include breakpoints(1300px){
            width: 600px;
        }

    }

    .form{
        width: 276px;
        margin: 0 auto;
        padding: 60px 0px;
        @include breakpoints($tablet){
            width: 500px;
            padding: 68px 0px;
        }
        @include breakpoints($desktop){
            width: 680px;
            margin: 0px;
            padding: 68px 30px;
        }

        h3{
            @include GilroyHeavyIt();
            color: $primary-color;
            font-size: 40px;
            width: 230px;
            margin: 0 auto 30px;
            text-align: center;
            text-shadow: 2px 2px 0px rgba($text-bg-blue,0.15);

            @include breakpoints($tablet){
                width: 100%;
                text-align: left;
            }
        }
        h4{
            font-size: 20px;
            width: 265px;
            margin: 0 auto 30px;
            text-align: center;
            @include breakpoints($tablet){
                font-size: 25px;
                width: 510px;
                margin: 0px 0px 30px;
                text-align: left;
            }
        }
    }

    
    .pns-container{
        @include breakpoints($tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .pns-inputs{
            @include breakpoints($tablet){
                width: 360px;
            }

            @include breakpoints($desktop){
                width: 460px;
                padding-top: 20px;

            }

            .checks{
                margin-top: 30px;
            }
            .a-one-line-checkbox{
                width: 270px;
                display: block;
                margin-top: 5px;
                @include breakpoints($desktop){
                    width: 100%;
                }
            }
        }
        .pns-btn{
            margin-top: 30px;
            text-align: center;

            @include breakpoints($tablet){
                margin-top: 0px;
                text-align: left;
            }
            @include breakpoints($desktop){
                margin-top: 0px;
            }
        }
    }
        

    #sms{
        color: $green;
        font-style: italic;
        margin-top: 20px;
    }

}