.p-nos-veh{
    
    padding-bottom: 100px;

    h2.blue{
        text-align: center;
        width: 250px;
        margin: 0 auto;
        @include breakpoints($tablet){
            margin-top: -40px;
            width: 100%;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 250px;

        @include breakpoints($tablet){
            width: 530px;

            br{
                display: none;
            }
        }

        @include breakpoints($desktop){
            width: 100%;
            br{
                display: block;
            }
        }    
    }

    .wrapper{
        @include breakpoints($tablet){
            padding-top: 30px;
        }
        
        @include breakpoints($desktop){
            width: 1073px;
            padding-top: 50px;
        }
    }

    .o-swiper--nos-veh{
        @include breakpoints($desktop){
            padding-left: 180px;
        }
    }
    
}


.p-nos-veh--compressed{
    padding: 70px 0px 40px;
    
    @include breakpoints($tablet){
        padding: 100px 0px 70px;
    }
    h2.blue{
        text-align: center;
        width: 250px;
        margin: 0 auto;
        @include breakpoints($tablet){
            padding-top: 40px;
            width: 100%;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 250px;

        @include breakpoints($tablet){
            width: 530px;
        }

        @include breakpoints($desktop){
            width: 880px;
        }    
    }
    
    .o-nos-veh-container--compressed{
        width: 300px;
        margin: 0 auto;
        padding: 30px 0px;

        @include breakpoints($tablet){
            width: 560px;
        }

        @include breakpoints($desktop){
            width: 870px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .m-nos-veh-item--compressed{

        .image{
            margin-bottom: 25px;
        }
    }
}
