.p-why-heygo-section{
    background-color: $tabs-sel-bg-grey;
    padding: 75px 0px;
    text-align: center;

    @include breakpoints($tablet){
        padding-top: 92px;
    }
    h2.blue{
        text-align: center;
        font-size: 45px;
        width: 300px;
        margin: 0 auto 45px;

        @include breakpoints($tablet){
            font-size: 50px;
            width: 100%;
        }
    }

    .o-why-container{
        width: 300px;
        margin: 0 auto;

        @include breakpoints($tablet){
            width: 680px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
        @include breakpoints($desktop){
            width: 1020px;
        }
    
        .m-why-item{

            @include breakpoints($tablet){
                &:nth-of-type(1)::before,
                &:nth-of-type(3)::before,
                &:nth-of-type(5)::before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 1px;
                    height: 100px;
                    background-color: $primary-color; 
                    top: 0px;
                    right: 0px;
                }
            }
            @include breakpoints($desktop){
                &:nth-of-type(2)::before,
                &:nth-of-type(4)::before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 1px;
                    height: 100px;
                    background-color: $primary-color; 
                    top: 0px;
                    right: 0px;
                }

                &:nth-of-type(3)::before{
                    content: none;
                }
            }
        }
    
    }

    .m-why-item{
        width: 300px;
        text-align: center;
        padding-bottom: 48px;
        position: relative;

        @include breakpoints($tablet){
            width: 340px
        }

        .img{ 
            height: 134px;   
            &.volante{
                img{
                    width: 115px;
                }
            }
            &.anyos{
                img{
                    width: 130px;
                }
            }
            &.compra{
                img{
                    width: 110px;
                }
            }
            &.financiacion{
                img{
                    width: 101px;
                }
            }

            &.peritacion{
                img{
                    width: 101px;
                }
            }

            &.online{
                img{
                    width: 111px;
                }
            }

            position: relative;

            .new-icon-wrapper{
                position: absolute;
                left: 50px;
                bottom: 25px;

                @include breakpoints($tablet){
                    left: 70px;
                }

                .new-icon{
                    width: 44px;
                }
            }

        }



        h4{
            font-size: 22px;
        }
    }

    
}