.a-button--offset{
    display: inline-block;
    margin: 0.3em;
    @include clearfix;
    transition: all 0.25s;
    padding-bottom: 0.3em;
    padding-right: 0.3em;
    cursor: pointer;

    .btn{
        width: 190px;
        height: 60px;
        text-align: center;
        background-color: rgba($primary-color, 0.7);
        border: 0px solid;
        border-radius: 5px;
        font: inherit;
        line-height: 1;
        padding: 20px 0px;
        @include NutmegBold;
        color: #fff;
        float: left;
        position: relative;
        z-index: 2;
        transition: all 0.25s;
        font-size: 18px;
        overflow: hidden;
        &:before{
            content: '';
            display: block;
            width: 300px;
            height: 50px;
            position: absolute;
            transform: skewY(-2.5deg);
            background-color: $white;
            opacity: 0;
            top: -28px;
            left: 0px;
            transition: all 0.25s ease-in-out;
        }

        @include all-class('icon-'){
            color: $white;
            font-size: 22px;
            vertical-align: -5px;
            margin-left: 5px;
        }
    }    
    .shadow{
        width: 190px;
        height: 60px;
        transition: all 0.25s;
        border-radius: 5px;
        margin: 0 0 0 0;
        background-color: transparent;
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        padding-bottom: 0em; 
        padding-right: 0em; 
        .btn{
            background-color: rgba($primary-color, 1);
            &:before{
                opacity: 0.3;
                top: -28px;
                left: 0px;
            }
        }
        .shadow{
            margin: 0.3em 0 0 0.3em;
            background-color: rgba($secondary-color,0.25);
        }
    }

    &.inactive{
        pointer-events: none;
        &:hover, 
        &:focus{
          cursor: not-allowed;   
        }
    }
    

}

.a-button--offset--dark{
    @extend .a-button--offset;

    .btn{
        background-color: rgba($secondary-color, 0.7);
    }

    
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: rgba($secondary-color, 1);
        }
    }
}

.a-button--offset--stock{
    @extend .a-button--offset;

    .btn,
    .shadow{
        width: 290px;
    }

    .btn{
        &:before{ 
           top: -18px;
        }
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            &:before{
                top: -18px;
            }
        }
    }
}

.a-button--offset--small{
    @extend .a-button--offset;

    .btn,
    .shadow{
        width: 150px;
        font-size: 18px;
    }
    .btn{
        &:before{
            top: -24px;
        }
    }


    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            &:before{
                top: -24px;
            }
        }
    }
}


.a-button--search{
    @extend .a-button--offset;

    .btn{
        background-color: rgba($secondary-color, 0.7);
        padding: 16px 0px;
        @include all-class('icon-'){
            color: $white;
            font-size: 29px;
            vertical-align: -8px;
            margin-left: 5px;
        }
    }    

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: rgba($secondary-color, 1);
        }
    }
}


.a-button--offset--growing--stock{
    display: inline-block;
    margin: 0.5em;
    @include clearfix;
    transition: all 0.25s;
    padding-bottom: 0.3em; 
    padding-right: 0.3em; 
    cursor: pointer;

    .btn{
        width: 175px;
        height: 75px;
        text-align: center;
        background-color: rgba($secondary-color, 0.7);
        border: 0px solid;
        border-radius: 5px;
        font: inherit;
        padding: 21px 0px;
        @include NutmegBold;
        font-size: 18px;
        color: #fff;
        float: left;
        position: relative;
        z-index: 2;
        transition: all 0.25s ease-in-out;
        overflow: hidden;
        &:before{
            content: '';
            display: block;
            width: 400px;
            height: 100px;
            position: absolute;
            transform: skewY(-2.5deg);
            background-color: #ffffff;
            opacity: 0;
            top: -63px;
            left: 0px;
        }

        .text{
            display: inline-block;
            width: 95px;
        }

        @include all-class('icon-'){
            color: $white;
            font-size: 17px;
            vertical-align: 8px;
            margin-left: 5px;
        }
    }    
    .shadow{
        width: 175px;
        height: 75px;
        transition: all 0.25s;
        border-radius: 5px;
        margin: 0 0 0 0;
        background-color: transparent;
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        padding-bottom: 0em; 
        padding-right: 0em; 
        .btn{
            background-color: rgba($secondary-color, 1);
            &:before{
                opacity: 0.3;
                top: -63px;
                left: 0px;
            }
        }
        .shadow{
            margin: 0.3em 0 0 0.3em;
            background-color: rgba($secondary-color,0.25);
        }
    }

    @include breakpoints($tablet){
        .btn{
            width: 290px;
            height: 60px;
            line-height: 1;

            &:before{
                top: -73px;
            }

            .text{
                display: inline;
                width: auto;
            }

            @include all-class('icon-'){
                font-size: 22px;
                vertical-align: -6px;
            }
        }

        .shadow{
            width: 290px;
            height: 60px;
        }

        
        &:not(.inactive):hover, 
        &:not(.inactive):focus{
            .btn{
                &:before{
                    top: -73px;
                }
            }

        }
    }
}

.a-button--offset--growing--stock--primary{
    @extend .a-button--offset--growing--stock;
    .btn{
        background-color: rgba($primary-color, 0.7);
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: rgba($primary-color, 1);
        }
    }
}

.a-button--video-cita{
    @extend .a-button--offset--dark;
        .btn, .shadow{
            width: 290px;
            height: 60px;
        }
}

.a-button--video-cita--primary{
    @extend .a-button--offset;
        .btn, .shadow{
            width: 290px;
            height: 60px;
        }
}

.a-button--video-cita-primary{
    @extend .a-button--video-cita;
    .btn{
        background-color: $primary-color;
    }    
    
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: $primary-color;
        }
    }
    .btn, .shadow{
        width: 290px;
        height: 60px;
    }
}



%a-button--round{
    display: inline-block;
    margin: 0.5em;
    @include clearfix;
    transition: all 0.25s;
    padding-bottom: 0.3em; 
    padding-right: 0.3em; 
    cursor: pointer;
    position: relative;

    .btn{
        width: 100px;
        height: 100px;
        text-align: center;
        border: 0px solid;
        border-radius: 100px;
        font: inherit;
        line-height: 1;
        @include NutmegBold;
        color: #fff;
        float: left;
        position: relative;
        padding: 28px 0px;
        z-index: 2;
        transition: all 0.25s;
        overflow: hidden;
        &:before{
            content: '';
            display: block;
            width: 100px;
            height: 100px;
            position: absolute;
            transform: skewY(-25deg);
            background-color: #ffffff;
            opacity: 0;
            top: 55px;
            left: 0px;
        }

        @include all-class('icon-'){
            display: inline-block;
            color: $white;
            font-size: 20px;
            margin-top: 10px;
        }
    }    
    .shadow{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        transition: all 0.25s;
        margin: 0 0 0 0;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        padding-bottom: 0em; 
        padding-right: 0em; 
        .btn{
            &:before{
                opacity: 0.2;
                top: 55px;
                left: 0px;
            }
        }
        .shadow{
            margin: 0.3em 0 0 0.3em;
            background-color: rgba(#143649,0.25);
        }
    } 
}


.a-button--round--yellow{
    @extend %a-button--round;

    .btn{
        background-color: rgba($yellow, 0.7);
    }
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: $yellow;
        }
    }
}

.a-button--round--purple{
    @extend %a-button--round;
    .btn{
        background-color: rgba($purple, 0.7);
    }
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: $purple;
        }
    }
}

.a-button--round--bluemarine{
    @extend %a-button--round;
    .btn{
        background-color: rgba($bluemarine, 0.7);
    }
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: $bluemarine;
        }
    }
}

.a-button--round--primary{
    @extend %a-button--round;
    .btn{
        font-size: 18px;
        background-color: rgba($primary-color, 0.7);
    }
    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        .btn{
            background-color: $primary-color;
        }
    }
}

.a-button--negative--red{
    display: inline-block;
    width: 220px;
    padding: 20px 0px;
    border: 2px solid $primary-color;
    background-color: transparent;
    @include NutmegBold();
    color: $white;
    font-size: 18px;
    text-align:center;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    
    &:not(.inactive):hover{
        background-color: $primary-color;
    }
}

%a-button--prev--next{
    display: inline-block;
    margin: 0.5em;
    @include clearfix;
    transition: all 0.25s;
    padding-bottom: 0.3em; 
    padding-right: 0.3em; 
    cursor: pointer;

    .btn{
        width: 45px;
        height: 45px;
        border-radius: 100%;
        position: relative;
        float: left;
        @include breakpoints($tablet){
            width:68px;
            height: 68px;
        }

        &:before{
            font-family: 'icomoon';
            position: absolute;
            font-size: 20px;
            color: $white;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            @include breakpoints($tablet){
                font-size: 27px;
            }
        }
    }

    .shadow{
        width: 45px;
        height: 45px;
        border-radius: 100%;
        transition: all 0.25s;
        margin: 0 0 0 0;
        background-color: transparent;
        @include breakpoints($tablet){
            width:68px;
            height: 68px;
        }
    }

    &:not(.inactive):hover, 
    &:not(.inactive):focus{
        padding-bottom: 0em; 
        padding-right: 0em; 
        .shadow{
            margin: 0.3em 0 0 0.3em;
            background-color: rgba(#143649,0.25);
        }
    }
}

%a-button--prev{
    .btn{
        &:before{
            content: '\e905';
        }
    }
}

%a-button--next{
    .btn{
        &:before{
            content: '\e906';
        }
    }
}



.a-button--blue--prev{
    @extend %a-button--prev--next;
    @extend %a-button--prev;

    .btn{
        background-color: rgba($secondary-color, 0.7);
    }

    &:hover{
        .btn{
            background-color: rgba($secondary-color, 1);
        }
    }
}

.a-button--blue--next{
    @extend %a-button--prev--next;
    @extend %a-button--next;

    .btn{
        background-color: rgba($secondary-color, 0.7);
    }

    &:not(.inactive):hover{
        .btn{
            background-color: rgba($secondary-color, 1);
        }
    }
}

.a-button--red--prev{
    @extend %a-button--prev--next;
    @extend %a-button--prev;

    .btn{
        background-color: rgba($primary-color, 0.7);
    }

    &:not(.inactive):hover{        
        .btn{
            background-color: rgba($primary-color, 1);
        }
    }
}

.a-button--red--next{
    @extend %a-button--prev--next;
    @extend %a-button--next;

    .btn{
        background-color: rgba($primary-color, 0.7);
    }

    &:not(.inactive):hover{
        .btn{
            background-color: rgba($primary-color, 1);
        }
    }
}

%a-button--mutant--prev--next{
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    background-color: transparent;
    border: 1px solid $primary-color;
    background-image: none;
    text-align: center;
    transition: all 0.25s ease-in-out;

    &:before{
        font-family: 'icomoon';
        font-size: 15px;
        color: $primary-color;
        line-height: 40px;

        // @include breakpoints($tablet){
        //     font-size: 27px;
        //     line-height: 60px;
        // }

        // @include breakpoints($desktop){
        //     line-height: 70px;
        // }
    }

    &:not(.inactive):hover{
        background-color: $primary-color;

        &:before{
            color: $white;
        }
    }
}

%a-button--simple-prev{
    &:before{
        content: '\e905';
    }
}

%a-button--simple-next{
    &:before{
        content: '\e906';
    }
}

.a-button--mutant--prev{
    @extend .swiper-button-prev;
    @extend %a-button--mutant--prev--next;
    @extend %a-button--simple-prev;

}

.a-button--mutant--next{
    @extend .swiper-button-next;
    @extend %a-button--mutant--prev--next;
    @extend %a-button--simple-next;
}

.a-button--search-form{
    display: inline-block;
    @include NutmegBold();
    background-color: rgba($secondary-color,0.7);
    transition: all 0.25s ease-in-out;
    color: $white;
    font-size: 16px;
    padding: 15px 45px 15px 25px;
    position: relative;
    border-radius: 15px;

    &:not(.inactive):hover{
        background-color: rgba($secondary-color,1);
    }

    &::after{
        content: '\e928';
        @include icon();
        position: absolute;
        color: $primary-color;
        right: 12px;
        top: 10px;
        font-size: 28px;
    }
}

.a-button--search-form-growing{
    display: inline-block;
    @include NutmegBold();
    background-color: rgba($secondary-color,0.7);
    transition: all 0.25s ease-in-out;
    color: $white;
    font-size: 16px;
    padding: 15px 45px 15px 25px;
    position: relative;
    border-radius: 15px;

    &:not(.inactive):hover{
        background-color: rgba($secondary-color,1);
    }

    span{
        display: none;

        @include breakpoints($tablet){
            display: inline;
        }
    }

    &::after{
        content: '\e928';
        @include icon();
        position: absolute;
        color: $primary-color;
        right: 12px;
        top: 10px;
        font-size: 28px;
    }
}

.a-button--remove-filters{
    background: transparent;
    @include NutmegReg();
    font-size: 15px;
    color: #143649;
    .round{
        background: $white;
        margin-right: 2px;
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 26px;
        position: relative;
        vertical-align: -8px;
        cursor: pointer;
        .icon-cross{
            position: absolute;
            color: $primary-color;
            font-size: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }

    &.active{
        .round{
            .icon-cross{
                opacity: 1;
                transition: opacity 0.25s ease-in-out;
            }
        }
    }
}

.a-button--filters{
    background: transparent;
    .round{
        background: $primary-color;
        margin-right: 2px;
        display: inline-block;
        width: 26px;
        height: 26px;
        border-radius: 26px;
        position: relative;
        vertical-align: -8px;
        cursor: pointer;

        &::before{
            @include icon();
            content: "\e902";
            position: absolute;
            color: $white;
            font-size: 20px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .on,.off{
        @include NutmegReg();
        font-size: 15px;
        color: #143649;
    }
    .on{
        display: none;
    }

    .off{
        display: inline;
    }

    &.active{
        .round::before{
            content: "\e903"; 
        }
        
        .on{
            display: inline;
        }

        .off{
            display: none;
        }
    }
}

.a-button--favs--filter{
    background: transparent;
    @include NutmegBold();
    color: #8B9B9E;
    height: 52px;
    font-size: 18px;
    padding: 15px 35px 15px 35px;
    position: relative;
    border-radius: 20px;
    @include add-border(1px,$primary-color,'all');
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    @include breakpoints($tablet){
        padding: 15px 35px 15px 95px;
    }

    &:before{
        @include icon();
        content: "\e92a";
        color: $tabs-bg-grey;
        font-size: 40px;
        position: absolute;
        top: 7px;
        left: 15px;

        @include breakpoints($tablet){
            left: 45px;
        }
    }

    span{
        display: none;
        @include breakpoints($tablet){
            display: inline;
        }
    }

    &.active{
        &:before{
            color: $primary-color;
        }
    }

}

.a-button--favs--filter{
    background: transparent;
    @include NutmegBold();
    color: #8B9B9E;
    height: 60px;
    font-size: 18px;
    padding: 20px 35px 20px 35px;
    position: relative;
    border-radius: 20px;
    vertical-align: top;
    text-transform: uppercase;
    cursor: pointer;
    @include add-border(1px,$primary-color,'all');
    opacity: 0.7;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    @include breakpoints($tablet){
        padding: 19px 35px 19px 90px;
    }

    &:before{
        @include icon();
        content: "\e92a";
        color: $tabs-bg-grey;
        font-size: 40px;
        position: absolute;
        top: 11px;
        left: 13px;

        @include breakpoints($tablet){
            left: 40px;
        }
    }

    span{
        display: none;
        @include breakpoints($tablet){
            display: inline;
        }
    }

    &.active,
    &:hover{
        opacity: 1;
        color: $black;
        &:before{
            color: $primary-color;
        }
    }
}

.a-button--vehiculos-form{
    background: rgba($primary-color, 1);
    @include NutmegBold();
    color: $white;
    height: 60px;
    font-size: 18px;
    padding: 10px 20px 10px 60px;
    position: relative;
    border-radius: 20px;
    vertical-align: top;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    @include breakpoints($tablet){
        padding: 19px 35px 19px 80px;
    }

    &:before{
        @include icon();
        content: "\e928";
        color: $white;
        font-size: 40px;
        position: absolute;
        top: 11px;
        left: 13px;

        @include breakpoints($tablet){
            left: 30px;
        }
    }

    span{
        display: none;
        @include breakpoints($tablet){
            display: inline;
        }
    }

    @include breakpoints($desktop){
        background: rgba($primary-color, 0.7);
        opacity: 0.7;

        &:hover{
            background: rgba($primary-color, 1);
        }
    }
}

%a-button--icon{
    display: flex;
    width: 300px;
    height: 60px;
    @include NutmegBold();
    font-size: 18px;
    text-align: center;
    border: 1px solid transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    opacity: 0.7;
    transition: all 0.25s ease-in-out;
    &:hover{
        opacity: 1;
    }
    @include all-class('icon-'){
        font-size: 25px;
        margin-right: 5px;
    }
}

.a-button--reservar{
    @extend %a-button--icon;
    background-color: $secondary-color;
    color: $white;
    border-color: $secondary-color;
}

.a-button--contactar{
    @extend %a-button--icon;
    background-color: $primary-color;
    color: $white;
    border-color: $primary-color;
}

.a-button--llamamos,
.a-button--videocall{
    @extend %a-button--icon;
    background-color: $white;
    color: $primary-color;
    border-color: $primary-color;
}

.a-button--baja-precio{
    @extend %a-button--icon;
    background-color: transparent;
    color: $secondary-color;
    font-size: 13px;
    @include all-class('icon-'){
        color: $primary-color;
    }
}

.a-button--back{
    @extend %a-button--icon;
    background-color: $tabs-sel-bg-grey;
    border-color: $tabs-sel-bg-grey;
    color: $bullet-grey;
    border-radius: 25px;
    @include all-class('icon-'){
        color: $primary-color;
    }
}

.a-button--baja-precio{
    @extend %a-button--icon;
    background-color: transparent;
    color: $secondary-color;
    font-size: 13px;
    @include all-class('icon-'){
        color: $primary-color;
    }
}

.m-menu--dropdown .a-button--ok,
.a-button--ok{
    display: block;
    @include NutmegBold;
    background-color: rgba($primary-color,0.7);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: rgba($primary-color,1);
    }

}

.a-button--lightbox{
    width: 40px;
    height: 40px;
    background-color: rgba($white, 0.7);
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: $primary-color;
}

