.a-divider--primary{
    display: block;
    border-bottom: 1px solid $primary-color;
}

.a-divider--icon{
    padding: 50px;
    text-align: center;
    font-size: 40px;
    color: $primary-color;

}

.a-divider--grey{
    position: relative;
    display: block;
    
    &::after{
        content:'';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $linedarkgrey;
    }
}