.a-object-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
}

.a-object-contain{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    font-family: 'object-fit: contain; object-position: center;';
}