.dashed_animation{
    position: relative;
    display: inline-block;
    z-index: 2;
    &::after{
        content: '';
        position: absolute;
        display: block;
        top: 64%;
        bottom: 6%;
        width: 0%;
        left: -1%;
        transition: all 0.5s ease-out;
        animation-delay: 3s;
        transform: skewX(-10deg);
        background-color: $white;
        z-index: -1;
    }

    &.active{
        &::after{
            width: 102%;
        }
    }
}

