input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea{
    width: 100%;
    padding: 8px 10px 8px 10px;
    border: 0px;
    border-radius: 5px;
    font-family: $Nutmeg;
    font-size: 14px;
    background-color: $white;
    color: $secondary-color;

    &::placeholder{
        color: $secondary-color;
    }
}

textarea{
    resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px;
  -webkit-text-fill-color: $secondary-color;
}

input.input-newsletter{
    @include NutmegLight();
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid $secondary-color;
    font-size: 18px;
}

.a-one-line-checkbox{
    @include GilroyMedium;
    font-size: 14px;
    color: $secondary-color;

    input[type="radio"],
    input[type="checkbox"] {
        display: none;
        padding: 0px;
        
        &:checked + span::before{
          transform: scale(1);
        }
    
        & + span{
        width: 16px;
        height: 16px;
        border: 0px;
        background: $white;
        border-radius: 5px;
        margin-right: 2px;
        display: inline-block;
        position: relative;
        vertical-align: -2px;
        cursor: pointer;
    
            &::before {
                content: "\e900";
                font-family: 'icomoon';
                position: absolute;
                font-size: 13px;
                color: $primary-color;
                top: 0%;
                right: 0%;
                transform: scale(0);
                transition: all 0.3s ease;
            }
        }
    }

    a{
        color: inherit;
    }

    .body{
        display: inline-block;
        width: calc(100% - 24px);
        vertical-align: top;
    }
}

.a-checkbox--sales{
    @include NutmegReg();
    font-size: 15px;
    color: #143649;
    
    input[type="radio"],
    input[type="checkbox"] {
        display: none;
        padding: 0px;

        &:checked + .round .icon-check{
          opacity: 1;
        }
    
        & + .round{
        width: 26px;
        height: 26px;
        border: 0px;
        background: $white;
        border-radius: 26px;
        margin-right: 2px;
        display: inline-block;
        position: relative;
        vertical-align: -8px;
        cursor: pointer;

            .icon-check{
                color: $primary-color;
                font-size: 20px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                opacity: 0;
                transition: opacity 0.25s ease-in-out;
            }
        }
    }
}


.a-input-search{
    position:relative;
    
    input[type="text"]{
        padding: 12px 40px 12px 12px;
        font-size: 14px;
    }

    .icon-search{
        position: absolute;
        color: $primary-color;
        right: 7px;
        top: 7px;
        font-size: 28px;
        cursor: pointer;
    }

}

.a-input-total-import{
    background-color: rgba($white, 0.5);
    padding: 15px;
    
    .input-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    h5{
        @include NutmegReg();
        font-size: 14px;
        color: $secondary-color;
        text-transform: uppercase;
    }

    .price{
        input{
            width: 60px;
            background-color: transparent;
            border-bottom: 2px dashed $secondary-color;
            border-radius: 0px;
            height: 16px;
            padding: 0px;
        }
        
        input,
        .symbol{
            @include NutmegReg();
            font-size: 14px;
            color: $primary-color;
            text-transform: uppercase;

        }
    }
}