
%a-underline{
    span{
        @include NutmegReg();
        font-size: 15px;
        line-height: 24px;
        opacity: 0.7;
        margin: 4px 5px 4px 3px;
        padding: 2px;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        position: relative;  
        transition: all 0.25s ease-in-out;

        &:after{
            content: '';
            transition: transform .4s cubic-bezier(.12,.67,.53,1);
            display: block;
            width: 100%;
            height: 2px;
            bottom: 0px;
            left: 0px;
            transform: translateX(-110%);
        }
        
    }

    &:hover{
        span{
            opacity: 1;

            &:after{
                transition: transform .4s cubic-bezier(.12,.67,.53,1);
                transform: translateX(0%);
            }
        }
    }
}

%a-underline--white{
    @extend %a-underline;
    span{
        color: $white;
        &:after{
            background-color: $white;
        }
    }
}

%a-underline--blue{
    @extend %a-underline;
    span{
        color: $secondary-color;
        &:after{
            background-color: $secondary-color;
        }
    }
}

%a-underline--grey{
    @extend %a-underline;
    span{
        color: $grey;
        &:after{
            background-color: $grey;
        }
    }
}


%a-phone-link{
    display: inline-block;
    text-decoration: none;
    &:before{
        content: '\e913';
        font-family: 'icomoon';
        font-size: 24px;
        line-height: 24px;
        color: $secondary-color;
        vertical-align: middle;
    }

    .small{
        font-size: 13px;
    }
}

%a-email-link{
    display: inline-block;
    text-decoration: none;
    &:before{
        content: '\e912';
        font-family: 'icomoon';
        font-size: 23px;
        line-height: 24px;
        color: $secondary-color;
        vertical-align: middle;
    }
}

.a-phone-link--blue{
    @extend %a-underline--blue;
    @extend %a-phone-link;
    span{
        opacity: 1;
    }
}

.a-phone-link--grey{
    @extend %a-underline--grey;
    @extend %a-phone-link;
}

.a-phone-link--white{
    @extend %a-underline--white;
    @extend %a-phone-link;
}


.a-phone-link--footer{
    @extend %a-underline--white;
    @extend %a-phone-link;
    &::before{
        font-size: 23px;
        line-height: 24px;
        vertical-align: middle;
        margin: 0px 5px;
        color: $primary-color;
    }
    span{
        opacity: 1;
    }
}

.a-email-link--blue{
    @extend %a-underline--blue;
    @extend %a-email-link;
    span{
        opacity: 1;
    }
}



.a-email-link--grey{
    @extend %a-underline--grey;
    @extend %a-email-link;
}

.a-email-link--white{
    @extend %a-underline--white;
    @extend %a-email-link;
}
.a-email-link--footer{
    @extend %a-underline--white;
    @extend %a-email-link;
    &::before{
        font-size: 23px;
        line-height: 24px;
        vertical-align: middle;
        margin: 0px 5px;
        color: $primary-color;
    }
    span{
        opacity: 1;
    }
}

.it-primary{
    @include NutmegRegIt;
    font-size: 16px;
    color: $primary-color;
    text-decoration: none;
}