.a-list--dot{
    li{
        list-style: none;

        &::before{
            content: '·';
            color: $primary-color;
            font-size: inherit;
            line-height: inherit;
        }
    }


}