.p-about-page{
    @extend %p-generic-page;

    .figure-header{
        top: 152px;        
        width: 100px;

        @include breakpoints($tablet){
            top: 210px;
            width: 130px;
        }
        
        @include breakpoints($desktop){
            top: 261px; 
        }
    }

    
    &>h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 100%;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 300px;
        font-size: 20px;

        @include breakpoints($tablet){
            width: 585px;
            font-size: 25px;
        }

        @include breakpoints($desktop){
            width: 775px;
        }    
    }

    .gmap{
        iframe{
            width: 100%;        
        }

        #map {
            width: 100%;
            height: 450px;
        }
    }

    .pap-container{
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 100px 0px;
        @include breakpoints($tablet){
            width: 435px;
        }

        @include breakpoints($desktop){
            width: 900px;
        }
    }

    .m-contact-item{
        padding: 23px;
        margin-bottom: 30px;
        @include breakpoints($tablet){
            padding: 20px;
        }
        .figure{
            width: 100%;
            position: relative;
            height: 120px;
            @include breakpoints($tablet){
                height: 152px;
            }
        }
        h3{
            @include GilroyReg();
            font-size: 19px;
            color: $secondary-color;
            text-transform: uppercase;
            margin-bottom: 12px;

            @include breakpoints($tablet){
                font-size: 25px;
            }
        }
        h4{
            @include GilroyReg();
            font-size: 19px;
            color: $secondary-color;

            @include breakpoints($tablet){
                font-size: 25px;
            }
        }
        .info-blue{
            @include NutmegBold();
            color: $primary-color;
            font-size: 17px;
            line-height: 24px;
            text-decoration: none;

            @include breakpoints($tablet){
                font-size: 22px;
                line-height: 30px;
            }

            .big{
                font-size: 24px;

                @include breakpoints($tablet){
                    font-size: 30px;
                }
            }
        }
    }
    .pap-general{

        .figure{
            img{
                position: absolute;
                width:55px ;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

                @include breakpoints($tablet){
                    width: 70px;
                }
            }
        }
        h4{
            margin-bottom: 20px;

            @include breakpoints($tablet){
                margin-bottom: 38px;
            }
        }
       
    }
    .pap-schedule{
        .figure{
            img{
                position: absolute;
                width: 78px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                
                @include breakpoints($tablet){
                    width: 100px;
                }
            }
        }

        h4{
            margin-bottom: 20px;

            @include breakpoints($tablet){
                margin-bottom: 28px;
            }
        }
    }
    
}

.pap-form{
    padding: 38px;

    @include breakpoints($tablet){
        padding: 50px 38px;
    }

    @include breakpoints($desktop){
        padding: 71px 100px;
    }

    h3{
        @include GilroyHeavyIt();
        font-size: 24px;
        color: $secondary-color;

        br{
            @include breakpoints($tablet){
                display: none;
            }
        }
    }
    
    p{
        margin: 12px 0px;

        @include breakpoints($desktop){
            width: 95%;
        }
    }

    input, textarea{
        margin-bottom: 20px;
    }
    .a-one-line-checkbox{
        margin-bottom: 10px;
        display: block;
    }


    .action-grid{
        @include breakpoints($desktop){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .checkboxes{
            @include breakpoints($desktop){
                width: calc(100% - 200px);
            }
        }

        .a-button--offset--small{
            position: relative;

            @include breakpoints($desktop){
                transform: translate(10px, -10px);
            }
        }
    }
}

.p-about-footer-header{
    background: transparent url('../img/shadows/shadow-contacto-mb.png');
    background-position: bottom -50px center;
    background-size: 778px auto;
    background-repeat: no-repeat;

    @include breakpoints($tablet){
        background: transparent url('../img/shadows/shadow-contacto-tb.png');
        background-position: bottom -100px center;
        background-size: 1249px auto;
        background-repeat: no-repeat;
    }

    @include breakpoints($desktop){
        background: transparent url('../img/shadows/shadow-contacto-dt.png');
        background-position: bottom -200px center;
        background-size: 2791px auto;
        background-repeat: no-repeat;
    }

    h2{
        text-align: center;
        margin-bottom: 40px;
    }

    .figure{
        width: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoints($tablet){
            width: 650px;
        }

        @include breakpoints($desktop){
            width: 950px;
        }
    }
}

.gmaps-popup{
    padding: 20px;

    h3{
        @include GilroyHeavyIt;
        color: $primary-color;
        font-size: 22px;
    }
    h4{
        @include GilroyHeavyIt;
        color: $secondary-color;
        font-size: 19px;
    }
    p{
        color: $black;
    }
    a{
        color: $black;
    }
}