.p-basic-page{
    @extend %p-generic-page;

    &>h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 100%;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }



    .pbp-main{
        padding: 50px 20px;
        p, li, a{
            color: $p-grey;
        }

        p, ul{
            margin-bottom: 30px;
        }

        h2{
            font-size: 42px;
            color: $secondary-color;
            margin-bottom: 10px;
            text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
       
            @include breakpoints(768px){
                text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
            }
    
            @include breakpoints(1240px){
                text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
            }
        }
        h3{
            @include GilroyHeavyIt;
            font-size: 32px;
            color: $secondary-color;
            margin-bottom: 10px;
            text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
       
            @include breakpoints(768px){
                text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
            }
    
            @include breakpoints(1240px){
                text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
            }
        }
    }
}