.p-centros-page{
    @extend %p-generic-page;
    padding-bottom: 80px;
    .figure-header{
        top: 152px;        
        width: 90px;

        @include breakpoints($tablet){
            top: 210px;
            width: 125px;
        }
        
        @include breakpoints($desktop){
            top: 261px; 
        }
    }

    
    &>h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 100%;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 278px;
        font-size: 20px;

        @include breakpoints($tablet){
            width: 585px;
            font-size: 25px;
        }

        @include breakpoints($desktop){
            width: 875px;
        }    
    }

    .pcp-catch{
        background-color: $secondary-color;
        margin-top: -5px;
        padding: 20px 0px;

        &>h4{
            text-align: center;
            margin: 0px auto;
            padding: 30px 0px 40px;
            width: 278px;
            font-size: 20px;
    
            @include breakpoints($tablet){
                width: 585px;
                font-size: 25px;
            }
    
            @include breakpoints($desktop){
                width: 875px;
            }    
        }

        .wrap{
            text-align: center;
            padding-bottom: 30px;
            @include breakpoints($desktop){
                width: 685px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            
            h4{
                margin-bottom: 35px;
                @include breakpoints($tablet){
                    font-size: 30px;
                }

            }

            br{
                @include breakpoints($tablet){
                    display: none;
                }
                @include breakpoints($desktop){
                    display: block;
                }
            }
        }
    }
}