.p-empresa-page{
    @extend %p-generic-page;
    .figure-header{
        top: 152px;        
        width: 100px;

        @include breakpoints($tablet){
            top: 210px;
            width: 130px;
        }
        
        @include breakpoints($desktop){
            top: 261px; 
        }
    }

    &>h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 100%;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 278px;


        @include breakpoints($tablet){
            width: 585px;

        }

        @include breakpoints($desktop){
            width: 900px;
        }    
    }

    .pep-main{
        .wrap{
            @include breakpoints(1100px){
                width: 1100px;
                margin: 0 auto;
            }
        }

        .pep-m-header{
            background-color: rgba($secondary-color, 1);
            position: relative;
            text-align: center;
            padding: 30px 0px;
            
            @include breakpoints($tablet){
                height: 175px;
                margin-top: -175px;
                z-index: 10;
                background-color: rgba($secondary-color, 0.7);
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            h1{
                @include GilroyLight();
                color: $white;
                font-size: 40px;

                @include breakpoints($tablet){
                    font-size: 50px;
                }
            }

            &:after{
                content: '';
                display: block;
                width: 140px;
                position: absolute;
                bottom: 0%;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background-color:$primary-color;
    
                @include breakpoints($tablet){
                    width: 550px;
                }
    
                @include breakpoints($desktop){
                    width: 900px;
                }
            }
        }

        .pep-m-section1,
        .pep-m-section2{
            padding: 45px;
            text-align: center;
            @include breakpoints($tablet){
                padding: 72px 90px;
                text-align: left;
            }

            @include breakpoints(1100px){
                padding: 96px 135px;
            }
        }

        .pep-m-section1{
            background-color: $secondary-color;

            p{
                margin-bottom: 42px;

                &.primary{
                    font-size: 18px;
                }
                &:last-of-type{
                    margin-bottom: 0px;
                }
            }   
        }

        .pep-m-section2{
            background-color: $primary-color;

            @include breakpoints(1100px){
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .col1,
            .col2{
                @include breakpoints(1100px){
                    width: 377px;
                }
            }

            .pep-item{
                padding-bottom: 35px;
                h4{
                    @include NutmegReg();
                    color: $secondary-color;
                    font-size: 18px;
                }
            }

            .logo{
                text-align: center;
                padding-bottom: 40px;
                @include breakpoints(1100px){
                    text-align: left;
                }

                img{
                    width: 235px;
                }
            }
        }

        .pep-team-section{
            padding-top: 45px;

            @include breakpoints($tablet){
                padding-top: 100px;
            }
        
            @include breakpoints($desktop){
                padding-top: 150px;
            }

            &>h2.blue{
                text-align: center;
                width: 250px;
                margin: 0 auto;
                @include breakpoints($tablet){
                    width: 100%;
                }
            }
        
            &>h4.blue{
                text-align: center;
                margin: 30px auto;
                width: 278px;
                font-size: 20px;
        
                @include breakpoints($tablet){
                    width: 585px;
                    font-size: 25px;
                }
        
                @include breakpoints($desktop){
                    width: 875px;
                }    
            }
        }

        .o-team-container{
            width: 300px;
            margin: 0 auto;

            @include breakpoints($tablet){
                width: 660px;
            }

            @include breakpoints(1100px){
                width: 100%;
            }

            .m-team-item{
                padding: 25px 0px;
            }
        }
    }

}