%p-generic-page{
    padding-top: 222px;
    position: relative;

    @include breakpoints($tablet){
        padding-top: 281px;
    }

    @include breakpoints($desktop){
        padding-top: 331px;
    }

    .figure-header{
        position: absolute;
        z-index: 100;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }


}