.p-home--hero{
    .wrapper{
        max-width: 100%;
        overflow: hidden;
    }

    
    .o-swiper--hero > .swiper-pagination-bullets{
        bottom: 80px;

        @include breakpoints($tablet){
            bottom: 10px;
        }  

        @include breakpoints($desktop){
            bottom: 60px;
        } 
    }
}

.p-filtros-header{
    background: url('../img/shadows/shadow-filter-mb.png');
    background-position: bottom center;
    background-size: 768px auto;
    background-repeat: no-repeat;
    height: 88px;
    @include breakpoints($tablet){
        background: url('../img/shadows/shadow-filter-tb.png');
        background-position: bottom center;
        background-size: 1300px auto;
        background-repeat: no-repeat;
        height: 278px;
    }

    @include breakpoints($desktop){
        background: url('../img/shadows/shadow-filter-dt.png');
        background-position: bottom center;
        background-size: 2509px auto;
        background-repeat: no-repeat;
        height: 304px;
    }
}

.p-home--filter{
    position: relative;
    padding-bottom: 170px;

    @include breakpoints($tablet){
        padding-bottom: 160px; 
    }

    @include breakpoints($desktop){
        padding-bottom: 180px;
    }

    .m-form--flota{
        position: relative;
        z-index: 3;
        margin-top: -150px;
        @include breakpoints($tablet){
            margin-top: -250px;
        }
        @include breakpoints($desktop){
            margin-top: -340px;
        }
    }

    
    .scroll-down{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
        z-index: 50;
        @include NutmegReg();
        font-size: 18px;
        color: $white;
        padding: 70px 0px;
        .icon-point-line{
            display: inline-block;
            vertical-align: -22px;
            
            &:before {
                font-size: 50px;
            }
        }
    }
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        background-color:  $primary-color;
        top: 149px;
        left: 0px;
        right: 0px;
        bottom: 0px;

        @include breakpoints($tablet){
            top: 249px;
        }
        @include breakpoints($desktop){
            top: 339px;
        }
    }
}

.p-home--featured{
    padding: 40px 0px;
    
    & >.wrapper{
            width: 350px;
            margin: 0 auto;
            @include breakpoints($tablet){
                width: 767px;
            }
            @include breakpoints($desktop){
                width: 1240px;
            }
            @include breakpoints($bigdesk){
                width: 1440px;
            }
    }
}


.p-nos-veh-header{
    background: $primary-color url('../img/shadows/shadow-nuestros-coches-mb.png');
    background-position: bottom center;
    background-size: 768px auto;
    background-repeat: no-repeat;

    @include breakpoints($tablet){
        background: $primary-color url('../img/shadows/shadow-nuestros-coches-tb.png');
        background-position: bottom center;
        background-size: 1300px auto;
        background-repeat: no-repeat;
    }

    @include breakpoints($desktop){
        background: $primary-color url('../img/shadows/shadow-nuestros-coches-dt.png');
        background-position: bottom center;
        background-size: 2505px auto;
        background-repeat: no-repeat;
    }

    .figure{
        width: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoints($tablet){
            width: 650px;
            padding-bottom: 100px;
        }

        @include breakpoints($desktop){
            width: 950px;
            padding-bottom: 90px;
        }
    }
}

.p-home--keygonline{
    background-color: rgba($primary-color, 0.15);
    padding: 70px 0px;

    @include breakpoints(large){
        padding: 150px 0px 130px;
    }

    .phk-header{
        text-align: center;

        .dashed_animation{
            &::after{
                background-color: $primary-color;
            }
        }

        h4{ 
            margin: 10px auto;
            max-width: 900px;
            color: $primary-color;
            max-width: 900px;
            @include breakpoints(large){
            margin: 30px auto;
            }

        }
    }

    .m-nos-veh-item--compressed{
        h4{
            color: $secondary-color;
            width: 100%;
            margin-bottom: 20px;
        }
        p{
            color: $primary-color;
            padding: 0px 10px;
        }
    }

    .kgo-tag{
        color: $secondary-color;
    }
}
