.p-keygonline-page{
    @extend %p-generic-page;
    padding-bottom: 80px;
    .figure-header{
        top: 152px;        
        width: 90px;

        @include breakpoints($tablet){
            top: 210px;
            width: 125px;
        }
        
        @include breakpoints($desktop){
            top: 261px; 
        }
    }

    
    &>h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 800px;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 278px;
        font-size: 20px;

        @include breakpoints($tablet){
            width: 585px;
            font-size: 25px;
            margin-bottom: 50px;
        }

        @include breakpoints($desktop){
            width: 875px;
            margin-bottom: 60px;
        }    
    }

    .pkop-main{
        background-color: $primary-color;
        margin-top: -5px;
        padding: 50px 0px;

        @include breakpoints($desktop){
            padding: 80px 0px;
        }

        .wrap{
            text-align: center;
            padding-bottom: 30px;
            width: 320px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;

            @include breakpoints($desktop){
                width: 1140px;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;

                &:after{
                    content: '';
                    background-image: url('../img/ui/keygonline-linea.svg');
                    background-size: 100% auto;
                    background-repeat: no-repeat;
                    width: 840px;
                    height: 3px;
                    position: absolute;
                    left: 50%;
                    top: 40px;
                    transform: translate(-50%, 0%);
                    z-index: 1;
                }
            }

            .m-keygonline-item{
                padding-bottom: 30px;

                @include breakpoints($desktop){
                    position: relative;
                    z-index: 3;                        
                    padding-bottom: 0px;
                }
            }
        }
    }

    .pkop-form{
        padding: 50px 20px;


        @include breakpoints($desktop){
            padding: 40px 0px;
        }

        .wrap{
            width: 320px;
            margin: 0 auto;

            @include breakpoints($tablet){
                width: 700px;
            }

            @include breakpoints($desktop){
                width: 1140px;
            }
        }

        .pkop-form-header{
            text-align: center;
            padding: 40px 0px;

            h2{
                max-width: 580px;
                margin: 0 auto 30px;
            }
        }

        .pap-form{
            max-width: 900px;
            margin: 0 auto;

            .action-grid{
                .a-center{
                    width: 100%;
                }
            }
        }
    }
}