.p-reserva-page--confirmacion{
    @extend %p-generic-page;

    padding-top: 170px;
    
    @include breakpoints($tablet){
        padding-top: 220px;
    }

    @include breakpoints($desktop){
        padding-top: 280px;
    }

    .figure-header{
        width: 120px;

        @include breakpoints($tablet){
            width: 140px;
        }
        @include breakpoints($tablet){
            width: 180px;
        }
    }

    .prp-header{
        padding: 28px 0px;
        text-align: center;

        @include breakpoints($tablet){
            padding: 39px 0px;
        }

        @include breakpoints($desktop){
            padding: 62px 0px;
        }

        h2.blue{
            margin-bottom: 30px;
        }
    }

    .flota-header{
        @include GilroyReg();
        color: $primary-color;
        font-size: 35px;
        margin-bottom: 50px;

    }

    .reserva-no-confir-main,
    .reserva-confir-main{
        text-align: center;
        padding: 50px 20px 50px;
        background-color: $tabs-text-grey;
        margin-bottom: 70px;

        h4{
            padding: 14px 0px;
            width: 280px;
            margin: 0 auto;

            @include breakpoints($tablet){
                padding: 20px 0px 50px;
                width: 700px;
            }
    
            @include breakpoints($desktop){
                padding: 30px 0px 50px;
                width: 800px;  
            }
        }
    }

    .a-right{
        text-align: center;

        @include breakpoints($tablet){
            text-align: right;
        }
    }

}
