.p-thank-you-page{
    padding-top: 250px;

    @include breakpoints($tablet){
        padding-top: 320px;
    }
    @include breakpoints($desktop){
        padding-top: 400px;
    }

    .thank-you-content{
        position: relative;
        background-color: #eaeeef;
        padding-top: 120px;
        padding-bottom: 50px;
        text-align: center;
        margin-bottom: 70px;
        @include breakpoints($tablet){
            padding-top: 140px;
        }
        @include breakpoints($desktop){
            padding-top: 160px;
        }

        .figure-header{
            position: absolute;
            width: 200px;
            left: 50%;
            top: -100px;
            transform: translateX(-50%);
            z-index: 100;

            @include breakpoints($tablet){
                top: -120px;
                width: 290px;
            }
            @include breakpoints($desktop){
                top: -160px;
                width: 383px;
            }
        }

        .thank-you-main{
            width: 290px;
            margin: 0 auto;
            @include breakpoints($tablet){
                width: 522px;
            }
            @include breakpoints($desktop){
                width: 770px;
            }

            .body-message{
                padding: 25px 0px;

                @include breakpoints($tablet){
                    padding: 40px 0px;
                }
            }
        }

        .thank-you-header{
            @include GilroyHeavyIt();
            color: $primary-color;
            font-size: 45px;
            @include breakpoints($tablet){
                font-size: 60px;
            }
        }

        h4.blue{
            font-size: 21px;
        }
    }
}