body.vehiculos-single {
    padding-bottom: 65px;

    @include breakpoints($desktop){
        padding-bottom: 0px;
    }
}

.p-vehiculos-single-page{

    .pvsp-header{
        padding-top: 190px;
        padding-bottom: 25px;
        text-align: center;
        background-color: #eaedee;

        @include breakpoints($tablet){
            padding-top: 250px;
            padding-bottom: 39px;
        }
        @include breakpoints($desktop){
            text-align: center;
            padding-top: 350px;
            padding-bottom: 239px;
        }
        .a-button--back {
            margin: 0 auto;
        }
    }  

    .pvsp-main{
        position: relative;
        margin-top: -5px;

        @include breakpoints($desktop){
            margin-top: -194px;

        }

        // &::before{
        //     @include breakpoints($desktop){
        //         content: '';
        //         display: block;
        //         position: absolute;
        //         background-color: $tabs-text-grey;
        //         height: 190px;
        //         width: 100%;
        //         top: 0px;
        //         left: 0px;
        //     }
        // }

        .w-content{
            position: relative;
            z-index: 10;
            @include breakpoints($desktop){
                width: 1100px;
                margin:  0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .pvsp-content{
            @include breakpoints($desktop){
                width: 725px;
            }
        }
        .pvsp-form{

            @include breakpoints($desktop){
                width: 375px;
                position: relative;
            }

            
            #vehiculo_sms{
                height: 100px;
            }
        }
    }

    .pvsp-c-header{
        background-color: $dark-blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 55px 35px 55px 55px;
        margin-top: -3px;
        z-index: 10;
        position: relative;

        @include breakpoints($desktop){
            height: 190px;
        }

        .pvsp-ch-logo{
            width: 60px;
            height: 60px;
            border-radius: 60px;
            overflow: hidden;
            background-color: $white;
            
            @include breakpoints($tablet){
                width: 80px;
                height: 80px;
                border-radius: 80px;
                order: 1;
            }
        }
        .pvsp-ch-icon{
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 106px;

            @include breakpoints($tablet){
                flex-direction: column;
                order: 3;
                margin-left: auto;
            }

            .i-img{
                font-size: 50px;
                color: $primary-color;
            }

            .i-name{
                @include GilroySemibold();
                font-size: 15px;
                color: $primary-color;
                min-width: 70px;
                padding-top: 10px;

                @include breakpoints($tablet){
                    padding-top: 0px;
                }
            }
        }
        .pvsp-ch-model{
            width: 100%;
            padding-top: 10px;
            @include breakpoints($tablet){
                width: auto;
                order: 2;
                padding-left: 20px;

                max-width: calc(100% - 186px);
                padding-top: 0px;
            }

            .model{
                @include GilroySemibold();
                color: $primary-color;
                font-size: 24px;

                @include breakpoints($tablet){
                    font-size: 33px; 
                }
            }

            .version{
                @include GilroyReg();
                color: $white;
                font-size: 16px;
                padding: 5px 0px;
                @include breakpoints($tablet){
                    font-size: 22px;
                }
            }

            .ref{
                @include GilroyMedium();
                color: $primary-color;
                font-size: 13px;
            }
        }
    }

    .pvsp-header-price{
        
        @include breakpoints($tablet){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include breakpoints($desktop){
            display: none;
        }



        .pvsp-hp-sale-info{
            background-color: $primary-color;
            padding: 24px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 180px;

            @include breakpoints(375px){
                padding: 24px 45px;
            }


            @include breakpoints($tablet){
                width: 50%;
                height: 250px;
            }

            .svi-sale-badget--big{
                position: relative;
            }
        }

        .pvsp-hp-buttons{
            background-color: #DBE2E4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 177px;

            @include breakpoints($tablet){
                width: 50%;
                height: 250px;
            }

            .button-wrap{
                width: 300px;
                margin: 0 auto;

    
            }
        }
    }

    .pvsp-description{
        background-color: $secondary-color;
        padding-bottom: 45px;

        .a-divider--primary{
            width: 300px;
            margin: 0 auto 45px;

            @include breakpoints($tablet){
                width: 574px;
            }
        }

        .pcsp-d-item{
            width: 314px;
            margin: 0 auto;
            @include GilroyMedium();
            font-size: 13px;

            @include breakpoints($tablet){
                width: 574px;
            }

            .blue{
                color: $primary-color;
            }
        }

        .pscp-certificate{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 314px;
            margin: 0 auto;

            @include breakpoints($tablet){
                width: 574px;
            }

            .ico{
                width: 25px;
            }

            .box{
                width: calc(100% - 35px);
                margin-left: 5px;
                max-width: 250px;
                text-decoration: none;
                @include GilroyMedium();
                font-size: 13px;
                color: $secondary-color;
                background-color: $tabs-grey;
                padding: 5px;
                border-radius: 9px;

                @include breakpoints($tablet){
                    max-width: 370px;
                }
                .green{
                    color: $dark-green;
                }

            }
        }
    }

    .o-equipment-tabs{
        background-color: $secondary-color;
        .w-tabs{
            width: 314px;
            margin: 0 auto;
            padding: 45px 0px;
            @include breakpoints($tablet){
                width: 525px;
            }
        }
    }

    .pvsp-batges{
        background-color: $dark-blue;
        .wrap{
            width: 314px;
            margin: 0 auto;
            padding-bottom: 45px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;

            @include breakpoints($tablet){
                width: 525px;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .pvsp-batge{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px 0px;

            @include breakpoints($tablet){
                padding: 0px;
            }

            p{
                line-height: 18px;
            }
            .img{
                
            }

            .logo img{
                width: 120px;
                padding-top: 5px;
            }

            &.certificate{
                .img {
                    width: 67px;
                    img{
                        width:60px;
                    }
                }
            }
            &.warranty{
                @include breakpoints($tablet){
                    margin-right: 70px;
                }

                .img{
                    width: 55px;
                    img{
                        width:48px;
                    }
                }
            }
        }
    }
    .pvsp-center{
        background-color: $white;

        h4{
            @include GilroyHeavyIt;
            font-size: 20px;
            color: $secondary-color;
            width: 314px;
            margin: 0 auto;
            padding-top: 45px;
            margin-bottom: 20px;
            @include breakpoints($tablet){
                width: 574px;
                margin-bottom: 0px;
            }
        }

        .wrap{
            width: 314px;
            margin: 0 auto;
            @include breakpoints($tablet){
                width: 574px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;
                padding: 25px 0px 45px;
            }
        }


        @include breakpoints($desktop){
            background-color: #E1E5E6;
        }

        .mci-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 25px;
            width: 314px;

            @include breakpoints($tablet){
                width: 284px;
            }
            @include all-class('icon-'){
                display: block;
                text-align: center;
        
                &:before{
                    color: $primary-color;
                    font-size: 27px;
                }
        
                @include breakpoints($tablet){
                    display: inline-block;
                    width: 35px;
                }
            }
    
            .icon-point-line{
                &:before{
                    font-size: 36px;
                }
            }
        
            .icon-email{
                &:before{
                    font-size: 24px;
                }
            }
    
            .body{
                color: $p-grey;
                width: calc(100% - 35px);
    
                p, 
                a:not(.it-primary){
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }

    .pvsp-form{
        background-color: #DBE2E4;
        padding: 45px 0px;
        @include breakpoints($desktop){
            background-color: #ffffff;
            padding: 0px;
        }

        .wrap-sticky{
            padding-bottom: 20px;
            @media (min-width: 768px) and (max-width: 1239px){
                @include clearfix;
                width: 634px;
                margin: 0 auto;      
            }
            @include breakpoints($desktop){
                background-color: #DBE2E4;
                width: 375px;
            }
        }

        .form-sale-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 300px;
            margin: 0 auto;            
            padding-top: 15px;

            @media (min-width: 768px) and (max-width: 1239px){
                float: right;
                padding-top: 0px;    
            }

            @include breakpoints($desktop){
                height: 190px;
                margin-bottom: 10px;
            }    

            .svi-sale-badget--big{
                position: relative;
                right: -10px;
            }

            .a-divider--primary{
                width: 100%;
            }
        }

        .form{
            width: 300px;
            margin: 20px auto 0px;  
            padding: 40px 0px;

            @media (min-width: 768px) and (max-width: 1239px){
                float: left;
                padding: 0px;
            }

            @include breakpoints($desktop){
                padding: 33px 0px 40px;
            }

            input[type="text"],
            input[type="tel"],
            input[type="email"]{
                margin-bottom: 10px;
            }

            .a-one-line-checkbox{
                display: block;
                padding-top: 7px; 
            }

        }

        .buttons{
            width: 300px;
            margin: 0 auto;   
            @media (min-width: 768px) and (max-width: 1239px){
                float: right;
                padding: 25px 0px;
            }
        }
    }

    .pvsp-share{
        .wrapper{
            text-align: center;
            padding: 45px 0px;

            @include breakpoints($tablet){
                display: flex;
                justify-content: center;
            }


            @include breakpoints($desktop){
                width: 1100px;
                margin: 0 auto;
                justify-content: flex-start;
            }

            h5{
                font-size: 13px;
                margin-bottom: 15px;

                @include breakpoints($tablet){
                    margin-bottom: 0px;
                    margin-right: 15px;
                }
            }
        }

        .share-module{
            @include breakpoints($tablet){
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
    }

    .o-keygonline-module,
    .p-why-heygo-section{
        margin: 100px 0px;
    }

}