.p-vehiculos-search-page{
    @extend %p-generic-page;

    .figure-header{
        top: 172px;        
        width: 150px;

        @include breakpoints($tablet){
            top: 230px;
            width: 200px;
        }
        
        @include breakpoints($desktop){
            top: 281px; 
        }
    }

    h2.blue{
        text-align: center;
        width: 250px;
        margin: 30px auto 10px;
        @include breakpoints($tablet){
            width: 100%;
        }

        @include breakpoints($desktop){
            margin: 50px auto 20px;
        }
    }

    &>h4.blue{
        text-align: center;
        margin: 30px auto;
        width: 278px;
        font-size: 20px;

        @include breakpoints($tablet){
            width: 568px;
            font-size: 25px;
        }

        @include breakpoints($desktop){
            width: 975px;
        }    
    }

    .pvsp-options-header{
        width: 237px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoints($tablet){
            width: 675px;
        }

        @include breakpoints($desktop){
            width: 815px;
            margin: 50px auto;
        }

        #m-menu--sales--flota{
            margin-bottom: 15px;

            @include breakpoints($desktop){
                margin-bottom: 0px;
            }
        }
        
        .a-button--vehiculos-form{
            @include breakpoints($desktop){
                display: none;
            }
        }
    }

    .pvsp-main{
        margin: 50px 0px;
        background-color: #E9EDEE;


        @include breakpoints($desktop){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .pvsp-m-form{
            display: none;

            @include breakpoints($desktop){
                display: block;
                width: 340px;
                overflow: visible;
                .sticky-element{
                    height: calc(100vh - 80px);
                    overflow-y: scroll;
                    -ms-overflow-style: none;  // IE 10+
                    scrollbar-width: none;  // Firefox

                    &::-webkit-scrollbar { 
                        display: none;  // Safari and Chrome
                    }
                }
                .m-form--flota{
                    width: 340px;
                }
            }
        }

        .pvsp-m-grid{
            width: 100%;

            @include breakpoints($desktop){
                display: block;
                width: calc(100% - 340px);
            }
        }

        .o-tags-container{
            padding: 20px;

            @include breakpoints($desktop){
                padding: 40px;
            }
        }

        .pvsp-counter{
            width: 320px;
            margin: 0 auto;
            text-align: center;
            @include breakpoints($tablet){
                width: 380px;
            }
            @include breakpoints($desktop){
                padding: 0px 40px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }


            .counter{
                @include GilroyReg();
                color: $primary-color;
                font-size: 20px;

                @include breakpoints($tablet){
                    font-size: 30px;
                }
                @include breakpoints($desktop){
                    font-size: 35px;
                }
            }

            .pvsp-c-select{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 20px 0px;

                @include breakpoints($desktop){
                    padding: 0px;
                }
                .tag{
                    @include NutmegReg();
                    font-size: 13px;
                    color: $secondary-color;
                    margin-right: 5px;
                    @include breakpoints($tablet){
                        margin-right: 10px; 
                        font-size: 16px;
                    }

                }
                .select{
                    width: 172px;

                    @include breakpoints($tablet){
                        width: 196px;
                    }

                    @include breakpoints($desktop){
                        width: 246px;
                    }
                }
            }
        }
    }

    .m-menu--pagination{
        text-align: center;
        padding: 0px 0px 100px;
    }

}