.o-swiper--home-sales{
    display: none;
    &>.swiper-wrapper{
        &>.swiper-slide{
            @include breakpoints($desktop){
                margin-right: 53px;
            }
        }
    }

    &.active{
        display:block;
    }
}