.o-swiper--flotas{
  position: relative;
  .mff-item{
      background-color: transparent;
      text-align: center;
      text-decoration: none;
      h5{
        text-align: center;
        @include GilroySemibold();
        font-size: 15px;
        color: $secondary-color;
      }
  }

  .swiper-button-prev{
    left: -10px;
  }

  .swiper-button-next{
    right: -10px;
  }

  .swiper-button-prev,
  .swiper-button-next{
    background-size: 13px auto;

    @include breakpoints($desktop){
        display: none;
    }
  }
}