.o-swiper--vehicle-item{
    background-color: $white;
    height: 238px;
    .svi-bg{
        position: absolute;
        float: left;
        width: 320px;
        height: 238px;

        .position{
            position: relative;
            height: 100%;

            .swiper-button-prev{
                background-size: 17px;
                top: 90%;
                left: calc(50% - 27px);
            }

            .swiper-button-next{
                background-size: 17px;
                top: 90%;
                left: calc(50%);
            }

            .share{
                position: absolute;
                width: 30px;
                z-index: 3;
                top: 15px;
                left: 15px;
                cursor: pointer;
  
                .wrap{
                    position: relative;
                    .icon-share{
                        transition: color 0.15s ease-in-out;
                        &:before{
                            font-size: 30px;
                            color: $grey;
                        }
                    }
                }

                &:hover,
                &.active{
                    .wrap{
                        .icon-share{
                            &:before{
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            .a-icon-heart{
                position: absolute;
                z-index: 3;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }

            .svi-reserva{
                position: absolute;
                top: 0px;
                left: 0px;
                right: 1px;
                bottom: 0px;
                background-color: rgba($secondary-color, 0.7);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 40;
                border-radius: 15px 15px 0px 0px;
                -khtml-border-radius: 15px 15px 0px 0px;

                h3{
                    color: $primary-color;
                    font-size: 40px;
                    text-align: center;
                    @include GilroyHeavyIt();
                }
            }
        }


    }


    .swiper-slide{
        height: 100%;
    }

}