.o-swiper--hero{
    .swiper-slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 182.6vw;
        @include breakpoints($tablet){
            height: 120.6vw;
        }

        @include breakpoints($desktop){
            height: 62.1vw;
        }

        .swiper-btn{
            position: absolute;
            top: 95vw;
            left: 9vw;
            @include breakpoints($tablet){
                top: 62.5vw;
                left: 12.5vw;
            } 
            @include breakpoints($desktop){
                top: 43vw;
                left: 14.5vw;
            }

            &.a-button--video-cita--primary{
                top: 150vw;
                left: 50vw;
                transform: translateX(-160px);

                @include breakpoints($tablet){
                    top: 70.5vw;
                    left: 12.5vw;
                    transform: translateX(0%);
                } 
                @include breakpoints($desktop){
                    top: 46vw;
                    left: 14.5vw;
                }
            }
        }

    }

}