.o-swiper--veh-single{

    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .wrap{
        @include breakpoints($tablet){
            width: calc(100% - 220px);
            margin: 0 auto;
        }

        @include breakpoints($desktop){
            width: 100%;
            margin: 0 auto;
        }
    }

    .lightimg{
        display: none;
    }

    .a-button--lightbox{
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 10;
    }

    // width: 320px;
    // margin: 0 auto;
    // position: relative;
    // overflow: hidden;

    // @include breakpoints(374px){
    //     width: 374px;
    // }
    // @include breakpoints($tablet){
    //     width: 768px;
    // }
    // @include breakpoints($desktop){
    //     width: 1200px;
    // }


    // @include breakpoints(1300px){
    //     width: 1300px;
    // }

    // .wrap{
    //     width: 206px;
    //     margin: 0 auto;

    //     @include breakpoints(374px){
    //         width: 256px;
    //     }

    //     @include breakpoints($tablet){
    //         width: 554px;
    //     }
    //     @include breakpoints($desktop){
    //         width: 950px;
    //     }

    //     @include breakpoints(1300px){
    //         width: 1100px;
    //     }
    // }

    // .swiper-slide {

    // }
}