.o-swiper--featured{
    padding-top: 50px;
    position: relative;
    overflow: hidden;

    @include breakpoints($tablet){
        padding-top: 100px;
    }
    @include breakpoints($desktop){
        padding-top: 50px;
    }
    .wrapper{
        width: 320px;
        margin: 0 auto;
        @include breakpoints($tablet){
            width: 768px;
        }
        @include breakpoints($desktop){
            width: 1100px;
            padding: 0px 50px;
        }
    }
    
    .featured-bg{
        position: absolute;
        float: left;
        width: 100%;
        .feat-content{
            position: relative;
            .position{
                height: 210px;

                @include breakpoints($tablet){
                    height: 460px;
                }
                @include breakpoints($desktop){
                    height: 700px;           
                }

                position: relative;
                .swiper-featured-button-prev{
                    position: absolute;
                    z-index: 50;
                    top: 180px;
                    left: calc(45% - 45px);

                    @include breakpoints($tablet){
                        top: 420px;
                        left: calc(45% - 55px);
                    }
                    @include breakpoints($desktop){
                        top: 240px;
                        left: -52px;          
                    }
                }
                .swiper-featured-button-next{
                    position: absolute;
                    z-index: 50;
                    top: 180px;
                    right: calc(45% - 45px);

                    @include breakpoints($tablet){
                        top: 420px;
                        right: calc(45% - 55px);
                    }
                    @include breakpoints($desktop){
                        top: 240px;
                        right: -52px;          
                    }
                }
            }
        }
    }

    .swiper-slide {
        .image{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 210px;

            @include breakpoints($tablet){
                height: 460px;
            }
            @include breakpoints($desktop){
                height: 545px;           
            }
        }

        .content{
            padding: 60px 0px 40px;
            width: 280px;
            margin: 0 auto;

            @include breakpoints($tablet){
                padding-top: 70px;
                width: 580px;
            }
            @include breakpoints($desktop){
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: center;

            }

            h2{
                @include GilroyHeavyIt();
                font-size: 30px;
                color: white;
                text-shadow: 3px 3px 0px rgba($text-bg-blue,0.20);
                text-align: center;
                padding-bottom: 40px;
                position: relative;
                @include breakpoints($tablet){
                    font-size: 35px;
                    text-shadow: 4px 4px 0px rgba($text-bg-blue,0.20);
                }

                @include breakpoints($desktop){
                    text-align: right;
                    flex-basis: 405px;
                    padding-bottom: 0px;
                    padding-right: 55px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    min-height: 230px;
                    border-right: 1px solid $white;
                }

                &:after{
                    content: '';
                    display: block;
                    width: 200px;
                    height: 1px;
                    background-color: $white;
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    margin-left: -100px;

                    @include breakpoints($desktop){
                        content: none;
                    }
                }
            }

            p{
                @include NutmegReg();
                font-size: 15px;
                color: white;
                line-height: 25px; 
                @include breakpoints($tablet){
                    text-align: center;
                }
                @include breakpoints($desktop){
                    text-align: left;
                }
            }

            .body{
                padding-top: 40px;
                @include breakpoints($desktop){
                    flex-basis: 440px;
                    padding-top: 0px;
                    padding-left: 55px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}