.o-swiper--keygonline{
    overflow: hidden;
    width: 280px;
    margin: 0 auto;

    @include breakpoints(large){
        width: 100%;
        max-width: 1240px;

        .vehiculos &,
        .vehiculos-single &,
        .empresa &,
        .centros &{
            max-width: 1000px;
            .m-nos-veh-item--compressed{
                width: 300px;
            }

        }

        .swiper-wrapper{
            display: flex;
            justify-content: space-between;
        }
    }

    .m-nos-veh-item--compressed{
        margin-bottom: 0px;

        .image{
            @include breakpoints(large){
                width: 190px;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &.off{
        .keygonline-pagination{
            display: none;
        }
    }

    .swiper-pagination-bullets{
        text-align: center;
    }
}