.o-swiper--nos-veh{
    width: 240px;
    margin: 0 auto 30px;
    overflow: hidden;
    @include breakpoints($tablet){
        width: 100%;
        margin: 0 auto;
    }

    .swiper-wrapper{
        @include breakpoints($tablet){
            display: block;
        }
    }

    .m-nos-veh-item{
        @include breakpoints($tablet){
            margin: 0 auto 50px;
        }

        @include breakpoints($desktop){
            margin: 0px 0px 50px;
        }
    }

    .nos-veh-pagination{
        text-align: center;
    }
}