*{
    box-sizing: border-box;
    padding: 0px;
    border: 0px;
    margin: 0px;

    &:focus {
        outline:0;
    }
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: auto;

    &.menu-open{
        overflow: hidden;
    }
}

::selection{
    background-color: transparent;
}


body{
    font-size: $default-browser-font-size;
    font-family: $Nutmeg;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-smoothing: antialiased;
    font-smooth: always;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    // &.menu-open{
    //     overflow-x: hidden;
    //     overflow-y: hidden; 
    // }
}

.bg-blue{
    background-color:$primary-color;
}

#container{
    //overflow-x: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

.w100{
    width: 100%;
    display: block;
}

.a-center{
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 319px;
    position: relative;
    @include breakpoints($tablet){
        max-width: 768px;
    }

    @include breakpoints($desktop){
        max-width: 1180px;
    }
}