@font-face { /* Gilroy Light */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_B_0.eot');
    src: url('../webfonts/38B2DA_B_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_B_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_B_0.woff') format('woff'), 
         url('../webfonts/38B2DA_B_0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face { /* Gilroy Regular */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_6_0.eot');
    src: url('../webfonts/38B2DA_6_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_6_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_6_0.woff') format('woff'), 
         url('../webfonts/38B2DA_6_0.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face { /* Gilroy Medium */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_9_0.eot');
    src: url('../webfonts/38B2DA_9_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_9_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_9_0.woff') format('woff'), 
         url('../webfonts/38B2DA_9_0.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// @font-face { /* Gilroy Medium Italic */
//     font-family: 'Gilroy';
//     src: url('../webfonts/38B2DA_8_0.eot');
//     src: url('../webfonts/38B2DA_8_0.eot?#iefix') format('embedded-opentype'), 
//          url('../webfonts/38B2DA_8_0.woff2') format('woff2'), 
//          url('../webfonts/38B2DA_8_0.woff') format('woff'), 
//          url('../webfonts/38B2DA_8_0.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;
// }

@font-face { /* Gilroy SemiBold */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_4_0.eot');
    src: url('../webfonts/38B2DA_4_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_4_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_4_0.woff') format('woff'), 
         url('../webfonts/38B2DA_4_0.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {  /* Gilroy Bold */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_11_0.eot');
    src: url('../webfonts/38B2DA_11_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_11_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_11_0.woff') format('woff'), 
         url('../webfonts/38B2DA_11_0.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face { /* Gilroy ExtraBold */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_F_0.eot');
    src: url('../webfonts/38B2DA_F_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_F_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_F_0.woff') format('woff'), 
         url('../webfonts/38B2DA_F_0.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

// @font-face { /* Gilroy ExtraBold Italic */
//     font-family: 'Gilroy';
//     src: url('../webfonts/38B2DA_E_0.eot');
//     src: url('../webfonts/38B2DA_E_0.eot?#iefix') format('embedded-opentype'), 
//          url('../webfonts/38B2DA_E_0.woff2') format('woff2'), 
//          url('../webfonts/38B2DA_E_0.woff') format('woff'), 
//          url('../webfonts/38B2DA_E_0.ttf') format('truetype');
//     font-weight: 800;
//     font-style: italic;
// }

@font-face { /* Gilroy Heavy */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_D_0.eot');
    src: url('../webfonts/38B2DA_D_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_D_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_D_0.woff') format('woff'), 
         url('../webfonts/38B2DA_D_0.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face { /* Gilroy Heavy Italic */
    font-family: 'Gilroy';
    src: url('../webfonts/38B2DA_C_0.eot');
    src: url('../webfonts/38B2DA_C_0.eot?#iefix') format('embedded-opentype'), 
         url('../webfonts/38B2DA_C_0.woff2') format('woff2'), 
         url('../webfonts/38B2DA_C_0.woff') format('woff'), 
         url('../webfonts/38B2DA_C_0.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nutmeg';
    src: url('../webfonts/Nutmeg-Light.eot');
    src: url('../webfonts/Nutmeg-Light.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Nutmeg-Light.woff2') format('woff2'),
        url('../webfonts/Nutmeg-Light.woff') format('woff'),
        url('../webfonts/Nutmeg-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face { /* Nutmeg Regular */
    font-family: 'Nutmeg';
    src: url('../webfonts/Nutmeg-Regular.eot');
    src: url('../webfonts/Nutmeg-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Nutmeg-Regular.woff2') format('woff2'),
        url('../webfonts/Nutmeg-Regular.woff') format('woff'),
        url('../webfonts/Nutmeg-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Nutmeg Regular Italic */
    font-family: 'Nutmeg';
    src: url('../webfonts/Nutmeg-RegularItalic.eot');
    src: url('../webfonts/Nutmeg-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Nutmeg-RegularItalic.woff2') format('woff2'),
        url('../webfonts/Nutmeg-RegularItalic.woff') format('woff'),
        url('../webfonts/Nutmeg-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {/* Nutmeg Bold */
    font-family: 'Nutmeg';
    src: url('../webfonts/Nutmeg-Bold.eot');
    src: url('../webfonts/Nutmeg-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Nutmeg-Bold.woff2') format('woff2'),
        url('../webfonts/Nutmeg-Bold.woff') format('woff'),
        url('../webfonts/Nutmeg-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {/* Nutmeg Bold Italic */
    font-family: 'Nutmeg';
    src: url('../webfonts/Nutmeg-BoldItalic.eot');
    src: url('../webfonts/Nutmeg-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Nutmeg-BoldItalic.woff2') format('woff2'),
        url('../webfonts/Nutmeg-BoldItalic.woff') format('woff'),
        url('../webfonts/Nutmeg-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../webfonts/icomoon.eot?1ksc7');
    src:  url('../webfonts/icomoon.eot?1ksc7#iefix') format('embedded-opentype'),
      url('../webfonts/icomoon.ttf?1ksc7') format('truetype'),
      url('../webfonts/icomoon.woff?1ksc7') format('woff'),
      url('../webfonts/icomoon.svg?1ksc7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  