[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-check:before {
    content: "\e900";
  }
  .icon-x:before {
    content: "\e901";
  }
  .icon-cross:before {
    content: "\e902";
  }
  .icon-minus:before {
    content: "\e903";
  }
  .icon-down:before {
    content: "\e904";
  }
  .icon-prev:before {
    content: "\e905";
  }
  .icon-next:before {
    content: "\e906";
  }
  .icon-arrow:before {
    content: "\e907";
  }
  .icon-info:before {
    content: "\e908";
  }
  .icon-play:before {
    content: "\e909";
  }
  .icon-facebook:before {
    content: "\e90a";
  }
  .icon-twitter:before {
    content: "\e90b";
  }
  .icon-instagram:before {
    content: "\e90c";
  }
  .icon-point:before {
    content: "\e90d";
  }
  .icon-point-line:before {
    content: "\e90e";
  }
  .icon-people:before {
    content: "\e90f";
  }
  .icon-calendar:before {
    content: "\e910";
  }
  .icon-bags:before {
    content: "\e911";
  }
  .icon-email:before {
    content: "\e912";
  }
  .icon-phone:before {
    content: "\e913";
  }
  .icon-lang:before {
    content: "\e914";
  }
  .icon-clock:before {
    content: "\e915";
  }
  .icon-checkIn:before {
    content: "\e916";
  }
  .icon-form:before {
    content: "\e917";
  }
  .icon-aid:before {
    content: "\e918";
  }
  .icon-air:before {
    content: "\e919";
  }
  .icon-ac:before {
    content: "\e919";
  }
  .icon-gasoline:before {
    content: "\e91a";
  }
  .icon-traffic:before {
    content: "\e91b";
  }
  .icon-doors:before {
    content: "\e91c";
  }
  .icon-car:before {
    content: "\e91d";
  }
  .icon-gps:before {
    content: "\e91e";
  }
  .icon-plane:before {
    content: "\e91f";
  }
  .icon-key:before {
    content: "\e920";
  }
  .icon-start:before {
    content: "\e921";
  }
  .icon-trophy:before {
    content: "\e922";
  }
  .icon-tumbs-up:before {
    content: "\e923";
  }
  .icon-close:before {
    content: "\e924";
  }
  .icon-cambio:before {
    content: "\e925";
  }
  .icon-4x2:before {
    content: "\e925";
  }
  .icon-srqu:before {
    content: "\e926";
  }
  .icon-km:before {
    content: "\e927";
  }
  .icon-search:before {
    content: "\e928";
  }
  .icon-heart:before {
    content: "\e929";
  }
  .icon-full-heart:before {
    content: "\e92a";
  }
  .icon-parking:before {
    content: "\e92b";
  }
  .icon-warning:before {
    content: "\e92c";
  }
  .icon-ask:before {
    content: "\e92d";
  }
  .icon-garantia:before {
    content: "\e92e";
  }
  .icon-default:before {
    content: "\e92e";
  }
  .icon-volante:before {
    content: "\e943";
  }
  .icon-abs:before {
    content: "\e943";
  }
  .icon-creditcard:before {
    content: "\e92f";
  }
  .icon-bulb:before {
    content: "\e930";
  }
  .icon-trophy-cup:before {
    content: "\e931";
  }
  .icon-umbrella:before {
    content: "\e932";
  }
  .icon-fish:before {
    content: "\e938";
  }
  .icon-crossroad:before {
    content: "\e933";
  }
  .icon-discount:before {
    content: "\e934";
  }
  .icon-money:before {
    content: "\e935";
  }
  .icon-bag:before {
    content: "\e936";
  }
  .icon-color:before {
    content: "\e937";
  }
  .icon-share:before {
    content: "\e939";
  }
  .icon-heygo:before {
    content: "\e93a";
  }
  .icon-peque:before {
    content: "\e94b";
  }
  .icon-berlina:before {
    content: "\e93b";
  }
  .icon-automatico:before {
    content: "\e93b";
  }
  .icon-cabrio:before {
    content: "\e93c";
  }
  .icon-descapotable:before {
    content: "\e93c";
  }
  .icon-coupe:before {
    content: "\e93d";
  }
  .icon-hibrido:before {
    content: "\e93d";
  }
  .icon-cxcsuv:before {
    content: "\e93e";
  }
  .icon-familiar:before {
    content: "\e93f";
  }
  .icon-mediano:before {
    content: "\e93f";
  }
  .icon-industrial:before {
    content: "\e940";
  }
  .icon-snplazas:before {
    content: "\e94c";
  }
  .icon-monovolumen:before {
    content: "\e941";
  }
  .icon-familiares:before {
    content: "\e941";
  }
  .icon-pickup:before {
    content: "\e942";
  }
  .icon-twitter-round:before {
    content: "\e944";
  }
  .icon-twitter-share:before {
    content: "\e944";
  }
  .icon-facebook-round:before {
    content: "\e945";
  }
  .icon-facebook-share:before {
    content: "\e945";
  }
  .icon-whatssap-round:before {
    content: "\e946";
  }
  .icon-whatssap-share:before {
    content: "\e946";
  }
  .icon-linkedin-round:before {
    content: "\e947";
  }
  .icon-linkedin-share:before {
    content: "\e947";
  }
  .icon-email-round:before {
    content: "\e948";
  }
  .icon-email-share:before {
    content: "\e948";
  }
  .icon-up-down:before {
    content: "\e949";
  }
  .icon-medal:before {
    content: "\e94a";
  }
  .icon-isf:before {
    content: "\e94d";
  }
  .icon-handbag:before {
    content: "\e94e";
  }
  .icon-paycard:before {
    content: "\e94f";
  }
  .icon-cashier:before {
    content: "\e950";
  }
  .icon-moon:before {
    content: "\e951";
  }
  .icon-discount-star:before {
    content: "\e952";
  }
  .icon-euro:before {
    content: "\e953";
  }
  .icon-video:before {
    content: "\e954";
  }
  
  .a-icon-check{
    background-color: #EAEEEF;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    &:before{
      content: "\e900";
      @include icon();
      color: $dark-green;
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  }
  .a-icon-no-check {
    background-color: #EAEEEF;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    &:before{
      content: "\e901";
      @include icon();
      color: $primary-color;
      font-size: 25px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .a-icon-heart{
    &:before{
      content: "\e929";
      @include icon();
      color: $grey;
      font-size: 30px;
      transition: all 0.15s ease-in-out;
    }

    &:hover,
    &.active{
      &:before{
        content: "\e92a";
        color: $primary-color;
      }
    }

  }
