h1{
    @include GilroyHeavyIt;
    font-size: 39px;

    @include breakpoints($tablet){
        font-size: 60px;
    }

    @include breakpoints($desktop){
        font-size: 75px;
    }

    &.blue{
        color: $secondary-color;
        text-shadow: 3px 3px 0px rgba(0,0,0,0.1);
       
        @include breakpoints(768px){
            text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
        }

        @include breakpoints(1240px){
            text-shadow: 6px 6px 0px rgba(0,0,0,0.1);
        }
    }
}

h2{
    @include GilroyHeavyIt;
    font-size: 50px;

    @include breakpoints($tablet){
        font-size: 60px;
    }

    &.blue{
        color: $primary-color;
    }

    &.secondary{
        color: $secondary-color;
    }

    &.blue,
    &.secondary{
        text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
        
        @include breakpoints(768px){
            text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
        }

        @include breakpoints(1240px){
            text-shadow: 3px 3px 0px rgba($text-bg-blue,0.15);
        }
    }
}

h3{
    &.primary,
    & .primary,
    &.blue .primary{
        color: $primary-color;
    }
}

h4{
    @include GilroyExtrabold();
    font-size: 20px;
    line-height: 24px; 
    color: white;

    @include breakpoints($tablet){
        font-size: 25px;
        line-height: 29px; 
    }

    &.blue{
        color: $secondary-color;
    }

    &.primary,
    & .primary,
    &.blue .primary{
        color: $primary-color;
    }
}

p{
    @include NutmegReg();
    font-size: 15px;
    color: white;
    line-height: 25px; 

    &.grey{
        color: $p-grey;
    }

    &.primary{
        color: $primary-color;
    }
}