footer{
    background-color: $secondary-color;
    padding: 40px 0px 53px;
    
    @include breakpoints($tablet){
        padding: 84px 0px 74px;
    }
    @include breakpoints($desktop){
        padding-top: 104px 0px 115px;
    }
    
    .w-content{
        width: 320px;
        margin: 0 auto;

        @include breakpoints($tablet){
            width: 525px;
        }
        @include breakpoints($desktop){
            width: 1170px;
            @include clearfix;
        }
    }
    
    .logo{
        display: block;
        width: 136px;
        margin: 0 auto;

        @include breakpoints($tablet){
            width: 200px;
        }
        @include breakpoints($desktop){
            margin: 0px;
            float: left;
        }
    }

    .of-content{
        padding-left: 16px;
        padding-top: 56px;

        @include breakpoints($tablet){
            padding-left: 0px;
            padding-top: 80px;
            @include clearfix;
        }
        @include breakpoints($desktop){
            padding-top: 0px;
        }

        .m-menu--footer{
            @include clearfix;
            padding-bottom: 29px;
            padding-left: 20px;
            @include breakpoints($tablet){
                width: 210px;
                float: left;
                padding-bottom: 0px;
                padding-left: 0px;
            }

            @include breakpoints($desktop){
                width: 210px;
                margin-left: 428px;
            }
        }
        .col-1{
            width: 125px;
            float: left;
        }
        .col-2{
            width: 178px;
            float: left;
            @include breakpoints($tablet){
                margin-left: 8px;
            }
            @include breakpoints($desktop){
                margin-left: 40px;
            }
        }
    
        .of-contact{
            @include breakpoints($tablet){
                float: left;
                margin-top: -7px;
                margin-left: 8px;
                width: 302px;
            }
            @include breakpoints($desktop){
                margin-left: 13px;
                width: 302px;
            }

            .ofc-line{
                margin-bottom: 10px;
            }
        }

        .ofc-line.address{
            display: block;
            &:before{
                content: '\e90e';
                font-family: 'icomoon';
                font-size: 30px;
                vertical-align: 30px;
                color: $primary-color;
                padding: 0px 2px;
                margin: 0px 5px;

            }
            span{
                @include NutmegReg();
                width: calc(100% - 80px);
                font-size: 15px;
                line-height: 20px;
                opacity: 1;
                margin: 1px 0px;
                padding: 0px;
                overflow: hidden;
                display: inline-block;
                vertical-align: -8px;
                color: $white;
                vertical-align: top;
            }
        }
    }
}

.socket{
    background-color: $primary-color;
    text-align: center;
    .w-content{
        width: 320px;
        margin: 0 auto;
        padding: 30px 0px;
        @include breakpoints($tablet){
            width: 578px;
            padding: 38px 0px;
        }
        @include breakpoints($desktop){
            padding: 0px;
            height: 73px;
            width: 1170px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .m-menu--socket{
        @include breakpoints($desktop){
            margin-left: auto;
            margin-right: 45px;
            order: 2;
        }
    }

    .m-menu--social{
        order: 3;
        margin: 15px 0px;

        @include breakpoints($tablet){
            margin: 17px 0px;
        }
        @include breakpoints($desktop){
            margin: 0px;
        }
    }

    .copyright{
        font-size:13px;
        padding: 9px 0px;
        @include NutmegReg();
        font-size: 13px;
        color: white;
        line-height: 25px; 
        text-decoration: none;
        position: relative;

        &:hover{
            position: relative;
            &:after{
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                bottom: 9px;
                left: 0px;
                background-color: $white;

                @include breakpoints($desktop){
                    bottom: 13px;
                }
            }
        }
        .icon-srqu{
            text-decoration: none;
            &::before{
                color: $white;
                font-size: 20px;
                text-decoration: none;
                vertical-align: -3px;
            }
        }

        @include breakpoints($desktop){
            order: 1;
        }
    }
}