header{
    position: absolute;
    width: 100%;
    z-index: 100;
    background-image: url('../img/shadows/shadow-top-mb.png');
    background-position: top center;
    background-size: 825px auto;
    background-repeat: no-repeat;
    height: 182px;

    @include breakpoints($tablet){
        background-image: url('../img/shadows/shadow-top-tb.png');
        background-position: top center;
        background-size: 1271px auto;
        background-repeat: no-repeat;
        height: 241px;
    }

    @include breakpoints($desktop){
        background-image: url('../img/shadows/shadow-top-dt.png');
        background-position: top center;
        background-size: 2161px auto;
        background-repeat: no-repeat;
        height: 291px;
    }

    .wrapper{
        @include clearfix;
        @include breakpoints($tablet){
            max-width: 748px;
        }
        @include breakpoints($desktop){
            max-width: 1180px;
        }
    }

    .logo{
        width: 125px;
        float: left;
        margin: 20px 5px;
        
        @include breakpoints(375px){
            margin: 20px 0px;
        }
        @include breakpoints($tablet){
            width: 215px;
            margin: 30px 10px;
        }

        @include breakpoints($desktop){
            width: 270px;
            margin: 40px 0px 40px -30px;
        }

        img{
            width: 100%;
        }
    }

    .header-content{
        width: calc(100% - 135px);
        float: left;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 20px 10px 20px 5px;

        @include breakpoints(375px){
            width: calc(100% - 125px);
            padding: 20px 0px 20px 15px;
        }

        @include breakpoints($tablet){
            width: calc(100% - 235px);
            max-width: 535px;
            justify-content: space-between;
            padding-left: 55px;
            padding-right: 10px;
        }

        @include breakpoints($desktop){
            width: calc(100% - 270px);
            max-width: none;
            padding: 40px 0px 40px 60px;
        }

        @include breakpoints($bigdesk){
            padding: 40px 0px 40px 120px;
        }


    }

    .contact{
        display: none;

        @include breakpoints($tablet){
            display: inline-block;
            flex-basis: 470px;
            order: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            a{
                margin-right: 10px;
            }
        }

    }
    .m-menu--lang{
        
        flex-basis: 75px;
        padding: 10px 2px;
        order: 1;

        @include breakpoints($tablet){
            flex-basis: 75px;
            order: 2;
        }

        @include breakpoints($desktop){
            flex-basis: 75px;
            order: 3;
        }
    }

    .m-menu--switcher--header{
        flex-basis: 118px;
        order: 2;

        @include breakpoints($tablet){
            flex-basis: 305px;
            order: 3;
            padding-top: 20px;
        }

        @include breakpoints($desktop){
            order: 2;
            padding-top: 0px;
        }
    }

    .m-menu--primary{
        display: none;

        @include breakpoints($desktop){
            display: block;
            flex-basis: 100%;
            order: 4;
            padding-top: 30px;
        }
    }

    .m-menu--burger{
        display: inline-block;
        order: 3;
        background-color: $secondary-color;
        margin: 20px 0px;
        @include breakpoints($tablet){
            position: relative;
            bottom: 0;
            left: 0;
            flex-basis: 65px;
        }

        @include breakpoints($desktop){
            display: none;
        }
    }

}

#o-header--sticky{
    @include clearfix();
    display: none;
    background-color: $white;
    box-shadow: 0px 2px 3px 0px rgba(200,200,200,0.5);

    &.scroll{
        display: block;
        position: fixed;
        animation: headerScroll 0.5s forwards;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 101;
        padding: 15px;

        @include breakpoints(375px){
            padding: 15px 25px;
        }
    }

    .logo{
        float: left;
        width: 215px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include breakpoints(374px){
            width: 234px;
        }

        @include breakpoints($tablet){
            width: 275px;
        }


        img{
            width: 100%;
        }
    }

    .m-menu--burger{
        float: right;
        background-color: $primary-color;
    }
}


@keyframes headerScroll {
    0%      {   top: -80px;    }
    100%    {   top: 0;        }
}