.o-centros-container{
    padding: 80px 0px;

    .m-centros-item--left,
    .m-centros-item--right{
        transition: all 0.25s ease-in-out;
        &:hover{
            transform: translateY(-10px);
            box-shadow: 6px 6px 20px 0px rgba(130,127,130,1);
        }
    }

}