.o-caracteristics-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 314px;
    margin: 0 auto;
    padding: 40px 0px;

    @include breakpoints($tablet){
        width: 574px;
    }
    .m-caracteristics-item{
        width: 48%;
        padding-bottom: 10px;
        @include breakpoints($tablet){
            width: 32%;
        }
    }

}