.o-vehicles-container{
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 40px;


    @include breakpoints($tablet){
        width: 680px;

    }

    @include breakpoints($desktop){
        width: 100%;
        padding: 40px 20px 40px 40px;
    }

    .m-vehicle-item{
        margin-bottom: 20px;

        @include breakpoints($tablet){
            margin-right: 20px;
        }
    }
}